<div class="container-fluid dashboard" id="dashboard">

  <div class="header_bg">
    <div class="container header_content">
      <div class="header_content_inner">
        <h1 class="dashboard_heading">Dashboard</h1>
      </div>
    </div>
  </div>

  <div class="container dashboard_inner">
    <div *ngFor="let data of model" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding1
    {{(data.componant=='mesg' || data.componant=='ad')?'hide':''}}">
      <div class="course_block b{{data.block}} hvr-grow glow_effect glow_effect" (click)="loadComponent(data.componant)"  [style.background]="data.color">
        <div class="course_block_inner">
          <div class="bg_img" [style.background-image]="'url('+data.image+')'">
            <h2 class="learning_zone hidden-xs hidden-sm">{{data.title}}</h2>
          </div>
          <div class="learn_more">
            <div class="skewed hidden-xs"></div>
            <div class="learn_more_sub">
              <h2 class="learning_zone visible-xs visible-sm" [style.color]="data.color">{{data.title}}</h2>
              <h3>{{data.description}}</h3>
              <button class="learning_learn_more" [style.background]="data.color"> {{data.btn_title | uppercase}} </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="clearfix"></div>

<div class="copyright col-md-12">
  <p><span>Copyright &copy; {{year}} Top Bug Education.</span> All rights reserved. Top Bug Education is a subsidiary of Edickson Lanka (PVT) LTD, Sri Lanka.</p>
</div>
