
@import '../../assets/sass/variables';

.loading                                            { background-image: url($image-path +"loader.gif") !important; background-size: 30px !important; background-repeat: no-repeat !important; background-position: 50% !important; background-color: rgba(0, 0, 0, 0.22) !important; }
#dashboard 											{ padding: 0 0 45px 0;  @include calc(height, "100% - 43px"); //@extend .vwport;
  .dashboard_inner 								{ position: relative; top: -50px; }
  .right_panel  									{ padding-right: 0; }
    h1 										{ color: #fff; text-transform: uppercase; font-size: 27px; letter-spacing: 0.2rem  }

    .course_block  							{ min-height: 390px; width: 100%; background-position: 50% 0%; @include boxShadow(); color: #fff; position: relative; overflow: hidden; cursor: pointer; margin-bottom: 15px;

    .learn_more								{ width:100%; position:absolute; bottom:0px; text-align:center; background:#fff; min-height:25%; z-index: 100; }

    .course_block_inner	 					{ @extend .vwport; position: absolute; top: 0; left: 0;  }
    h2										{font-size:15px; text-align: center; margin-top: 30px; letter-spacing: 0.05rem; text-transform: uppercase; }
    h3 										{font-size: 12px; color:#707275; margin: 15px 0;}
    button.learning_learn_more 				{@extend  .bg_new_blue; border: none; cursor: pointer; border-radius: 1.48rem; font-size: 12px; margin-bottom: 19px; padding: 10px 36px 10px 36px;}
    button.assessment_learn_more 			{@extend  .bg_new_dimention; border: none; cursor: pointer; border-radius: 1.48rem; font-size: 10px; margin-bottom: 19px; padding: 10px 36px 10px 36px;}
    button.test_learn_more 					{@extend  .bg_new_yellow; border: none; cursor: pointer; border-radius: 1.48rem; font-size: 10px;  margin-bottom: 19px; padding: 10px 36px 10px 36px;}
    button.performance_learn_more 			{@extend  .bg_new_green; border: none; cursor: pointer; border-radius: 1.48rem; font-size: 10px; margin-bottom: 19px; padding: 10px 36px 10px 36px;}
    .skewed									{ position: absolute; width: 200%;  min-height: 100%; background: #FFFFFF;  transform: rotate(-10deg); left: -50%; top: -25%; z-index: -1;
  }


    &.small_content 						{ @include calc(width, "25% - 15px"); margin-right: 15px; }
    &.b1 									{ @extend  .bg_new_blue; padding: 15px;  border-radius:4px;
      .bg_img 							{ background-size: 100%; background-repeat: no-repeat;  height:100%;}
  }
    &.b2 									{ @extend  .bg_new_dimention; padding: 15px; border-radius:4px;
      .bg_img 							{ background-size: 100%; background-repeat: no-repeat; height:100%;  }
  }

    &.b3 									{ @extend  .bg_new_yellow; padding: 15px; border-radius:4px;
      .bg_img 							{ background-size: 100%; background-repeat: no-repeat; height:100%; }
  }

    &.b4 									{ @extend  .bg_new_green; padding: 15px; border-radius:4px;
      .bg_img 							{ background-size: 100%; background-repeat: no-repeat; height:100%; }
  }




  }
}

.copyright 											{ text-align: center; margin-top: 0px; line-height: 13px; font-family: Montserrat-light; background: $dark_blue; color: #fff; padding: 15px; font-size: $default_font_size - 3; }

.hvr-grow:active, .hvr-grow:focus, .hvr-grow:hover 	{ -webkit-transform: scale(1.02); transform: scale(1.02); }
.glow_effect:after 									{ content: ""; position: absolute; top: -110%; left: -210%; width: 200%; height: 350%; opacity: 0; transform: rotate(30deg);  background: rgba(255, 255, 255, 0.10); background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.1) 77%,rgba(255, 255, 255, 0.2) 92%,rgba(255, 255, 255, 0.0) 100%); }
.glow_effect:hover:after 							{ opacity: 1; top: -140%; left: -30%; transition-property: left, top, opacity; transition-duration: 0.7s, 0.7s, 0.15s; transition-timing-function: ease; }
.glow_effect.active:after 							{ opacity: 0; }
.blue_green_bg 										{
  background: #029e88; /* Old browsers */
  background: -moz-linear-gradient(top,  #029e88 0%, #004c6e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #029e88 0%,#004c6e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #029e88 0%,#004c6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029e88', endColorstr='#004c6e',GradientType=0 ); /* IE6-9 */
}

.bg_new_blue						{background:#22c8f8;}
.bg_new_dimention					{background:#c05a67;}
.bg_new_yellow						{background:#e2a21c;}
.bg_new_green						{background:#007c7c;}


.bg_blue 							{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0bafec+0,68caf1+100 */
  background: #0bafec; /* Old browsers */
  background: -moz-linear-gradient(top,  #0bafec 0%, #68caf1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0bafec 0%,#68caf1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0bafec 0%,#68caf1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bafec', endColorstr='#68caf1',GradientType=0 ); /* IE6-9 */
}

.red_bg								{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1656a+0,d2979d+100 */
  background: #c1656a; /* Old browsers */
  background: -moz-linear-gradient(top,  #c1656a 0%, #d2979d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #c1656a 0%,#d2979d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #c1656a 0%,#d2979d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1656a', endColorstr='#d2979d',GradientType=0 ); /* IE6-9 */
}
.red_bg_horizontal					{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec4c4c+38,f0c0c0+100 */
  background: #ec4c4c; /* Old browsers */
  background: -moz-linear-gradient(left,  #ec4c4c 38%, #f0c0c0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ec4c4c 38%,#f0c0c0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ec4c4c 38%,#f0c0c0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec4c4c', endColorstr='#f0c0c0',GradientType=1 ); /* IE6-9 */

}

.short_content 						{ padding-right: 150px; }
.green_bg 							{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08ab8c+38,b6e0d6+100 */
  background: #08ab8c; /* Old browsers */
  background: -moz-linear-gradient(top,  #08ab8c 38%, #b6e0d6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #08ab8c 38%,#b6e0d6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #08ab8c 38%,#b6e0d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08ab8c', endColorstr='#b6e0d6',GradientType=0 ); /* IE6-9 */
}
.orange_bg 							{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6ae64+0,f59735+69 */
  background: #f6ae64; /* Old browsers */
  background: -moz-linear-gradient(top,  #f6ae64 0%, #f59735 69%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f6ae64 0%,#f59735 69%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f6ae64 0%,#f59735 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ae64', endColorstr='#f59735',GradientType=0 ); /* IE6-9 */
}
.yellow_bg 							{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8d583+1,f9bf30+69 */
  background: #f8d583; /* Old browsers */
  background: -moz-linear-gradient(top,  #f8d583 1%, #f9bf30 69%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f8d583 1%,#f9bf30 69%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f8d583 1%,#f9bf30 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8d583', endColorstr='#f9bf30',GradientType=0 ); /* IE6-9 */
}


.yellow_bg_horizontal 				{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcb815+38,f6dda4+100 */
  background: #fcb815; /* Old browsers */
  background: -moz-linear-gradient(left,  #fcb815 38%, #f6dda4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #fcb815 38%,#f6dda4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #fcb815 38%,#f6dda4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb815', endColorstr='#f6dda4',GradientType=1 ); /* IE6-9 */

}

.yellow_bg_lighter 					{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc233+1,fdd677+47 */
  background: #fcc233; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcc233 1%, #fdd677 47%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcc233 1%,#fdd677 47%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcc233 1%,#fdd677 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc233', endColorstr='#fdd677',GradientType=0 ); /* IE6-9 */

}

.red_bg1 							{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed4e4b+0,f58b8b+100 */
  background: #ed4e4b; /* Old browsers */
  background: -moz-linear-gradient(top,  #ed4e4b 0%, #f58b8b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ed4e4b 0%,#f58b8b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ed4e4b 0%,#f58b8b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4e4b', endColorstr='#f58b8b',GradientType=0 ); /* IE6-9 */

}

.blue_bg 							{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01adef+1,37bff1+49,5ecbf4+100 */
  background: #01adef; /* Old browsers */
  background: -moz-linear-gradient(top,  #01adef 1%, #37bff1 49%, #5ecbf4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #01adef 1%,#37bff1 49%,#5ecbf4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #01adef 1%,#37bff1 49%,#5ecbf4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01adef', endColorstr='#5ecbf4',GradientType=0 ); /* IE6-9 */
}

.new_dimention_bg 				{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3199cc+0,c65b63+57,204d6c+100 */
  background: #3199cc; /* Old browsers */
  background: -moz-linear-gradient(top,  #3199cc 0%, #c65b63 57%, #204d6c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3199cc 0%,#c65b63 57%,#204d6c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3199cc 0%,#c65b63 57%,#204d6c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3199cc', endColorstr='#204d6c',GradientType=0 ); /* IE6-9 */

}

#myNavbar 						{
  #nav 						{
    li 						{
      .dropdown-menu      {
        #notify_summ    { height:auto; max-height:115px;
          a 			{ text-align: left; width: 100%; font-size: 11px; display: block; text-decoration: none; padding:5px 15px; margin-bottom: 3px; letter-spacing: 0.03rem; cursor: pointer; line-height:15px;
            &:hover { opacity: 0.7;}
        }
          p 			{ font-size: 12px; display: block; padding:5px 15px; color: #014b70; font-weight:600;}
      }
        #message-wrap 	{ height:auto; max-height:115px;
          p 			{ font-size: 12px; display: block; padding:5px 15px; color: #014b70; font-weight:600;}
      }
    }
  }
}
}

.planner_box, .alert_box 							{ margin: 12% auto;
  .modal-content 									{ border-radius: 0;  background: #f2f2f2; border: 0; }
  .modal-dialog 									{ max-width: 450px; }
  .modal-header 									{ background: $dark_blue; color: #fff; border-radius: 0; padding: 10px 15px; font-size: $default_font_size - 1; }
  .modal-body 									{ color: $dark_blue; font-size: $default_font_size - 1;
    input.form-control 							{ margin-top: 10px; border-radius: 0; border: 1px lighten($dark_blue, 0%) solid; color: $dark_blue; height: auto; padding: 3px 12px; outline: 0; box-shadow: none; }
    .radio 										{ margin-bottom: 20px; line-height: 20px; }
    ul 											{ margin-bottom: 10px;
      li 										{ }
  }
    p 											{ font-size: $default_font_size - 2; line-height: 15px; }
}
  .modal-footer 									{ border: 0; padding-top: 0;
    button.btn 									{ font-size: $default_font_size - 2; padding: 10px 20px;  }
}
}

.padding0                                           { padding: 0px; }
.padding1                                           { padding: 10px; }





//responsive


@mixin calc($key, $value) 					{ #{$key}: -webkit-calc(#{$value}); #{$key}: -moz-calc(#{$value}); #{$key}: calc(#{$value}); }


@media (max-width: 768px){

  #dashboard								{ transition: width 1s;
    .padding1							{ padding:0px;}
    .course_block						{
      .learn_more						{ width:50%; position:absolute; height: 100%; right: 0px; display: table;
        .learn_more_sub				{ display: table-cell;vertical-align: middle; overflow: hidden; padding: 10px;}
      }
      h2 								{ font-size: 13px;  line-height: 16px; padding-bottom: 5px;
        &.learning_zone				{ color:#22c8f8; }
        &.ass_center				{ color:#c05a67; }
        &.test_chal					{ color:#e2a21c; }
        &.per_rev					{ color:#007c7c; }

      }


      h3								{ font-size: 10px; color:#707275; margin-bottom: 39px;}

      button.dashboardbtn	 			{ font-size: 10px !important; padding: 10px 20px !important; width:130px;
        &.learning_learn_more 		{ background: #22c8f8; color:#fff; }
        &.assessment_learn_more 	{ background: #c05a67; color:#fff;}
        &.test_learn_more 			{ background: #e2a21c; color:#fff; }
        &.performance_learn_more 	{ background: #007c7c; color:#fff; }
      }

      &.b1 						{ min-height: 211px;
        .bg_img 				{ background-size: 50%; background-repeat: no-repeat; background-position: 0% 27%; }
      }
      &.b2 						{ min-height: 211px;
        .bg_img 				{ background-size: 50%; background-repeat: no-repeat; background-position: 0% 55%; }
      }
      &.b3 						{ min-height: 211px;
        .bg_img 				{ background-size: 47%; background-repeat: no-repeat; background-position: 0% 75%; }
      }
      &.b4 						{ min-height: 211px;
        .bg_img 				{ background-size: 47%; background-repeat: no-repeat; background-position: 0% 75%; }
      }

      .skewed							{ transform: rotate(180deg); @include calc(left, "92% - 145px"); top: 0%;}
    }
  }
  .modal 									{ bottom: auto;}
  .logout_confirm_box, .quit_test_msgbox, .confirm_box  { margin: 45% 12px;
    .modal-content                        { border-radius: 5px;}
    .modal-dialog                         { }
    .modal-header                         { padding: 20px 15px; font-size: 18px; text-align: center; border-radius: 5px 5px 0px 0px;
      .modal-title 						{ letter-spacing: 0.1rem;}
    }
    .modal-body                           { margin-bottom: 15px; margin-top: 10px; text-align: center;
      input.form-control                  { }
      .radio                              { }
      ul                                  {
        li                                { }
      }
      p                                     { line-height: 20px; letter-spacing: 0.1rem;}
    }
    .modal-footer                           { text-align: center;
      button.btn                          { font-size: 13px; height: 46px; width: 120px; letter-spacing: 0.1rem;}
    }
  }
}

@media (min-width: 769px) and (max-width: 991px){

  #dashboard								{ transition: width 1s;
    .padding1							{ padding:7px;}
    .course_block						{ margin-bottom: 0;
      .learn_more						{ width:50%; height: 100%; right: 0px; display: table;
        .learn_more_sub				{ display: table-cell;vertical-align: middle; overflow: hidden;}
      }
      h2.learning_zone				{ font-size: 12px; color:#22c8f8; padding-bottom: 5px;}
      h2.ass_center					{ font-size: 12px; color:#c05a67; padding-bottom: 5px;}
      h2.test_chal					{ font-size: 12px; color:#e2a21c; padding-bottom: 5px;}
      h2.per_rev						{ font-size: 12px; color:#007c7c; padding-bottom: 5px;}

      button.learning_learn_more 		{ background: #22c8f8; color:#fff; margin-bottom: 19px;}
      button.assessment_learn_more 	{ background: #c05a67; color:#fff; margin-bottom: 19px;}
      button.test_learn_more 			{ background: #e2a21c; color:#fff; margin-bottom: 19px;}
      button.performance_learn_more 	{ background: #007c7c; color:#fff; margin-bottom: 19px;}
      &.b1 						{ min-height: 211px;
        .bg_img 				{ background-size: 50%; background-position: 0% 27%; }
      }
      &.b2 						{ min-height: 211px;
        .bg_img 				{ background-size: 54%; background-position: 0% 75%; }
      }
      &.b3 						{ min-height: 211px;
        .bg_img 				{ background-size: 50%; background-position: 0% 75%; }
      }
      &.b4 						{ min-height: 211px;
        .bg_img 				{ background-size: 53%; background-position: 0% 75%; }
      }

      .skewed							{ transform: rotate(180deg); @include calc(left, "92% - 145px"); top: 0%;}
    }
  }

}

@media (min-width: 992px) and (max-width: 1300px){
  #dashboard 								{transition: width 1s;
    .course_block  					{
      .bg_img						{ background-position: 50% 10%; }

    }
  }

}

@media only screen and (min-width: 1400px) {


  #dashboard 										{
    .left_panel, .right_panel 						{
      .course_block 								{ min-height: 180px;
        &.b4 									{ min-height: 375px; }
      }
    }
  }

}

@media only screen and (min-width: 1670px) {

  #dashboard 										{
    .course_block 									{ min-height: 450px;
      .left_panel, .right_panel 						{

        h2 										{ font-size: 20px; }
        h3 										{ font-size: 15px; }
        &.b4 									{ min-height: 455px; }

        &.b5 .bg_img							{ background-position: 50% 75%; }
        &.b6 .bg_img							{ background-position: 50% 75%; }
        &.b7 .bg_img							{ background-position: 65% 70%; background-size: 82%; }
        .skewed									{  position: absolute; width: 100%;  min-height: 150%; background: #FFFFFF;  transform: rotate(75deg); left: 0%; @include calc(top, "50% - 63px");}
      }
    }
  }

}



