@import '../../assets/sass/variables';

@mixin box_shadow() 								{ -webkit-box-shadow: 1px 1px 18px -8px rgba(0,0,0,0.75); -moz-box-shadow: 1px 1px 18px -8px rgba(0,0,0,0.75); box-shadow: 1px 1px 18px -8px rgba(0,0,0,0.75); }

#performance_review 								{ padding: 0 0 30px 0; width: 100%; //@include calc(height, "100% - 43px");  //@extend .vwport;
  .performance_review_inner 						{ margin-top: -20px;   }
  .content_head 									{
    button.btn.back 							{ background: #bfbfbf; position: absolute; top: 0; }
  }

  .content_body 									{
    .header_tabs 								{
      $margin-right: 15px;
      #main_navtabs 							{ width:100%; border:0;
        li 									{ text-transform: uppercase; @include calc(width, "20% - 12px"); margin-right: $margin-right;
          a 								{ text-align:center; margin-bottom: 15px; border-radius: 20px; font-size: 12px; letter-spacing: 0.05rem; font-weight: 800; background: #fff; color: #111; @include box_shadow();}
          &.active 						{
            a 							{ border-color: #97a8af; background: #97a8af; color: #fff;}
          }
          &:last-child 					{ margin-right:0;}
        }
      }
    }
    .innertabs 									{ min-height: 350px;
      .pr_tabs 								{ background: #fff; color: #111; border-radius: 4px; @include box_shadow();
        .nav-tabs							{ display: table; margin: auto; border:0;
          li 								{ text-transform: uppercase;
            a 							{ font-family: Montserrat-Regular; border: 0; background: none; margin: 20px 0; border-radius: 0; font-size: 12px; color: #97a8af; letter-spacing: 0.07rem; font-weight:600; cursor:pointer;}
            &.active 					{
              a 						{ color: $dark_blue;}
            }
          }
          .dropdown 						{
            a 							{ text-align: left; line-height: 1em;}
            &.active 					{
              a 						{ background: none; box-shadow: none; border: 0;}
            }
            .dropdown-menu 				{ padding:0;
              li 						{
                a 					{ margin:0; padding: 10px; border-bottom: 1px solid;
                  &:hover 		{ background: $dark_blue; color:#fff;}
                }
                &:last-child 		{
                  a 				{ border-bottom:0;}
                }
              }
            }
          }
        }
      }
      #timeOnportal 							{
        $margin-right: 15px;
        .innercontent 						{ padding: 20px 0; border-top: 1px solid #e6ecef; border-bottom: 1px solid #e6ecef;
          h2 								{ text-align: center; color: rgba(1,75,112,0.43); padding:50px 0;  width: 100%; text-transform:uppercase; font-size: $default_font_size;}
          .chart 							{ color: $dark_blue;
            .c3-legend-item 			{
              text 					{ font-family: Montserrat-Regular; color: $dark_blue;}
            }
          }
        }
        .subjects 							{ width: 100%; margin: 20px 0; float: left; @include box_shadow();
          .list 							{ background: #eee; color: #fff; padding: 15px; @include calc(width, "25% - "+$margin-right); margin-right: ($margin-right*4)/3; text-transform:uppercase; font-size: $default_font_size - 2;
            &:nth-child(4n) 			{ margin-right: 0; }
            .time_for_subject 			{ float: right;}
          }
        }

        .footer_panel 						{ text-transform: uppercase; background: #97a8af; padding: 15px; width: 100%; @include box_shadow();
          h3								{ float: left; font-size: $default_font_size; color: #fff;}
          span 							{ float: right; color: #fff; }
        }
      }
      #testScores 							{
        .testScores_tab_inner 				{
          #nav_testscores_inner 			{ border-top: 1px solid #e6ecef; min-height: 480px;
            .chart						{ width: 100%; padding:25px 0; min-height:380px; font-family: Montserrat-Regular;
              h2 						{ text-align: center; color: rgba(1, 75, 112, 0.43); position: absolute; width: 100%; top: 200px; text-transform: uppercase; font-size: 14px;}
              svg 					{ display: block; margin: auto; width: 1100px;
                text 				{ font-family: Montserrat-Regular; font-size: 10px; fill: $dark_blue; text-transform: uppercase;
                  &.c3-axis-y-label,
                  &.c3-axis-x-label {  font-family: Montserrat-Regular; font-size: 12px; }
                }
                // circle.c3-shape 			{ transition: 0.3s all ease; cursor: pointer; }
                .c3-legend-item-event { display: none; }

              }
            }
            #test_scores.c3 line,
            #test_scores.c3 path 			{ stroke: $default_blue; }
            #test_scores.c3 path 			{ stroke-width: 3px; }
            .c3-axis-x path 				{ stroke-width: 2px; }
            .c3-axis-y path 				{ stroke-width: 2px; }
            .c3-grid line 					{ stroke-dasharray: 1,1; }

            .c3-tooltip-container 			{ transition: 0.1s all ease;
              .performance_tooltip 		{ width : 170px;  overflow: hidden;  background: #fff; border: 2px #fa841a solid;
                .test_date  			{ color: $dark_blue; font-size: $default_font_size - 1; text-align: center; padding: 5px; }
                ul 						{ padding: 5px;
                  li 					{ padding: 10px; margin-bottom: 3px; text-align: center; color: #fff;
                    &.test_score 	{ background-color: #7b4b5b; background-image: url($image-path +"performance-review/score.svg"); background-repeat: no-repeat; background-position: 2% 50%; background-size: 40px;  }
                    &.test_time 	{ background-color: #00797c;  background-image: url($image-path +"performance-review/clock.svg"); background-repeat: no-repeat; background-position: 2% 50%; background-size: 15%; }
                    &.test_stars 	{ background-color: #f69c21; margin-bottom: 0; background-image: url($image-path +"performance-review/stars_full.svg"); background-repeat: no-repeat; background-size: cover; }
                  }
                }
              }
            }
            .scoreheading 					{ text-transform: uppercase; width: 100%; @include box_shadow(); background: $dark_blue; border-top:1px #e6ecef solid; text-align:center;
              h3							{ font-size: $default_font_size - 2; color: #fff; padding:15px; }
            }
          }
        }
      }
      #moduleConfidence 						{
        #nav_moduleconfidence_inner			{
          .test_scores_strengths 			{ min-height: 350px; width: 100%; padding:30px; border-top:1px #e6ecef solid;
            h2.nodata 					{ text-align: center; color: rgba(1,75,112,0.43); position: absolute; width: 100%; top: 150px; }
            .test_scores_strengths_item	{
              .title 					{ margin-bottom: 10px;
                h2 					{ font-size: $default_font_size - 2; text-transform:uppercase; font-weight:600;}
              }
              .progress_container 	{ position: relative; }
              .progress 				{ box-shadow: none; background: transparent; border-radius: 0; margin-bottom: 30px; height: 30px;
                &.average_progress 	{ width: 100%; position:absolute; top: 0;}
                .progress-bar 		{ box-shadow: none;
                  &.bg_progressbar{ opacity: 0.2; }
                  &.progress-bar-danger  { background: #e73f3f; }
                  &.progress-bar-warning { background: #fa841a; }
                  &.progress-bar-success { background: #01c971; }
                }
              }
              &:last-child 			{
                .progress           { margin-bottom: 0; }
              }
            }
          }
          .last_10_tests 					{ text-transform: uppercase; width: 100%; @include box_shadow(); background: $dark_blue; border-top:1px #e6ecef solid; text-align:center;
            h3							{ font-size: $default_font_size - 2; color: #fff; padding:15px; }
          }
        }
      }
      #leaderboards 							{
        #nav_leaderboard_inner 				{ padding:0 5px; min-height: 285px;
          h2 								{ text-align: center; color: rgba(1,75,112,0.43); position: absolute; width: 100%; top: 180px; text-transform:uppercase; font-size: $default_font_size;}
          table 							{ width:100%;
            tbody, thead 				{
              tr 						{ padding: 0; font-size: $default_font_size - 2; background: #cfd7da;
                td 					{ padding: 15px 20px; color:$dark_blue; vertical-align: middle; border-right: 1px solid #fff; text-transform:uppercase;
                  &:last-child 	{ border-right: 0; vertical-align: middle; text-align: center; }
                  &:first-child   { font-size: $default_font_size + 6; background: #97a8af; color:#111; text-align: center; }
                  .superscript 	{ font-size: $default_font_size - 3;; vertical-align: super;}
                  .profile_img 	{ vertical-align: middle; border-radius: 50%; width: 28px; height: 28px; background: #f1f1f1; background-image: url($image-path +"performance-review/child1.png"); background-size: contain; display: inline-block; margin-right:10px;}
                  .pe-7f-cup 		{ font-size: 20px; color: #d2b013; vertical-align: middle;}
                  .pe-7f-star 	{ font-size: 25px; color: #fed000; vertical-align: middle; margin-right:5px;}
                  .stars 			{ vertical-align: middle; display:inline-block; line-height:24px;}
                  .gotoprofile 	{ cursor:pointer;}
                }
              }
            }
          }
          .spacer 						{ height:5px;}
        }
      }
      #activities 							{
        #nav_activity_inner 				{ padding:0 5px; min-height: 285px;
          h2 								{ text-align: center; color: rgba(1,75,112,0.43); position: absolute; width: 100%; top: 180px; text-transform:uppercase; font-size: $default_font_size;}
          table 							{ width:100%;
            thead 						{
              tr 						{ background:$dark_blue!important;
                td 					{ font-weight:600; text-transform:uppercase; letter-spacing: 0.05rem; color:#fff!important;}
              }
            }
            tbody, thead 				{
              tr 						{ padding: 0; font-size: $default_font_size - 1; background: #e5edf0; border-bottom:5px solid #fff;
                td 					{ font-family: Montserrat-Regular;  padding: 15px 20px; color:$dark_blue; vertical-align: middle; border-right: 1px solid #fff; text-align:center; text-transform:uppercase; font-size:12px;
                  &:last-child 	{ border-right: 0;}
                  .profile_img 	{ vertical-align: middle; border-radius: 50%; width: 28px; height: 28px; background: #f1f1f1; background-image: url($image-path +"performance-review/child1.png"); background-size: contain; display: inline-block; margin-right:5px;}
                  .pe-7f-star 	{ font-size: 25px; color: #fed000; vertical-align: middle; margin-right:5px;}
                  .stars 			{ vertical-align: middle; display:inline-block; line-height:24px;}
                }
              }
            }
          }
        }
      }
    }
  }
}


li.subjects_list_item:hover .dropdown-menu 		{
  display: block;
}

.qtip 											{ max-width: inherit; border: 0; }
.qtip-content 									{ padding: 0; border: 0; }
.performance_tooltip.sw							{ overflow: hidden;  background: #fff; border: 2px #fa841a solid; display: flex;
  .test_date  								{ font-size: $default_font_size - 1; height: auto; text-align: center; padding: 5px;
    span 									{ height: 15px; font-size: 11px; }
  }
  ul 											{
    li 										{ margin-bottom: 3px; padding: 0 5px; color: $dark_blue; height: 44px; display: table; width: 100%;  border-bottom: 1px rgba(1, 75, 112, 0.27) solid;
      span 								{ display: table-cell; vertical-align: middle; text-align: center; }
      span.bg 							{ width: 40px; height: 40px; display: inline-block; margin-bottom: 3px; margin-left: 5px;
        &:last-child  					{ margin: 0; }
      }
      &.test_score 						{ font-size: $default_font_size + 5;  font-family: Montserrat-SemiBold;
        span.bg							{ background-color: #7b4b5b; background-image: url($image-path +"performance-review/score.svg"); background-repeat: no-repeat; background-position: 75% 50%; background-size:100%; }
      }
      &.test_time 						{ font-size: $default_font_size - 2 ; padding: 0 5px;  font-family: Montserrat-SemiBold;
        span.bg							{ background-color: #00797c;  background-image: url($image-path +"performance-review/clock.svg"); background-repeat: no-repeat; background-position: 50%; background-size: 80%; }
      }
      &.test_stars 						{ font-size: $default_font_size + 2; font-family: Montserrat-SemiBold;
        span.bg							{ background-color: #f69c21; margin-bottom: 0; background-image: url($image-path +"performance-review/starts_prizes.png"); background-repeat: no-repeat; background-size: cover; background-position: 50%; background-size: 108%; }
      }
      &.test_done 						{ padding: 5px;
        h2								{ font-size: $default_font_size; display: table-cell; vertical-align: middle;  }
      }
      &:last-child  						{ border: 0; margin-bottom: 0; }
    }
  }
}

.confirm_box  										{ margin: 12% auto;
  .modal-content 									{ border-radius: 0;  background: #f2f2f2; border: 0; }
  .modal-dialog 									{ max-width: 450px; }
  .modal-header 									{ background: $dark_blue; color: #fff; border-radius: 0; padding: 10px 15px; text-transform: capitalize;  font-size: $default_font_size - 1; }
  .modal-body 									{ color: $dark_blue; font-size: $default_font_size - 1;
    input.form-control 							{ margin-top: 10px; border-radius: 0; border: 1px lighten($dark_blue, 0%) solid; color: $dark_blue; height: auto; padding: 3px 12px; outline: 0; box-shadow: none; }
    .radio 										{ margin-bottom: 20px; line-height: 20px; }
    ul 											{ margin-bottom: 10px;
      li 										{ }
    }
    p 											{ font-size: $default_font_size - 2; line-height: 15px; }
  }
  .modal-footer 									{ border: 0; padding-top: 0;
    button.btn 									{ font-size: $default_font_size - 2; padding: 10px 20px;  }
  }
}


$DarkBrown: #292321;

$Orange: #CC3300;

input[type="radio"] {
  display:none;
}
input[type="radio"] + label {

}
input[type="radio"] + label span {
  display:inline-block;
  width:14px;
  height:14px;
  margin:-1px 10px 0 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius:  50%;
  border-radius:  50%;
}

input[type="radio"] + label span {
  border: 2px $dark_blue solid;
}

input[type="radio"]:checked + label span{
  background-color:$dark_blue;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.2s linear;
  -o-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
}



//responsive

@mixin calc($key, $value) 							{ #{$key}: -webkit-calc(#{$value}); #{$key}: -moz-calc(#{$value}); #{$key}: calc(#{$value}); }

@media only screen and (max-width: 400px) {




}

@media only screen and (max-width: 767px) {

  #performance_review  									{
    .content_head  										{
      h1 												{ margin-top: 10px;  font-size: 27px; }
      button.btn.back 								{ position: relative; display: block; margin: auto; width: 100%; }
    }
    .header_content_inner 								{
      h1 												{ font-size: 17px; padding-left: 15px;}
    }
    .content_body   									{
      .innertabs 										{ min-height:auto;
        #timeOnportal 								{
          .subjects 								{ box-shadow:none;
            .list 								{ width:100%; margin-right:0; margin-bottom:25px;}
          }
        }
        #activities 								{
          #nav_activity_inner 					{
            table 								{
              tbody 							{
                tr 							{
                  td 						{ line-height: 19px;}
                }
              }
            }
          }
        }
        #testScores  								{
          .testScores_tab_inner 					{
            #nav_testscores_inner 				{ min-height: 480px;
              .chart 							{
                svg 						{ width: auto;}
              }
            }
          }
        }
        .pr_tabs 									{
          .nav-tabs 								{
            li  								{
              a 								{ font-size: 10px; padding:10px 6px;}
            }
          }
        }
        #moduleConfidence 							{
          #nav_moduleconfidence_inner 			{
            .test_scores_strengths 				{
              .test_scores_strengths_item 	{
                .title 						{
                  h2						{ line-height: 19px;}
                }
              }
            }
          }
        }
      }
      .header_tabs 									{
        #main_navtabs 								{
          li 										{ width:100%; margin-right:0; margin-bottom:0;}
        }
      }
      .performance_block  							{ width: 100%; }
      .performance_review_block  						{
        .header 									{
          h3 										{ line-height: 20px;}
        }
        .subjects  									{
          .list  									{ width: 100%; }
        }
        .body 										{ margin-bottom: 50px; padding: 0;
          &.start_n_prizes						{ display: block; }
          .left_content 							{ padding: 0; margin: 10px 0; overflow: hidden;
            &.option_list  						{
              ul 								{
                li 							{ width: 50%; float: left; }
              }
            }

          }
          .right_content  						{ padding: 0;
            &.stars_subject_list 				{
              ul.stars_subject_list_items 	{
                li 							{ font-size: 12px; }
              }

              .leaderboard					{
                .body 						{ padding: 15px 0; }
                ul 							{
                  li 						{ padding: 10px 0;
                    span 				{ font-size: 12px !important;  line-height: 14px; }
                  }
                }
              }
            }

          }
        }

      }
    }
  }



}

@media only screen and (min-width: 768px) and (max-width: 1023px) {


  #performance_review  									{
    .content_head  										{ }
    .content_body   									{
      .performance_block  							{}
      .performance_review_block  						{
        .subjects  									{
          .list  									{  }
        }
        .body 										{
          .left_content 							{ width: 180px; float: left; }
          .right_content  						{ @include calc(width, "100% - 180px"); float: right;
            &.stars_subject_list  				{
              .leaderboard  					{
                .body 						{ padding: 20px; }
              }
            }


          }
        }

      }
    }
  }



}

@media only screen and (min-width: 1200px) {

  #performance_review 							{
    .content_body 								{
      .performance_block 						{  }
      .performance_review_block 				{
        .body								{
          .right_content 					{
            .chart 						{ max-height: 300px !important; min-height: 300px !important;
            }
          }
        }
      }
    }
  }


}

@media only screen and (min-width: 1400px) {
  #performance_review 							{
    .content_body 								{
      .performance_block 						{ height: 250px;  }
      .performance_review_block 				{
        .body								{
          .left_content					{
            .panel 						{
              .panel-heading 			{
                .panel-title a 		{ padding: 15px; font-size: 17px; }
              }
              .panel-body 			{
                span.subject_item,
                span.modules_item 	{ font-size: 14px; line-height: 20px; }
              }

            }
            &.timespent 				{
              ul 						{
                li 					{ font-size: 17px; padding: 12px 0px; }
              }
            }
          }
          .right_content 					{
            .chart 						{ max-height: 400px !important; min-height: 400px !important;
            }
          }
        }
      }
    }
  }

}


@media only screen and (min-width: 1670px) {

  #performance_review 							{
    .content_body 								{
      .performance_block 						{ height: auto;
        .performance_block_inner			{
          h2 								{ font-size: 17px; }
          .head 							{ min-height: 350px; }
        }
      }
      .performance_review_block 				{
        .body								{
          .left_content					{}
          .right_content 					{
            .chart 						{ max-height: 500px !important; min-height: 500px !important;
              h2 						{ top: 200px; }
            }
          }
        }
      }
    }
  }

}
