<div class="container-fluid performance_review" id="performance_review">
  <div class="header_bg parallax-window mini" >
    <div class="container header_content">
      <div class="header_content_inner">
        <button-dashboard></button-dashboard>
        <h1>Performance Review</h1>
      </div>
    </div>
  </div>
  <div class="container performance_review_inner">
    <div class="content_body row">
      <div class="header_tabs performance_review_tabs col-md-12">
        <ul class="nav nav-tabs" id="main_navtabs">
          <li class="top_tab mainlinks active" id="time-on-portal">
            <a class="timeonportal" data-toggle="tab" href="#timeOnportal">Time on portal</a>
          </li>
          <li class="ts_tab mainlinks" id="test-scores">
            <a class="testscores" data-toggle="tab" href="#testScores">test scores</a>
          </li>
          <li class="mc_tab mainlinks" id="module-confidence">
            <a class="moduleconfidence" data-toggle="tab" href="#moduleConfidence">module confidence</a>
          </li>
          <li class="l_tab mainlinks" id="leaderboard">
            <a class="leaderboard" data-toggle="tab" href="#leaderboards">leaderboard</a>
          </li>
          <li class="a_tab mainlinks" id="activity">
            <a class="activity" data-toggle="tab" href="#activities">activity</a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tab-content innertabs col-md-12" id="inner_tabs">
        <div id="timeOnportal" class="tab-pane pr_tabs timeOnportal_tab fade in active">
          <div class="timeOnportal_tab_inner timespent">
            <ul class="nav nav-tabs" id="nav_timeonportal">
              <li class="active">
                <a onclick="timeSpentOverall()">overall</a>
              </li>
              <li>
                <a onclick="timeSpentMonthly()">month</a>
              </li>
              <li>
                <a onclick="timeSpentWeekly()">week</a>
              </li>
              <li>
                <a onclick="timeSpentDaily()">day</a>
              </li>
            </ul>
            <div class="innercontent charts_inner">
              <div id="time_on_portal" class="chart"></div>
              <div class="clearfix"></div>
            </div>
            <div class="subjects">
              <div class="subjects_times">

              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="load_timeonportal footer_panel">
            <h3>Total Time On Portal</h3>
            <span class="time_in_portal" id="time_in_portal">00:00</span>
            <div class="clearfix"></div>
          </div>
        </div>
        <div id="testScores" class="tab-pane pr_tabs testScores_tab fade">
          <div class="testScores_tab_inner">
            <ul class="nav nav-tabs" id="nav_testscores">
            </ul>
            <div class="tab-content" id="nav_testscores_inner">
              <div class="scoreheading">
                <h3 id="Testtitle">Test Scores - Subject Test</h3>
              </div>
              <div id="test_scores" class="chart"></div>
              <div class="clearfix"></div>

            </div>
          </div>
        </div>
        <div id="moduleConfidence" class="tab-pane pr_tabs moduleConfidence_tab fade">
          <div class="moduleConfidence_tab_inner subject_St">
            <ul class="nav nav-tabs" id="nav_moduleconfidence">
            </ul>
            <div class="tab-content" id="nav_moduleconfidence_inner">
              <div class="last_10_tests">
                <h3>Last 10 tests</h3>
              </div>
              <div class="clearfix"></div>
              <div class="test_scores_strengths">

              </div>
            </div>
          </div>
        </div>
        <div id="leaderboards" class="tab-pane pr_tabs leaderboard_tab fade">
          <div class="leaderboard_tab_inner subject_St">
            <ul class="nav nav-tabs" id="nav_leaderboard">
            </ul>
            <div class="tab-content" id="nav_leaderboard_inner">
              <table class="leadertable">
              </table>
            </div>
          </div>
        </div>
        <div id="activities" class="tab-pane pr_tabs activity_tab fade">
          <div class="activity_tab_inner subject_St">
            <ul class="nav nav-tabs" id="nav_activity">
            </ul>
            <div class="tab-content" id="nav_activity_inner">
              <table class="activitytable">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
