<div id="remove-loader-wrapper" [ngClass]="load? 'load' : 'loaded'">
  <div id="loader-wrapper">
    <div id="loader">
      <div class="uil-flickr-css">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>
<div class="off_canvas_bg" [ngClass]="sideNavLoad? 'nav_show' : 'nav_hide'"></div>

