@import '../../assets/sass/variables';

.loader_ 													{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; bottom:0; z-index: 1005; background-color: rgba(0, 0, 0, 0.2); background-position: 50% !important; }
.thloader													{ width: 100%; height: 118%; position: absolute; top: 0; left: 0; bottom:0; z-index: 1005; background-color: rgba(0, 0, 0, 0.2); background-position: 50% !important; }
.vhidden  													{ visibility: hidden; }
.mCSB_inside>.mCSB_container 								{ margin: 0; }
.mCSB_scrollTools .mCSB_draggerContainer  					{ right: -12px; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar 			{ background-color: #868484; }
.mCSB_scrollTools .mCSB_draggerRail 						{ background-color: white; }
.mCSB_scrollTools 											{ z-index: 150; }
#learning_zone 												{ padding: 0 0 30px 0;
  .learning_zone_inner									{ position: relative; top: -25px; }
  b 														{ font-weight: 900; letter-spacing: 0.05rem; }
  .header 												{ position: relative;
    .alert{
      display: none;
      position:absolute;
      min-width: 200px;
      padding:5px;
      z-index: 1;
      .close{
        display: block;
        right: 0px;
    }
      p{
        margin-top: 3px;
        text-align: center;
    }
  };

    h2 													{ display: block; background: #fff; color: $dark_blue; @include boxShadow(); padding: 15px; margin-bottom: 15px; font-size: $default_font_size+3;  }
    .tutor-head 										{ }
}
  .selected_module 										{
    .body 												{ overflow: hidden; background: #fff;}
}

  .search_box 											{
    .title_box_inner 									{ color: $dark_blue; background: #fff; width:100%; padding: 10px 15px; box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); border-bottom: 4px rgba(0, 174, 237, 0) solid;
      h2 												{ color: inherit; font-size: 18px; margin-top: 8px; float: left; text-transform: uppercase; font-family: Montserrat-SemiBold; }
      .form-group 									{ position: relative; margin:0;
        i 											{ font-weight: 600; font-size: 12px; color: inherit; cursor:pointer; position: absolute; left: 12px; top: 9px; }
        input 										{ padding:5px; padding-left: 20px;  color: $dark_blue;  background: transparent; display:inline-block; background: none; font-size: 12px; border-radius: 0; border : 1px #cfd7da solid; padding: 0 30px; border-radius: 20px; @include transitionEffect(0.4s,all,ease); width:100%; height: 28px; box-shadow: none; outline: 0;
          &:focus 								{ border : 1px darken(#cfd7da, 15%) solid; }
      }

        input[type='text']:-moz-placeholder 			{ color: $dark_blue; }
        input[type='text']::-moz-placeholder 		 	{ color: $dark_blue; }
        input[type='text']:-ms-input-placeholder 	 	{ color: $dark_blue; }
        input[type='text']::-webkit-input-placeholder 	{ color: $dark_blue; }
    }
  }
}

  .subject_content 										{ margin-top: 30px;
    $margin-right: 15px;
    .subject_content_inner 								{ padding:0 15px;
      .subject_item 									{ overflow: hidden; box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); border-bottom: 4px rgba(0, 174, 237, 0) solid; transition: 0s all ease; @include calc(width, "25% - "+$margin-right); text-align:center; background:#fff; height:auto; padding:0; margin-right: ($margin-right*4)/3; @include transitionEffect(0.4s,all,ease);
        &.disabled 									{
          .inner_subcontent  						{
            h2 									{ color: #ccc; }
            button.btn 							{ background: #ccc;
              &:hover 						{ background: #ccc; }
          }

            .subject_img 						{
              img 							{ -webkit-filter:  grayscale(100%); -moz-filter:  grayscale(100%); -ms-filter:  grayscale(100%); -o-filter:  grayscale(100%); filter: grayscale(100%); }
          }

        }

          &:hover 								{ box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); }
      }
        &:nth-of-type(4)           					{ margin-right: 0;}
        &:hover 									{ box-shadow: 0 8px 20px 1px rgba(0,0,0,0.3);}
        .inner_subcontent 							{
          .head 									{ padding: 30px 20px; padding-bottom: 0; height: 260px;
            h2 									{ font-weight: 600; color: #fff; font-size: 17px; margin-bottom: 20px; text-transform: uppercase; letter-spacing: 0.09rem }
            .subject_img 						{ margin-bottom: 15px; height:100px;
              img 							{ max-width: 120px;  background: #ccc;   border-radius: 50%; padding: 5px; }
          }
            $skewed_width: 100;

        }
          .body 									{ padding: 20px; position: relative; z-index: 100;
            .skewed								{ position: absolute; width: 200%;  min-height: 100%; background: #FFFFFF;  transform: rotate(-10deg); left: -50%; top: -40%; z-index: -1; }
            button.btn 							{ background: $dark_blue; border-radius: 20px; padding: 7px 25px;
              &:focus, &:hover 				{ background: darken($dark_blue, 5%) }
              a 								{ color:#fff; font-size: 12px;}
                a:focus, a:hover 			{ text-decoration:none; }
          }
        }
      }
    }
      .maths_item 									{
        &:hover 									{ border-bottom:4px $default_blue solid;}
    }
      .bio_item 										{
        &:hover 									{ border-bottom:4px $default_green solid;}
    }
      .chem_item 										{
        &:hover 									{ border-bottom:4px $default_yellow solid;}
    }
      .physics_item 									{
        &:hover 									{ border-bottom:4px $default_red solid;}
    }
  }

}

  .view_modules  											{ padding: 20px 0; color: #fff;
    .panel  											{ border-radius: 0; border: 0; margin-bottom: 10px; font-family: Montserrat-Regular;
      .panel-heading 									{ border-radius: 0; background: $default_green; padding: 15px; display: block;  color: #fff; cursor:pointer;
        .panel-title							{ font-size: 18px; padding: 0;}
        .caret 									{ border-top: 9px dashed; border-right: 7px solid transparent; border-left: 7px solid transparent; margin: 5px 0;}
        &.inactive 									{
          .caret 									{ display: none; }
      }
        &:hover 									{ opacity: 0.9; }

    }
      .panel-body 									{ padding: 25px;
        .module_list  								{ margin-right: 15px; }
        .module_desc 								{ color:  $default_green; padding-top: 0px; padding-bottom: 25px; font-size: $default_font_size; line-height: 18px;
          b, strong 								{ font-family: Montserrat-SemiBold; }
      }
        .module 									{ overflow: hidden; cursor: pointer; margin-bottom: 25px;
          .module_inner 							{ padding: 10px; background: $default_green; white-space: normal; height: 200px; text-align: center; display: table; width: 100%;
            .title 								{ display: table-cell; vertical-align: middle; font-size: $default_font_size+3; padding: 10px; line-height: 20px; }
        }
      }
    }

  }
}

  .view_modules_search_results							{ padding: 0; color: #fff; margin-top: 25px;
    .panel  											{ border-radius: 0; border: 0; margin-bottom: 10px; font-family: Montserrat-Regular;
      .panel-heading 									{ border-radius: 0; background: $default_blue; padding: 15px; display: block; color: #fff; cursor:pointer;
        h4 										{ font-size: 18px; }
        .caret 									{ border-top: 9px dashed; border-right: 7px solid transparent; border-left: 7px solid transparent; margin: 5px 0;}
        &:hover 									{ opacity: 0.9; }
    }
      .panel-body 									{ padding: 25px 0 15px 0;
        .module_list_inner							{ margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px lighten($default_gray, 28%) solid; }
        .module_name 								{ color: $default_gray; }
        .module_list  								{ margin-right: 15px; }
        .module_desc 								{ color:  $default_blue; padding-top: 0px; padding-bottom: 25px; font-size: $default_font_size; line-height: 18px;}
        .module_results_box 						{ @include calc(width, "25% - 5px"); margin-right: 5px; margin-bottom: 5px; float: left; overflow: hidden; cursor: pointer;
          .module_results_box_inner 				{ padding: 10px; background: $default_blue; white-space: normal; min-height: 170px; width: 100%; text-align: center; display: table;
            .title 								{ display: table-cell; vertical-align: middle; font-size: $default_font_size; padding: 5px; line-height: 16px;
              i 								{ font-size: $default_font_size+34; display: block; margin-bottom: 10px; }
          }
        }
      }
    }

  }
}


  .content 										{ width: 100%; min-height: 450px;  display: flex; }
  .left_content 									{ padding-left: 0;  position: relative; height: inherit;
    .left_content_inner 						{ position: absolute; width: 100%; height: 100%; padding-right: 20px;
      .nav_conteiner 							{ height: inherit; background: #ffffff; box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); }
  }
    .head 										{ background: #bfbfbf; color: #fff; padding: 12px 20px; }
    .body										{
      ul 										{
        li 									{
          a 								{ color: $dark_blue; display: block; white-space: normal; padding: 12px 12px; text-decoration: none; box-shadow: none; display: flex; align-items: center; text-align: left; border-radius: 0;
            .module_no 					{ width: 40px; height: 40px; display: table; background: $dark_blue; border-radius: 50%; color: white; float: left;
              .module_no_inner 		{ display: table-cell; vertical-align: middle; text-align: center; font-size: 16px; }
          }
            .module_details 			{ float: left; @include calc(width, "100% - 40px"); padding-left: 10px;
              span 					{ display: block;
                &.title 			{ color: $dark_blue; font-size: $default_font_size - 1; line-height: 15px; }
                &.description 		{ font-family: Montserrat-light; color: #6b6b6b; font-size: 11px; line-height: 13px; margin-top: 4px; }
            }
          }


            &:hover, &:focus 			{ background: darken($default_light_gray, 5%); }
            &.active 					{ background: #f1f1f1;
              .module_no 				{ background: $default_green; }
              .module_details 		{ float: left; @include calc(width, "100% - 40px"); padding-left: 10px;
                span 				{ display: block;
                  &.title 		{ font-size: $default_font_size - 1; line-height: 15px;  }
                  &.description 	{   }
              }
            }
          }
        }
      }
    }
  }
}

  .right_content 									{ position: relative; padding: 0; box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); height: inherit;  background: #ffffff; border-radius: 3px;
    .nav_content_inner 							{ /*@extend .vwport;*/  position: relative; height: inherit; }
    .nav_content_block 							{ color: $dark_blue;  position: relative; height: inherit;
      .head 									{ background: $dark_blue; color: #fff; padding: 12px 20px; height: 40px;  }
      .body									{ font-size: $default_font_size - 1; padding: 30px 25px; overflow: hidden;
        $unit_margin : 10px;
        $unit_widht : 100 / 3;

        .module_no 							{ width: 25px; height: 25px; display: inline-block; background: $dark_blue; border-radius: 50%; color: white; vertical-align: top; margin-right: 5px;
          .module_no_inner 				{ display: flex;  align-items: center; height: 100%; text-align: center; font-size: 13px;
            i 							{ text-align: center; width: 100%; font-style: normal; }
        }
      }
        .unit_block 						{ @include calc(width, "33.33% - "+$unit_margin); min-height: 240px; white-space: normal; text-align: center; margin-right: ($unit_margin*3)/2; margin-bottom: ($unit_margin*3)/2;  padding: 0; background: #fff; border: 1px #d6d6d6 solid; float: left;
          &:hover 						{ top: 1px; }
          &.not-available 				{
            i, p, h3 					{ color: #ccc; }
        }
          .unit_details 					{ padding: 15px ;}
          .unit_image 					{ height: 150px; width: 100%; background: #eeeeee; display: table;
            i 							{ display: table-cell; vertical-align: middle; }
        }
          i 								{ color: $dark_blue; font-size: 36px; margin-bottom: 15px;  display: block; }
          h3 								{ margin-bottom: 0; font-size: 14px; line-height: 17px}
          p 								{ color: #6b6b6b; margin-bottom: 10px; text-align: left; font-family: Montserrat-light; font-size: $default_font_size - 2;  line-height: 15px; }
      }



        .form-control 						{ border-radius: 0; border: 1px lighten($dark_blue, 0%) solid; color: $dark_blue; padding: 5px 12px; outline: 0; box-shadow: none; }
        .checkbox input[type=checkbox],
        .checkbox-inline input[type=checkbox],
        .radio input[type=radio],
        .radio-inline input[type=radio] 	{ margin-top: 1px; }
        ul 									{
          li 								{


        }
      }
    }
  }
}

  .selected_module 										{
    .select_item										{ margin-bottom: 20px;
      select.form-control 							{ border-radius: 0; border: 0; background: $default_blue; font-size: $default_font_size + 3; color: #fff; height: auto;  padding: 10px 15px; background-size: 20px !important;
        &:hover, &:focus 							{ box-shadow: none; outline: 0;}
        option 										{ color: $dark_blue; background:#fff;
          &.disabled 								{ background: #e0e0e0; color: #b3b3b3; }
      }
    }
  }
    .body 												{
      ul.nav_links 									{ display: table; margin: 10px auto; margin-bottom: 0;
        li 											{ display: inline-block; margin-right: 25px;
          a 										{ color: $dark_blue;
            &:hover, &:focus 					{ color: darken($dark_blue, 10%);  }
        }
          &:last-child 							{ margin-right: 0; }
      }
    }
      .module_resources 								{ padding: 30px 0 30px 0;
        .resources_item 							{ text-align: center; cursor: pointer; margin-bottom: 35px;
          &.notavailable 							{ color: #dddddd; cursor: default;
            i 									{ color: #dddddd; }
            span.item_name 						{ color: #dddddd; }
            &:hover 							{
              i 								{ color: #dddddd;  }
              span.item_name 					{ color: #dddddd; }
          }
        }
          i 										{ display: block; font-size: 60px; color: $dark_blue;

        }
          span.item_name 							{ display: block; color: $dark_blue; margin-top: 5px; font-size: $default_font_size; }

          &:hover 								{
            i 									{ color: darken($dark_blue, 5%);  }
            span.item_name 						{ color: darken($dark_blue, 5%); }
        }
      }
    }
  }
}
  .faq_accordion 											{ margin-top: 15px;
    .panel 												{ border: 0; margin-bottom: 0; box-shadow: none;
      .panel-heading 									{ background: #e6e6e6; border-radius: 0; padding: 12px 15px; cursor: pointer;
        h4 											{ padding-right: 25px; position: relative;  font-size: $default_font_size ; line-height: 17px;  }
        a 											{ color: $dark_blue;text-decoration: none; }
        .caret 										{ border-top: 9px dashed; border-top: 4px solid\9; border-right: 7px solid transparent; border-left: 7px solid transparent; margin-top: 4px; position: absolute; top: 0; right: 0;}
    }
      .panel-body 									{ color: $dark_blue; font-size: $default_font_size - 1; font-family: Montserrat-light; line-height: 16px;
        img 										{ display: block; margin: 10px auto; max-width: 100%; }
    }
  }
}
  .glossary 												{ color: $dark_blue;
    .glossary_list 										{
      #glosary_list									{ overflow: hidden;
        $margin-right: 15px;
        .list										{ overflow: hidden; display: flex; width: 100%;
          .list_item								{ line-height: 19px; margin-bottom: $margin-right;  @include calc(width, "50% - "+$margin-right/2); float: left; padding: 15px; background: #e6e6e6;
            span.title 							{ font-size: $default_font_size - 1; display: block; margin-bottom: 5px; }
            span.description 					{ font-size: $default_font_size - 2; font-family: Montserrat-light;
              img 							{ display: block; margin: 10px auto; max-width: 100%; }
          }
            &:nth-child(2n)						{ margin-left: $margin-right; }
        }

          span.word 								{ }
          span.desc 								{ font-size: $default_font_size; font-family: Montserrat-light; }
      }
    }
  }
}

  .unit_info 												{ color: $dark_blue; font-size: $default_font_size; line-height: 19px; padding: 15px; background: #fff; height:auto;
    h2 													{ font-size: $default_font_size+3; text-decoration: underline; margin-bottom: 10px;  }
    ul 													{ padding-left: 25px;
      li 												{ list-style-type: disc; margin-bottom: 5px; }
  }
    b 													{ font-family: Montserrat-Bold; font-size: $default_font_size + 1; margin: 5px 0; display: inline-block; }
}
  select 													{  @include transitionEffect(0.4s,all,ease); }

  #tutor_help 											{
    .nav_content_block_lg  								{ overflow: hidden; width: 100%; }
    .body 												{ overflow: hidden; width: 100%; position: relative;
      #progress-wrp 									{ font-size: 12px; float:left; margin-left: 15px;
        .progress-inner 							{ width: 100%; margin-bottom: 5px; display: flex; flex-direction: row;
          .attName 								{ color: #494949; width: 150px;}
          .attName:hover                          { text-decoration:underline; cursor:pointer;}
          .progress-wrap 					 		{ width: 100px; background-color:white; border:solid 1px lightgray;
            .progress-bar 						{ height: 10px;}
        }
          .close 									{ display: block; color: #494949; line-height: 9px; margin-left: 5px;}
      }
    }
      .top 											{
        #help_panel 								{ color: #fff; margin-bottom: 15px; overflow: hidden; width: 100%;
          .tutor_help_header 						{ color: #fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 15px 20px; border-right: 2px rgba(255, 255, 255, 0.3) solid; font-size: $default_font_size + 1; text-align: center;
            &:last-child 						{ border: 0; }
        }
      }
        #st_panel 									{ color: #fff; margin-bottom: 15px; overflow: hidden; width: 100%;
          .tutor_help_header 						{ height: 45px; color: #fff; background:$dark_blue; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 15px 20px; border-right: 2px rgba(255, 255, 255, 0.3) solid; font-size: $default_font_size + 1; text-align: center;
            &:last-child 						{ border: 0; }
        }
      }
        #res_panel 									{ color: #fff; margin-bottom: 15px; overflow: hidden; width: 100%;
          .res_header								{ color: #fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 15px 20px; border-right: 2px rgba(255, 255, 255, 0.3) solid; font-size: $default_font_size + 1; text-align: center;
            &:last-child 						{ border: 0; }
        }
      }
    }
      .main_message, .reply_message					{ font-size: $default_font_size - 1; line-height: 16px; color: #014b70; padding: 20px;     border-bottom: 1px rgb(216, 216, 216) solid; background: #ececec;
        .msg_date, .replied_by						{ font-size: $default_font_size - 3; color: rgba(66,66,66,0.6);  }
        .form-group 								{ margin-top: 10px; }
    }
      .main_message									{ border-bottom: 10px #f5f5f5 solid; }
      .reply_message:last-child 						{ border-bottom: 0; }
      #helpHistory 									{ margin-bottom: 25px; margin-top: 25px; }
      .mid 											{
        .form-control 								{ border: 1px $dark_blue solid; border-radius: 0; color: $dark_blue; height: auto;
          &:focus 								{ outline: 0; box-shadow: none; }
      }
        #cke_messagearea 							{
          .cke_reset 								{ color: $dark_blue; font-size: $default_font_size - 1;}
      }
        .attachment_item 							{ margin-bottom: 10px; margin-right: 5px; float: left; padding: 5px; background: #d6d6d6; font-size: 12px;
          span 									{ top: -4px; margin-left: 5px;  position: relative; }
      }
        .btn_footer  								{
          button.btn 								{ font-size: $default_font_size; }
          .btn_drk 								{ color:#fff; background: $dark_blue; padding: 10px 11px; border-radius:50%; }
          .btn_drk:hover 						 	{ color:#fff; background: darken($dark_blue, 5%);}
      }
    }
  }
}
}

.confirm_box 													{ margin: 12% auto;
  .modal-content 												{ border-radius: 0;  background: #f2f2f2; border: 0; }
  .modal-dialog 												{ max-width: 450px; }
  .modal-header 												{ background: $dark_blue; color: #fff; border-radius: 0; padding: 10px 15px; text-transform: capitalize;  font-size: $default_font_size - 1; }
  .modal-header 												{ letter-spacing: 0.06rem; }
  .modal-body 												{ color: $dark_blue; font-size: $default_font_size - 1; line-height: 17px;
    input.form-control 										{ margin-top: 10px; border-radius: 0; border: 1px lighten($dark_blue, 0%) solid; color: $dark_blue; height: auto; padding: 3px 12px; outline: 0; box-shadow: none; }
    .radio 													{ margin-bottom: 20px; line-height: 20px; }
    ul 														{ margin-bottom: 10px;
      li 													{ }
  }
    p 														{ font-size: $default_font_size - 2; line-height: 15px; }
    .checkbox 												{ margin-bottom: 0; margin-top: 15px; font-family: Montserrat-light;

      input 												{ margin-top: 2px; }
  }
}
  .modal-footer 												{ border: 0; padding-top: 0;
    button.btn 												{ font-size: $default_font_size - 2; padding: 10px 20px; letter-spacing: 0.06rem;  }
}
}
.cke_editable 													{ color: $dark_blue; font-size: $default_font_size - 1;}

.alert 															{ font-size: $default_font_size - 1;   border-radius: 0;  line-height: 15px;  right: 15px !important;
  span[data-notify="message"] 								{
    i.fa 													{ font-size: 28px; position: absolute; }
    p 														{ padding-left: 0px; }
}
  &.alert-success 											{ background: #eee; color: $dark_blue; border-color: #f0c36d;
    background-color: #f9edbe }
}

//responsive

@mixin calc($key, $value) 							{ #{$key}: -webkit-calc(#{$value}); #{$key}: -moz-calc(#{$value}); #{$key}: calc(#{$value}); }

@media only screen and (max-width: 420px) {


  #learning_zone 												{
    .right_content 											{
      .nav_content_block  								{
        .body 											{
          .unit_block 								{ width: 100% !important; }
        }
      }
    }
    .header 												{
      h1 													{ margin-top: 10px;  font-size: 27px; }
      button.btn 											{ position: relative; display: block; margin: auto; width: 100%; }
    }
    .search_box .title_box_inner .form-group 				{ width: 100%; margin-top: 5px;}
    .subject_content  										{
      .subject_content_inner 								{
        $margin-right: 15px;
        .subject_item 									{ width: 100% !important;

        }
      }
    }

    .view_modules  											{
      .panel  											{
        .panel-heading 									{
          a 											{
            h4 										{ }
          }
          &:hover 									{ }
        }
        .panel-body 									{
          .module_list  								{ }
          .module_desc 								{ }
          .module 									{
            .module_inner 							{ width: 100%; margin-bottom: 20px; }
          }
        }

      }
    }



  }


}

@media only screen and (max-width: 767px) {

  #learning_zone 											{
    .right_content 											{ width: 100%;   background: transparent;
      .nav_content_block  								{
        .head											{ text-align: center;}
        .body 											{ padding: 0;
          .panel-group 								{ margin-bottom: 0;  }
          .panel+.panel 								{ margin-top: 2px; }
          .panel 										{ border-radius: 0; margin: 10px 9px;
            $unit_margin : 10px;
            .unit_block 							{ @include calc(width, "50% - "+$unit_margin); margin-right: 15px;
              &:nth-child(2n) 					{ margin-right: 0; }
            }

            .panel-heading 							{ padding: 5px;
              a 									{ padding: 17px 15px; display: block; text-decoration: none;
                &[aria-expanded="false"] 		{
                  i.open 						{ display: inline-block; }
                  i.closed 					{ display: none; }
                }
                &[aria-expanded="true"] 		{
                  i.open 						{ display: none; }
                  i.closed 					{ display: inline-block; }
                }

                .maodulename 						{ display:inline-block; @include calc(width, "100% - 30%"); vertical-align: middle;}
              }
            }
            .panel-body 							{ padding-bottom: 0;

            }
          }

        }
      }
    }

    .glossary 												{
      .glossary_list 										{
        #glosary_list 									{
          .list 										{ display:block;
            .list_item 								{ width: 100%;}
            .list_item:nth-child(2n) 				{ margin-left: 0;}
          }
        }
      }
    }
    .search_box 											{
      .title_box_inner 									{
        h2 												{ font-size: 16px; float:none; text-align:center; margin-bottom:10px;}
      }
    }
    .header 												{
      h1 													{ margin-top: 10px;  font-size: 27px; }
      button.btn 											{ position: relative; display: block; margin: auto; width: 100%; }
    }
    .subject_content  										{
      .subject_content_inner 								{ padding:0 15px;
        $margin-right: 15px;
        .subject_item 									{ @include calc(width, "50% - "+$margin-right); margin-right: $margin-right; margin-bottom: $margin-right;
          &:nth-child(2n) 							{ margin-right: 0;}

          .inner_subcontent  							{
            .head  									{ height: 260px;
              .skewed 							{ display: none; position: absolute; width: 100%; min-height: 152%; background: #FFFFFF; transform: rotate(80deg); left: 0%;  top: calc(50% - 55px); }

            }
          }

        }
      }
    }
    .view_modules  											{
      .panel  											{
        .panel-heading 									{
          a 											{
            h4 										{ }
          }
          &:hover 									{ }
        }
        .panel-body 									{
          .module_list  								{ }
          .module_desc 								{ }
          .module 									{
            .module_inner 							{ width: 100%; margin-bottom: 20px; }
          }
        }

      }
    }

    .view_modules_search_results  							{
      .panel  											{
        .panel-heading 									{
          a 											{
            h4 										{ }
          }
          &:hover 									{ }
        }
        .panel-body 									{
          .module_list  								{
            .module_list_inner 						{

            }
          }
          .module_name 								{ margin-bottom: 30px; }
          .module_desc 								{ }
          .module_results_box 						{ width: 100%;
            .module_results_box_inner 				{ width: 100%;  }
          }
        }

      }
    }
    .selected_module 										{
      .select_item										{
        select.form-control 							{
          &:hover, &:focus 							{ }
        }
      }
      .body 												{
        ul.nav_links 									{ width: 100%; margin-top:0;
          li 											{ display: block; text-align: center; margin-right: 0; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #014b70;}
          li:first-child 								{ padding-top:10px; border-top: 1px solid #014b70;}
        }
      }
    }

  }


}

@media only screen and (min-width: 768px) and (max-width: 900px) {

  #learning_zone 												{
    .subject_content 										{
      .subject_content_inner 								{
        .subject_item 									{
          .inner_subcontent 							{
            .head 									{
              .skewed 							{ top: calc(50% - 70px); }
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  #learning_zone 												{
    .header 												{
      h1 													{ }
      button.btn 											{ }
    }

    .subject_content         								{
      .subject_content_inner 								{
        $margin-right: 15px;
        .subject_item 									{ @include calc(width, "25% - "+$margin-right); margin-right: ($margin-right*4)/3;
          .inner_subcontent							{
            button.btn 								{ padding: 10px;}
          }
        }
      }
    }
    .right_content 											{
      .nav_content_block  								{
        .body 											{
          $unit_margin : 10px;
          .unit_block 								{ @include calc(width, "50% - "+$unit_margin); margin-right: ($unit_margin*2)/1;
            &:nth-child(2n) 						{ margin-right: 0; }

          }

        }
      }
    }

    .view_modules_search_results  							{
      .panel  											{
        .panel-heading 									{
          a 											{
            h4 										{ }
          }
          &:hover 									{ }
        }
        .panel-body 									{
          .module_list  								{
            .module_list_inner 						{

            }
          }
          .module_name 								{ margin-bottom: 30px;  }
          .module_desc 								{ }
          .module_results_box 						{
            .module_results_box_inner 				{   }
          }
        }

      }
    }
  }

}

@media only screen and (min-width: 1024px) {

  #learning_zone 												{
    .right_content 											{
      .nav_content_block  								{
        .body 											{
          .unit_block 								{
            &:nth-child(3n) 						{ margin-right: 0; }

          }

        }
      }
    }
  }

}

@media only screen and (min-width: 1400px) {


  #learning_zone 												{
    .search_box .form-group input 							{ font-size: 16px; }
    .view_modules_search_results  							{
      .panel 												{
        .panel-body 									{
          .module_results_box 						{
            .module_results_box_inner 				{ min-height: 200px;
              .title 								{ font-size: 16px; line-height: 18px; }
            }
          }
        }
      }
    }
    .header 												{
      h2 													{ font-size: 20px; }
    }
    .unit_info												{
      h2 													{ font-size: 19px; }
      p  													{ font-size: 16px; margin-bottom: 10px; }
      b 													{ font-size: 18px; }
    }

    .faq_accordion 											{
      .panel 												{
        .panel-heading 									{
          h4 											{ font-size: 17px; line-height: 22px; }
        }
        .panel-body 									{ font-size: 15px; line-height: 19px; }
      }


    }
    .subject_content 										{
      .subject_item 										{
        a 												{ font-size: 18px; }
      }
    }
    .selected_module 										{
      .body 												{
        ul.nav_links 									{ margin: 20px auto;
          li 											{
            a 										{ font-size: 18px; letter-spacing: 0.02rem; }
          }
        }
        .module_resources 								{
          .resources_item  							{ margin-bottom: 45px;
            span.item_name 							{ font-size: 16px; }
            i 										{ font-size: 70px; }
          }
        }
      }
      .select_item 										{
        select.form-control 							{ font-size: 18px; padding: 12px 15px; }
      }
    }

    .glossary 					 							{
      .glossary_list 										{
        #glosary_list 									{
          .list 										{
            .list_item 								{
              span.title 							{ font-size: 17px; margin-bottom: 10px; }
              span.description 					{ font-size: 14px; line-height: 20px; }
            }
          }
        }
      }
    }
    .view_modules 											{
      p 													{ font-size: 15px; line-height: 20px; }
      .panel 												{
        .panel-body 									{
          .module 									{
            .module_inner 							{ height: 240px;


            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 1670px) {


  #learning_zone 											{
    .search_box .form-group input 						{ font-size: 16px; }
    .subject_content 									{
      .subject_content_inner  						{
        .subject_item 								{
          .inner_subcontent  							{
            .head  									{
              .skewed 							{ position: absolute; width: 100%; min-height: 152%; background: #FFFFFF; transform: rotate(80deg); left: 0%;  top: calc(50% - 15px); }

            }
          }
        }

      }

    }

    .select_item 										{
      select.form-control 							{ font-size: 19px; }
    }
    .view_modules 										{
      p 												{ font-size: 17px;  line-height: 22px; }
      .panel 											{
        .panel-heading 								{ padding: 20px;
          .panel-title 							{ font-size: 19px; }
        }
        .panel-body 								{
          .module 								{
            .module_inner 						{ height: 280px;
              .title 							{ font-size: 20px; line-height: 24px; }
            }
          }
        }
      }
    }
  }


}
