<div class="container-fluid learning_zone" id="learning_zone">
  <div class="header_bg parallax-window mini">
    <div class="container header_content">
      <div class="header_content_inner">
        <button-dashboard></button-dashboard>
        <h1>Learning Zone</h1>
      </div>
    </div>
  </div>
  <div class="container learning_zone_inner">
    <div class="search_box padding0 col-md-12">
      <div class="title_box_inner">
        <h2>Subjects</h2>
        <form action="javascript:void(0) ">
          <div class="form-group pull-right">
            <div class="searcharea">
              <i class="icon-search-ico search_icon" onclick="searchWord()" id="search_icon"></i>
              <input type="text" class="form-control" id="search" placeholder="Search">
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="subject_content col-md-12 col-lg-12 padding0 ">
      <div class="subject_content_inner">
        <div *ngFor="let data of model" class="col-lg-3 col-md-3 col-sm-12 subject_item waves-effect waves-button waves-float {{data.addClass}}"
             [style.background]="data.style">
          <div class="loader_ white hide"></div>
          <div class="subject_maths inner_subcontent">
            <div class="head" [style.background]="data.color">
              <h2>{{data.subject_name}}</h2>
              <div class="subject_img">
                <img src="{{data.img_url}}" [style.background]="data.bg_color" alt="">
              </div>
            </div>
            <div class="body">
              <div class="skewed"></div>
              <button class="btn learnmore_btn" [style.background]="data.color"><a href="javascript:void(0)">LEARN
                MORE</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
