<nav class="navbar navbar-inverse navbar-fixed-top row" id="portal_nav">
  <div class="container-fluid">
    <div class="container">


      <div class="navbar-header">
        <button type="button" class="navbar-toggle hide" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="mobile_nav_top visible-xs">

          <ul id="nav" class="nav navbar-nav">

            <li>
              <a href="javascript:void(0);" (click)="showNotifications()" title="Notifications"
                 id="notify_summery" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">
                <i class="icon-notification"></i>
                <span id="notification-count-mobile" class="notification-count hide"></span>

              </a>
            </li>
            <li>
              <a href="javascript:void(0);" (click)="loadNavLinks('msg')" title="Messages" class="dropdown-toggle"
                 id="msg_summery" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="icon-message"></i>
                <span id="message-count-mobile" class="notification-count hide"></span>
              </a>
            </li>

          </ul>

        </div>
        <a href="javascript:void(0);" class="visible-xs toggle_nav" (click)="showSideBar()">
          <!-- <div class="swipe-area"></div> -->
          <button class="btn navbar-toggle" id="toggle_nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </a>
        <a class="navbar-brand navlogo hidden-xs" (click)="loadDashboard()" data-id="home">
          <img src="assets/images/tutor_wizard_logo.png" alt="">
        </a>

      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul id="nav" class="nav navbar-nav pull-right">

          <li class="notification_nav">
            <a href="javascript:void(0);" data-id="features" title="Notifications" id="notify_summery"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="icon-notification"></i>
              <span id="notification-count" class="notification-count hide"></span>
              <!--<span id="notification-count" class="notification-count">9+</span>-->
            </a>
            <ul class="notification-menu dropdown-menu">
              <div class="header row">
                <div class="col col-xs-8"><p><i class="fa fa-bell" aria-hidden="true"></i> Notifications</p></div>
                <div class="col col-xs-4"><a href="javascript:void(0);" (click)="loadNavLinks('notify')">See All</a>
                </div>
              </div>
              <div class="scroller row" id="notify_summ">
              </div>
            </ul>
          </li>

          <li class="message_nav">
            <a href="javascript:void(0);" data-id="prizes" title="Messages" class="dropdown-toggle" id="msg_summery"
               data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="icon-message"></i>
              <span id="message-count" class="notification-count hide"></span>
            </a>
            <ul class="message-menu dropdown-menu">
              <div class="header row">
                <div class="col col-xs-8"><p><i class="fa fa-comment" aria-hidden="true"></i> Messages</p></div>
                <div class="col col-xs-4"><a (click)="loadNavLinks('msg')">See All</a>
                </div>
              </div>
              <div id="message-wrap" class="scroller row msg_notify"></div>
            </ul>
          </li>


          <li class="dropdown">
            <div class="user_personal_details" (click)="loadNavLinks('profile')">
              <div class="user_img" [style.background-image]="'url('+st_image+')'" id="header_img">
              </div>
              <div class="user_name">{{st_name}}</div>
            </div>
          </li>
          <li class="extra_info">
            <span dropdown>
            <a dropdownToggle role="button"  aria-haspopup="true" aria-expanded="false"><span class="pe-7f-menu"></span></a>
            <ul *dropdownMenu class="dropdown-menu settings_menu">
              <li><a  class="" data-id="home"><i
                class="icon-settings"></i>Settings</a></li>
              <li><a  class="" data-id="home"><i class="icon-password"></i>Change
                Password</a></li>
              <li><a  class="" data-id="home"><i class="icon-premium"></i>Premium</a></li>
              <li><a  class="" data-id="home"><i class="icon-feedback"></i>Feedback</a>
              </li>
              <li><a  class="Help" data-id="home"><i class="icon-Help"></i>Help</a>
              </li>
              <li class="lastli">
                <a class="btn sound bottm_support sound_off hide"><i class="pe-7f-mute"></i>Sound</a>
                <a class="btn sound bottm_support sound_on"><i class="pe-7f-volume"></i> Sound</a>
                <a (click)="openModal(template)" class="btn logout log_btn bottm_support"> <i class="pe-7f-unlock"></i> Log Out</a>
                <div class="clearfix"></div>
              </li>
            </ul>
            </span>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="off_canvas_nav visible-xs {{m_navbar}}">

  <ul class="nav navbar-nav mobile_nav">
    <li class="dropdown">
      <div class="user_personal_details" onclick="openstprofile('')">
        <div class="user_img" [style.background-image]="'url('+st_image+')'" style="background-size:cover">
        </div>
        <div class="user_name">{{st_name}}</div>
      </div>
    </li>
    <li><a (click)="loadDashboard()" class="" data-id="home"><i class="icon-Top_Bug"></i>Home</a></li>
    <li><a (click)="loadDashboard()" class="" data-id="home"><i class="icon-settings"></i>Settings</a></li>
    <li><a (click)="loadDashboard()" class="" id="changepass" data-id="home"><i
      class="icon-password"></i>Change Password</a></li>
    <li><a (click)="loadDashboard()" class="" data-id="home"><i class="icon-premium"></i>Premium</a></li>
    <li><a (click)="loadDashboard()" class="" data-id="home"><i class="icon-feedback"></i>Feedback</a>
    </li>
    <li><a (click)="loadDashboard()" class="" data-id="home"><i class="icon-Help"></i>Help</a></li>
    <li><a (click)="openModal(template)" class="logout log_btn" data-id="home"><i class="icon-logout"></i> Logout</a></li>
  </ul>

</div>

<div class="clearfix"></div>

<ng-template #template>
  <div class="modal-header">
    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Logout</h4></div>
  <div class="modal-body">
    <div class="bootbox-body"><p>Are you sure you want to logout?</p></div>
  </div>
  <div class="modal-footer">
    <button data-bb-handler="cancel" type="button" class="btn btn_blue"  (click)="modalRef.hide()">Cancel</button>
    <button data-bb-handler="confirm" type="button" class="btn materialize btn_dark_blue" (click)="onLogout()">Yes</button>
  </div>
</ng-template>
