.mobile-view 												{height: 100%; padding:0px; background-color: #3199cc;
  .fullview												{width: 100%; height: 100%; position: relative;
    .slick-initialized 										{width: 100%; height: 100%; position: absolute;
      .slick-list 										{

        .slick-track 									{
          #slick-slide00 								{background-color:#15a4c6;
            .firstimage 								{width: 100%; height: 100%; display: flex; margin-top: -45px;}
          }
          #slick-slide01 								{background-color:#007c7b;
            .secondimage 								{width: 100%; height: 100%; display: flex; margin-top: -45px;}
          }
          #slick-slide02 								{background-color:#8a6ba5;
            .thirdimage 								{width: 100%; height: 100%; display: flex; margin-top: -45px;}
          }
          .slick-slide								{width: 100%; height: 100%; position: relative;
            img  									{width: 55%; margin:auto; display:block !important}
            .subtext 								{color: #f2f2f2; font-size: 15px; padding: 8px 12px; position: absolute; bottom: 8px; width: 100%; text-align: center;}

          }
        }
      }
    }

    .information 											{position: absolute; text-align: center; bottom:0px; width: 100%;
      .explanation										{color: #ffffff; font-weight: bold; margin-bottom:63px;}
      .slids 												{margin-top: 23px;
        .sliddotes  									{
          .dot 										{cursor:pointer; height: 15px; width: 15px; margin: 0 2px; background-color: #ffffff; border-radius: 50%; display: inline-block; transition: background-color 0.6s ease;}
        }
      }

      .loginbuttons  										{margin-bottom: 45px;
        a 												{cursor: pointer; text-decoration: none;
          button 										{border-radius: 1.48rem; border: 1px solid #fff;  margin-right: 5px; width: 8rem; font-weight: bold; padding-bottom: 5px; padding-top: 5px;}
          button.wel_signup 							{background-color:#ffffff; color:#15a4c6;}
          button.wel_login 							{background-color: Transparent; color:#ffffff;}

        }

        .wel_login:hover 								{}
        .wel_signup:hover 								{}


      }
    }
  }

}

.slick-dotted.slick-slider 									{margin-bottom: 0px; }
.slick-dots													{position: absolute; bottom: 100px; margin-top: 23px;}
.slick-dots li button 										{color:#fff; border-radius: 100%; background:rgba(0, 0, 0, 0.24); line-height: 13px; width:13px; height:13px;}
.slick-dots li button::before								{font-size: 13px; line-height: 13px; width: 13px; color: transparent;}
.slick-dots li.slick-active button::before					{color: #ffffff; opacity: 1; font-size: 19px; line-height: 13px; width: 14px; height: 13px;}
