<div class="mobile-view col-lg-6 col-md-6 col-sm-6 col-xs-12 login-form-image hidden-xs">
  <div class="fullview">
    <!--  =============== images section ============ -->
    <div class="slidesshow">
      <div id="firstimage" class="logoimage" >
        <div class="firstimage">
          <img class="img-responsive firstsvg" style="display:none;" src="assets/images/image-one-three.png">
        </div>
      </div>

      <div id="secondimage" class="logoimage">
        <div class="secondimage">
          <img class="img-responsive" style="display:none;" src="assets/images/image-two.png">
        </div>
      </div>

      <div id="thirdimage" class="logoimage">
        <div class="thirdimage">
          <img class="img-responsive" style="display:none;" src="assets/images/image-one-four.png">
        </div>
      </div>
      <!--  =============== Info section with login and signup button ============ -->
    </div>
  </div>
</div>
