@import '../../assets/sass/variables';

.loader_ 													{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1005; background-color: rgba(0, 0, 0, 0.2);     background-color: rgba(0, 0, 0, 0.2); background-position: 50% !important; }
.startassesment 											{ padding:0!important;}
#assessment_center 											{ padding: 0px 0 30px 0; color: #fff;
  .assessment_bg 											{ height: 100%; width: 100%;  background: #f1f1f1; position: fixed; z-index: -1; top: 0; left: 0;  }
  .header 												{ position: relative; float: none;
    button.btn 											{ background: #bfbfbf; position: absolute; top: 0;
      &:focus, &:hover 								{ background: darken($default_gray, 15%) }
    }
    h1 													{ text-align: center; width: 100%; color: $dark_blue;   }
    h2 													{ display: block; background: $dark_blue; color: #fff; padding: 15px; margin-bottom: 15px; font-size: $default_font_size+3;  }
  }
  .assessment_center_inner 								{ position:relative; top:-60px;}
  #start_assessment 										{ top:-35px;}
  .body													{
    $margin-right: 15px;
    .module_test_types  								{ display: table; }
    h2 													{ font-size: $default_font_size + 7; text-align: center; line-height: 23px; display: block;  vertical-align: middle; }
    .subject_content 									{ margin-top: 30px;
      .subject_content_inner 							{ padding:0 15px;
        .subject_item 								{ overflow: hidden; box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); border-bottom: 4px rgba(0, 174, 237, 0) solid; transition: 0s all ease; @include calc(width, "25% - "+$margin-right); text-align:center; background:#fff; height:auto; padding:0; margin-right: ($margin-right*4)/3; @include transitionEffect(0.4s,all,ease);
          &.disabled 								{
            .inner_subcontent  					{
              h2 								{ color: #ccc; }
              button.btn 						{ background: #ccc;
                &:hover 					{ background: #ccc; }
              }

              .subject_img 					{
                img 						{ 	-webkit-filter:  grayscale(100%); -moz-filter:  grayscale(100%); -ms-filter:  grayscale(100%); -o-filter:  grayscale(100%); filter: grayscale(100%); }
              }

            }

            &:hover 							{ box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); }
          }
          &:nth-of-type(4)           				{ margin-right: 0;}
          &:hover 								{ box-shadow: 0 8px 20px 1px rgba(0,0,0,0.3);}
          .inner_subcontent 						{
            .head 								{ padding: 30px 20px; padding-bottom: 0; height: 260px;
              h2 								{ font-weight: 600; color: #fff; font-size: 17px; margin-bottom: 20px; text-transform: uppercase; letter-spacing: 0.09rem }
              .subject_img 					{ margin-bottom: 15px; height:100px;
                img 						{ max-width: 120px;  background: #ccc;   border-radius: 50%; padding: 5px; }
              }
            }
            .body 								{ padding: 20px;
              .skewed 						{ position: absolute; width: 100%; min-height: 150%; background: #FFFFFF; transform: rotate(80deg); left: 0%;  top: calc(50% - 55px); }
              button.btn 						{ background: $dark_blue; border-radius: 20px; padding: 7px 25px;
                &:focus, &:hover 			{ background: darken($dark_blue, 5%) }
                a 							{ color:#fff; font-size: 11px;}
                a:focus, a:hover 		{ text-decoration:none; }
              }
            }
          }
        }
      }
    }
    .test_types 										{ margin-top: 10px;
      .block 											{ text-align: center; border-radius: 0; padding: 25px; @include calc(width, "50% - "+$margin-right/2);   margin-bottom: 10px;
        h2 											{ width: 100%;  display: block; }
        &:nth-child(2n)								{ margin-left: 10px; }
      }
    }

    .module_types 										{
      .block 											{ text-align: center; white-space: inherit; border-radius: 0; padding: 25px; @include calc(width, "50% - "+$margin-right/2); margin-bottom: 10px; min-height: 130px; float: left;
        &:nth-child(2n)								{ margin-left: 10px; }
        p 											{ font-size: 13px; margin-top: 15px; line-height: 15px; }
      }
    }

    .module_results 									{ margin-top: 10px;
      .header 										{ color: #014b70; background: #fff; width: 100%; box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); border-bottom: 4px rgba(0,174,237,0) solid; margin-bottom: 20px;
        h3 											{ font-family: Montserrat-SemiBold; font-size: $default_font_size + 4; padding: 15px; text-transform: uppercase; letter-spacing: 0.05rem; }
      }

      .info_content 									{ overflow: hidden; display: flex;
        .information  								{
          .student_stats 							{
            ul 									{
              li 								{
                &:nth-child(1) 				{ line-height: 17px; margin-top: 5px; margin-bottom: 7px; border-bottom:1px solid #e1e1e1; padding-top:0; padding-bottom:5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
              }
            }
          }
        }

        .display  									{ padding: 0; @include calc(width, "33.3333% - "+$margin-right); margin-right: ($margin-right*3)/2; background-color: #fff; min-height: 260px; box-shadow: 1px 12px 20px -9px rgba(0,0,0,0.75);
          &:nth-child(3n) 						{ margin-right: 0;  }
          .title 									{ background: $default_blue;
            h3 									{ font-size: $default_font_size + 1; padding: 15px; letter-spacing: 0.05rem; text-transform: uppercase; }
          }

          .student_stats 							{ color: $dark_blue; padding: 0 15px 10px 15px; min-height: 190px;
            ul 									{
              li 								{ line-height: 30px; font-size: $default_font_size - 1;
                &:nth-child(1) 				{ padding-top: 5px; }
              }
            }
          }
          .no_info 								{ padding: 10px;  text-align: center; margin-top: 80px; }
        }


        .previous_results 							{
          .student_stats 							{ padding: 15px;
            ul.result_date 						{ width: 100%;  /*border-bottom: 1px  $default_blue solid; margin-bottom: 5px; */ overflow: hidden;
              li 								{ display: inline-block; width: 25%; font-size: 13px; text-align: center;  }
              .result_li 						{ padding:0;}
            }

            ul.result_stats 					{ width: 100%; overflow: hidden;
              li 								{ text-align: center; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px  $default_blue solid;
                &:nth-child(1), &:nth-child(3)  { font-size: $default_font_size + 6; }
                .svg_ico 					{ width: 35px; height: 35px; background-color:  $default_blue;}

                &:nth-child(1) 				{
                  .svg_ico 				{ background-color: #7b4b5b; background-image: url($image-path +"assessment-center/score.svg"); background-repeat: no-repeat; background-position: 75% 50%; background-size:100%;  }
                }

                &:nth-child(2) 				{
                  .svg_ico 				{ background-color: #00797c;  background-image: url($image-path +"assessment-center/clock.svg"); background-repeat: no-repeat; background-position: 50%; background-size: 90%; }
                }

                &:nth-child(3) 				{
                  .svg_ico 				{ background-color: #f69c21; background-image: url($image-path +"assessment-center/starts_prizes.png"); background-repeat: no-repeat; background-size: cover; background-position: 50%; background-size: 108%;}
                }


              }
            }
          }
        }
        .information 								{
          .student_stats 							{ padding-top:10px; text-transform:uppercase; font-family: Montserrat-SemiBold;
            .info_title 						{ width:120px; display:inline-block;}
            .borderinfo 						{ }
          }
        }

        .top_students  								{
          ul.result_stats 						{ width: 100%; margin-top: 5px;
            li 									{
              .profile_img 					{ cursor:pointer; float: right; width: 25px; height: 25px; background: #dedede; border-radius: 50%; margin-top: 4px; margin-bottom: 4px; }
              .ico  							{
                &:nth-child(1) 				{ padding: 0 5px;
                  i.superscript 			{ font-size: 9px; vertical-align: super; }
                }
                &:nth-child(4) 				{ padding-right: 0; text-align: right;  }
              }
              .name_ 							{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; cursor:pointer;}
            }
          }
        }
      }
      .start_test  									{ padding: 15px 0;
        button 										{ text-transform: uppercase; font-size: $default_font_size - 1; padding:10px 40px; box-shadow: 0 8px 20px 1px rgba(0,0,0,0.3);}
        .btnstart 									{ background: $dark_blue;
          &:hover 								{ background: darken($dark_blue, 5%);}
        }
      }
      .glyphicon-lock 								{ padding-left: 5px;}
    }
  }

  .shadow 												{ -webkit-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75);
  }
  .quiz_box  												{ }
  .test_header 											{ padding: 10px 10px; background: #fff; @extend .shadow;

    .quiz_options 										{ color: $dark_blue; text-align: center;
      ul 												{ position: relative;
        li 											{ margin-bottom: 12px;
          &.li_instruction 						{ width: 100%; }
          &.question_items 						{ font-size: $default_font_size + 12; color: $dark_blue; margin-top: 12px; margin-bottom: 0; font-family: Montserrat-SemiBold; text-align: left; padding-left: 10px; text-align: center; }
          &.timer_counter 						{ font-size: $default_font_size - 2 ; padding: 5px 0;
            span 								{ padding: 10px 10px; background: #fff; @extend .shadow; font-family: Montserrat-SemiBold; display: block;
              ul#clockdiv 					{
                li 							{ display: inline-block; margin-bottom: 0; cursor: pointer; position: relative; }
              }
            }
          }
          .quit_test, .back_to_results, .instruction 			{ font-size: $default_font_size - 1;  padding: 7px 15px; @extend .shadow; width: 100%; }
          .back_to_results 						{ background: $dark_blue;  margin-top: 8px; padding: 8px 15px; }
          .instruction 							{ background: $dark_blue; }
        }
      }
    }
    .quiz_progress 										{ display: flex; margin-top: 45px; margin-bottom: 30px;
      .progress 										{ width: 80%; float: left; margin-bottom: 0; margin-right: 20px;  box-shadow: none; border: 2px #01c971 solid; height: 30px; border-radius: 0;
        .progress-bar 								{ background: #01c971;  box-shadow: none;}
      }
      .submit_test 	 								{ float: right; background: #01c971; padding: 8px 15px; font-size: $default_font_size - 1; @extend .shadow;}
    }
  }

  .question 											{ font-size: $default_font_size + 3; color: $dark_blue; text-align: center;
    p 												{ line-height: 22px; font-size: $default_font_size + 2 !important; margin-bottom: 15px;
      img 										{ max-width: 100%; max-height: 300px; display: block; margin: auto;  }
      span 										{ line-height: 22px; font-size: $default_font_size + 3 !important; }
    }
  }

  .quiz_content 											{ position: relative; min-height: 300px;

    .answers  											{ position: relative;
      .diactive 										{ position: absolute; height: 100%; width: 100%; top: 0; left: 0; z-index: 100; }
      p 												{
        img 										{ max-height: 132px; max-width: 100%; }
      }

    }

    .answer_description 								{ font-size: $default_font_size - 1; line-height: 20px; overflow: hidden; width: 100%; color: $dark_blue; padding: 15px; margin-top: 30px; background: #fff;  @extend .shadow;
      img 											{ max-height: 132px; max-width: 100%; }
    }

    .quiz_content_over									{ position: absolute; width: 100%; @include calc(height, "100% - 40px"); left: 0; top: 20px; z-index: 1000; background: rgba(241, 241, 241, 0.3); }
    .form-control[disabled] 							{ cursor: default; }
    &.template2 										{
      // .question 										{ padding: 15px; color: $dark_blue; background: #fff; line-height: 22px;  @extend .shadow;  }
      // .answers 										{ padding: 20px 0 5px 0;  @extend .shadow;  margin-top: 25px; margin-bottom: 25px; background: #fff;
      // 	$margin-right: 10px;
      // 	.block  									{ display: block; color: $dark_blue; text-align: left; width: 100%; white-space: inherit; box-shadow: none; margin-bottom: 15px;
      // 		// &:last-child 							{ margin-bottom: 0; display: none; }
      // 		p 										{ float: left; @include calc(width, "100% - 50px"); font-size: $default_font_size - 1; line-height: 16px;  }
      // 		input.form-control 						{ width: 40px; height: auto; border: 1px $dark_blue solid; border-radius: 0; color: $dark_blue; float: right; text-transform: uppercase;}
      // 	}
      // }

      .question 										{ padding: 15px; color: $dark_blue; background: #fff; line-height: 22px;  @extend .shadow; }
      .answers 										{ padding: 20px 0 5px 0; overflow: hidden; @extend .shadow;  margin-top: 25px; margin-bottom: 25px; background: #fff;
        $margin-right: 10px;
        .block  									{ display: block;  overflow: hidden; color: $dark_blue; text-align: left; width: 100%; white-space: inherit; box-shadow: none; margin-bottom: 15px;
          p 										{ float: left; @include calc(width, "100% - 90px"); font-size: $default_font_size - 1; line-height: 16px;  }
          select.form-control 					{ width: 85px; height: auto; border: 1px $dark_blue solid; border-radius: 0; color: $dark_blue; float: right; text-transform: capitalize; text-align: center;

          }


        }
      }
    }

    &.template4 										{
      .question 										{ padding: 15px; color: $dark_blue; background: #fff; line-height: 22px;  @extend .shadow; }

      .answers 										{ padding: 35px 0;
        .mk 										{ position: absolute; right: 8px; width: 8px; height: 8px; top: 8px; font-size: 8px; display: none; background: #fff; border-radius: 50%; }
        .locked										{
          .mk 									{ display: block; color: $dark_blue; }
        }
        .img_answer 								{ height: 160px !important;
          img 									{ max-width: 100%; max-height: 132px; }
        }
        $margin-right: 10px;
        .block 										{ height: 80px;  float: left; white-space: normal; line-height: 25px; background: #fff;  @extend .shadow; @include calc(width, "50% - "+$margin-right); margin-right: $margin-right; margin-bottom: $margin-right;
          &.locked 								{
            .block_inner 						{
              p 								{ color: #fff; }
            }
          }
          &:nth-child(2n)							{ margin-right: 0; }
          .block_inner 							{ display: table; height: 100%; width: 100%;
            p 									{ display: table-cell; vertical-align: middle; color: $dark_blue; font-size: 20px; text-align: center; }
          }
          &.answer 								{ }
        }
        &.long_test 								{
          .block  								{ height: auto; width: 100%; padding: 15px; overflow: hidden;
            .block_inner 						{ display: block; height: auto;
              p 								{ font-size: 14px; line-height: 19px;  display: inherit; text-align: left; }
            }
          }
        }
      }
    }

    &.template6 										{
      .question 										{ padding: 15px; color: $dark_blue; background: #fff; overflow: hidden; line-height: 22px;  @extend .shadow; }
      .answers 										{ padding: 20px 0 5px 0;  @extend .shadow;  margin-top: 25px; margin-bottom: 25px; background: #fff;
        $margin-right: 10px;
        .block  									{ display: block;  overflow: hidden; color: $dark_blue; text-align: left; width: 100%; white-space: inherit; box-shadow: none; margin-bottom: 15px;
          p 										{ float: left; @include calc(width, "100% - 90px"); font-size: $default_font_size - 1; line-height: 16px;  }
          select.form-control 					{ width: 85px; height: auto; border: 1px $dark_blue solid; border-radius: 0; color: $dark_blue; float: right; text-transform: capitalize; text-align: center;

          }


        }
      }
    }



    .action_btns 										{ margin-bottom: 35px;
      button.btn 										{ background: #fff; color: $dark_blue;  font-size: $default_font_size - 1; padding: 7px 12px; @extend .shadow; }
      .center_btns     								{ display: table; text-align: center;
        .answer_status 								{ padding: 5px 10px; background: #ddd; display: block; }
        button.btn_snap  							{ margin-right: 5px; }
        button.btn_doubt   							{
          &.locked 								{ background: $dark_blue; color: #fff; }
        }
      }
    }
  }

  .precentage_and_probability 							{ background: #fff; padding: 40px 50px 60px 50px; margin-top: 30px; @extend .shadow;
    h2 													{ color: $dark_blue; text-align: center; font-family: Montserrat-SemiBold;  font-size: $default_font_size + 8;  }
    ul 													{ margin-top: 40px; font-size: $default_font_size + 3;
      li 												{ padding: 10px 15px; margin-bottom: 20px; display: block; color: #fff; @extend .shadow;
        &.rev_questions 							{ background: $default_blue}
        &.rev_doubts 								{ background: #fb991a; }
        &.submit_questions 							{ background: #01c971; }
      }
    }

  }


  .assessment_results 									{ background: #fff; padding: 30px 50px 30px 50px; margin-top: 0px; @extend .shadow;
    h2 													{ color: $dark_blue; text-align: center; font-family: Montserrat-SemiBold;  font-size: $default_font_size + 8;  }
    ul 													{ margin-top: 20px; font-size: $default_font_size + 3; padding: 0 50px;
      li 												{ padding: 7px 15px; margin-bottom: 10px; display: block; color: #fff; @extend .shadow;
        &.marks 									{ background-color: #7b4b5b; background-image: url($image-path +"assessment-center/score.svg"); background-repeat: no-repeat; background-position: 98% 50%; background-size: 60px; }
        &.time_taken 								{ background-color: #00797c; background-image: url($image-path +"assessment-center/clock.svg"); background-repeat: no-repeat; background-position: 98% 50%; background-size: 60px; }
        &.stars 									{ background-color: #f69c21; background-image: url($image-path +"assessment-center/stars_full.svg"); background-repeat: no-repeat; background-size: cover; }
        .title 									{ display: block; text-align: left; font-size: $default_font_size + 3; }
        .value 									{ display: block; text-align: center; font-size: $default_font_size  + 16; margin-bottom: 10px; font-family: Montserrat-SemiBold; }
      }
    }
    .action_btns 										{ margin-top: 25px; }
  }

}

.confirm_box, .test_result_box									{ margin: 12% auto;
  .modal-content 												{ border-radius: 0;  background: #f2f2f2; border: 0; }
  &.modal-dialog 												{ max-width: 450px; }
  .modal-header 												{ background: $dark_blue; color: #fff; border-radius: 0; padding: 10px 15px; text-transform: capitalize;  font-size: $default_font_size - 1; }
  .modal-header 												{ letter-spacing: 0.06rem; }
  .modal-body 												{ color: $dark_blue; font-size: $default_font_size - 1; line-height: 17px;
    input.form-control 										{ margin-top: 10px; border-radius: 0; border: 1px lighten($dark_blue, 0%) solid; color: $dark_blue; height: auto; padding: 3px 12px; outline: 0; box-shadow: none; }
    .radio 													{ margin-bottom: 20px; line-height: 20px; }
    ul 														{ margin-bottom: 10px;
      li 													{ }
    }
    p 														{ font-size: $default_font_size - 2; line-height: 15px; }
  }
  .modal-footer 												{ border: 0; padding-top: 0;
    button.btn 												{ font-size: $default_font_size - 2; padding: 10px 20px; letter-spacing: 0.06rem;  }
  }
}
.Loadtests 														{ margin: 10% auto;
  $margin-right: 15px;
  &.modal-dialog 												{ min-width: 700px; max-width:700px; }
  .modal-header 												{ position: relative; text-transform: uppercase; padding:30px 0; background: $default_blue;
    .backn 													{ position: absolute; background: rgba(255,255,255,0.15); border-radius: 50%; top: 25px; left: 30px; font-size: 14px; width: 35px; height: 35px; padding: 10px;
      &:hover 											{ background: rgba(255,255,255,0.3);
        i 												{ color:#fff;}
      }
    }
    h2 														{ text-align:center; font-size: $default_font_size + 6;}
  }
  .modal-body  												{ padding:50px 15px; height:175px;
    .test_types_inner 										{
      .block 												{  font-weight:600; background: #e1e1e1; color:$dark_blue; padding: 0; @include calc(width, "50% - "+$margin-right/2); text-transform:uppercase; cursor:pointer; margin-bottom:15px; white-space: normal; height:80px; display: flex; align-items: center;
        &:nth-child(2n) 								{ margin-left:15px;}
        &:hover 										{ background: $dark_blue; color:#fff;
          i 											{ color:$dark_blue;}
        }
        h2 												{ font-size: $default_font_size + 1; display:inline-block; padding: 25px; @include calc(width, "100% - 65px"); line-height:19px; text-align:center;}
        i 												{ font-size: 30px; display: inline-block; background: #ccc; padding: 25px 17px; float: left; width: 65px; height: 80px;}
        &.disabled 										{ color:#999;
          &:hover 									{ background: #e1e1e1; color:#999;}
        }
      }
    }
  }
}

.Loadmodules 													{ margin: 4% auto; overflow:auto;
  $margin-right: 15px;
  &.modal-dialog 												{ min-width: 1000px; max-width:700px; }
  .modal-header 												{ position: relative; text-transform: uppercase; padding:30px 0; background: $default_blue;
    .backn 													{ position: absolute; background: rgba(255,255,255,0.15); border-radius: 50%; top: 25px; left: 30px; font-size: 14px; width: 35px; height: 35px; padding: 10px;
      &:hover 											{ background: rgba(255,255,255,0.3);
        i 												{ color:#fff;}
      }
    }
    h2 														{ text-align:center; letter-spacing: 0.1rem; font-size: $default_font_size + 6;
      span 												{  }
    }
  }
  .modal-body  												{ padding:50px 15px; height:370px;
    .module_type 											{
      .block 												{ font-weight:600; background: #e1e1e1; color:$dark_blue; padding: 0; @include calc(width, "50% - "+$margin-right/2); text-transform:uppercase; cursor:pointer; margin-bottom:15px; white-space: normal; height:80px; display: flex; align-items: center;
        &:nth-child(2n) 								{ margin-left:15px;}
        &:hover 										{ background: $dark_blue; color:#fff;
          i 											{ color:$dark_blue;}
        }
        h2 												{ font-size: $default_font_size; display:inline-block; padding: 25px; @include calc(width, "100% - 65px"); line-height:19px;}
        i 												{ font-size: 30px; display: inline-block; background: #ccc; padding: 25px 15px; float: left; width: 65px; height: 80px;}
        &.disabled 										{ color:#999;
          &:hover 									{ background: #e1e1e1; color:#999;}
        }
      }
    }
  }
}

.test_result_box 												{
  .modal-content												{
    .bootbox-body 											{ padding: 20px 20px 15px 20px; text-align: center;  line-height: 28px;
      p 													{ font-size: 17px; line-height: 19px; margin-top: 10px; }
    }
  }
  .modal-footer 												{
    button.btn												{ display: block; margin: auto; }
  }
}


.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  z-index: 100;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: inherit;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: inherit;
  border-width: 16px;
  margin-left: -16px;
}

.mCSB_dragger_bar 												{ background-color: rgba(0,0,0,0.5)!important;}
.mCSB_draggerRail 												{ background-color: rgba(255,255,255,0.8)!important;}
.mCSB_inside>.mCSB_container 									{ margin-right: 10px;}



//responsive


@mixin calc($key, $value) 							{ #{$key}: -webkit-calc(#{$value}); #{$key}: -moz-calc(#{$value}); #{$key}: calc(#{$value}); }

@media only screen and (max-width: 450px) {


  #assessment_center 											{
    .header 												{ }
    .body 													{
      .subject_content 									{
        .subject_content_inner 							{
          #sub_item  									{ width:100%; margin-bottom:20px;}
          .subject_item 								{
            .inner_subcontent 						{
              .head 								{
                .skewed 						{ min-height: 165%; }
              }
            }
          }
        }
      }
      .test_types  										{
        .block 											{ width: 100%;
          &:nth-child(2n) 							{ margin: 0; }
        }
      }

      .module_types 										{
        .block 											{ width: 100%; margin-top: 10px;
          &:nth-child(1) 								{ }
          &:nth-child(2n) 							{ margin: 0; }
        }
      }
    }

    .test_header 											{
      .quiz_progress 										{
        .progress 										{ width:100%; margin-right:0; }
      }
    }
    .Loadtests  											{ margin: 25% auto; padding-left:0;
      .modal-body 										{ height:auto;}
    }
    .Loadmodules 											{ margin:5% auto; overflow:auto;
      .modal-body 										{ height:495px;}
    }
    .Loadtests, .Loadmodules 								{
      &.modal-dialog 										{ min-width: auto;
        .modal-body 									{
          .test_types_inner 							{
            .block 									{ width:100%; margin-left:0; margin-bottom:20px;
              &:last-child						{ margin-bottom:0;}
              h2                     {font-size: 14px;display: inline-block;padding: 25px;width: -webkit-calc(100% - 65px);
                                      width: -moz-calc(100% - 65px);width: calc(100% - 65px);
                                       line-height: 19px;
              }
            }
          }
          .module_type 								{
            .block 									{ width:100%; margin-left:0; margin-bottom:20px;
              &:last-child						{ margin-bottom:0;}
            }
          }
        }
      }
    }

  }


}

@media only screen and (max-width: 640px) {
  #assessment_center 											{
    .header_content_inner 									{
      h1 													{ padding-left: 25px; }
    }

    .body 													{
      .subject_content  									{
        .subject_content_inner							{
          .subject_item  								{ width: 100%; height: auto;
            .inner_subcontent 						{
              .body 								{
                .skewed 						{ min-height: 160%;}
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 767px) {

  #assessment_center 											{
    .assessment_results  									{ padding: 30px 30px;
      ul 													{ padding: 0; }
    }
    .header 												{
      button.btn 											{ position: relative; display: block; margin: auto; width: 100%; }
      h1 													{ margin-top: 10px; font-size: 27px; }
    }
    .body 													{
      .subject_content  									{
        .subject_content_inner							{
          .subject_item  								{ width: 100%; height: auto;
            .inner_subcontent 						{
              .body 								{
                .skewed 						{ min-height: 162%; }
              }
            }
          }
        }
      }
      .module_results										{
        .info_content 									{ display: block;
          .display 									{ width: 100%; }
        }
        .start_test  									{
          .btnstart 									{ width:100%; padding: 15px 40px; font-size:14px; border: 1px solid #014b70;}
        }

      }

    }

    .test_header 											{
      .quiz_progress 										{ margin-bottom: 20px; margin-top: 15px;
        .progress 										{ width:100%; margin-right:0; }
        .submit_test  									{ padding: 5px; font-size: 10px; width:100px;}
      }
      .quiz_options ul li.li_instruction					{ position: relative; }
    }
    .Loadtests  											{ margin: 30% auto; padding-left:0;}
    .Loadmodules 											{ margin:5% auto; overflow:auto;}

    .quiz_content 											{ margin-top: 0;

      &.template2 										{
        .answers 										{ overflow: hidden;  padding: 20px 0;
          .block  									{ overflow: hidden; }
        }
      }
      &.template4 										{
        .answers 										{
          .block  									{ width: 100% ; height: 60px; }
        }
      }
      .action_btns 										{
        button   										{ width: 100%; }
        .center_btns 									{ margin: 10px 0; display: block; }
      }
    }
  }

  .top5_test 												{
    .modal-body 										{
      .bootbox-body 										{ line-height: 17px; }
    }
  }

  .confirm_box,.test_result_box,.quit_test_msgbox				{ margin: 50% auto;
    .modal-header 											{ padding:20px 15px;
      .modal-title 										{ text-align: center; letter-spacing: 0.1rem; font-size: 16px;}
    }
    .modal-footer 											{
      button.btn 											{ letter-spacing: 0.2rem; padding: 15px 20px; height:auto; font-size: 13px;}
    }
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  #assessment_center 											{
    .header 												{ }
    .body 													{
      .subject_content 									{
        .subject_content_inner 							{
          $margin-right: 20px;
          #sub_item  									{ @include calc(width, "50% - "+$margin-right/2); margin-bottom:20px; margin-right: 20px;
            &:nth-child(2n)							{ margin-right: 0; }
          }
          .subject_item 								{
            .inner_subcontent 						{
              .head 								{
                .skewed 						{ min-height: 175%; }
              }
            }
          }
        }
      }
      .module_types  										{
        .block  										{ }
      }
      .module_results  									{
        .info_content  									{
          .display  									{
            .student_stats  						{
              ul 									{
                li 								{ font-size: 11px;
                  .block  					{ padding: 0 5px;}
                }
              }
            }
          }
        }
      }

    }
    .test_header 											{
      .quiz_options 										{
        ul 												{
          li     										{
            .back_to_results 						{ font-size: 10px; padding: 8px 10px;}
          }
        }
      }
    }
    .Loadtests, .Loadmodules 								{
      &.modal-dialog 										{ min-width: 700px;}
    }
  }


}

@media only screen and (min-width: 1024px) {

  #assessment_center 											{
    .header 												{ }
    .body 													{ }
  }


}

@media only screen and (min-width: 1400px) {

  #assessment_center 											{
    .body 													{
      .subject_content 									{
        .subject_item 									{ height: 100px;
          a 											{ font-size: 18px; }
        }
      }
      .module_results 									{
        .info_content 									{
          .previous_results 							{
            .student_stats 							{
              ul.result_date 						{
                li 								{ font-size: 14px; }
              }
            }
          }
          .information 								{
            .student_stats 							{
              .info_title 						{ width:170px;}
              .borderinfo 						{ }
            }
          }
          .display 									{
            .student_stats 							{
              ul 									{
                li 								{ font-size: 15px; line-height: 33px; }
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 1670px) {

  #assessment_center 											{
    .body 													{
      button.btn 											{ font-size: 19px; }
      h2 													{ font-size: 23px; line-height: 30px; }
      .module_results 									{
        .header 										{
          h3 											{ font-size: 19px; padding: 15px; padding: 20px 15px; }
        }
        .info_content 									{
          .display 									{
            .no_info  								{ margin-top: 105px; }
            .title h3 								{ font-size: 19px; padding: 17px 15px; }
          }
          .previous_results 							{
            .student_stats 							{
              ul.result_date 						{
                li 								{ font-size: 14px; }
              }
              ul 									{
                &.result_stats 				{
                  li 							{
                    &:nth-child(1), &:nth-child(3) 			{ font-size: 25px; }
                    &:nth-child(2) 			{ font-size: 19px }
                    .svg_ico 				{ width: 45px;  height: 45px; }
                  }
                }
              }
            }
          }
          .information 								{
            .student_stats 							{
              .info_title 						{ width:170px;}
              .borderinfo 						{ }
            }
          }
          .display 									{ min-height: 330px;
            .student_stats 							{
              ul 									{
                li 								{ font-size: 16px;  line-height: 37px; }
              }
            }
          }
        }
      }
    }

    .test_header 											{
      .quiz_options 										{
        ul 												{
          li 											{

            &.timer_counter 						{
              span 								{
                ul#clockdiv 					{
                  li 							{  font-size: 15px; }
                }
              }
            }
            .quit_test, .instruction				{ font-size: 16px;  padding: 8px 15px }
          }
        }
      }
      .quiz_progress 										{
        .submit_test 									{ padding: 8px 15px; font-size: 16px; }
      }
    }

    .quiz_content 											{
      .action_btns .center_btns .answer_status 			{ padding: 8px 10px; }
      &.template2 , &.template6							{
        .answers 										{
          .block										{ margin-bottom: 20px;
            p 										{ font-size: 15px ; line-height: 20px ; }
          }
        }
      }
      &.template4											{
        .answers.long_test								{
          .block										{
            .block_inner 							{
              p 									{ font-size: 16px ; line-height: 22px ; }
            }
          }
        }
      }
      .action_btns										{
        button.btn 									{ font-size: 15px; padding: 10px 15px; }
      }
      .answer_description 								{ font-size: 15px; }
    }

    .assessment_results 									{
      h2 													{ font-size: 26px;  }
      ul 													{
        li 												{
          .title 										{ font-size: 20px; }
          .value 										{ font-size: 35px; margin-bottom: 20px; }
        }
      }
      .action_btns 										{
        button 											{ font-size: 18px; }
      }
    }

    .precentage_and_probability 							{
      h2 													{ font-size: 30px; }
      ul 													{
        li  											{ padding: 12px 15px; font-size: 20px; }
      }
    }
  }
}


