<div class="container-fluid assessment_center" id="assessment_center">
  <div class="header_bg parallax-window" >
    <div class="container header_content">
      <div class="header_content_inner">
        <button-dashboard></button-dashboard>
        <h1>Assessment Centre</h1>
      </div>
    </div>
  </div>
  <div class="container padding0 assessment_center_inner">
    <div class="body">
      <div class="subject_content col-md-12 col-lg-12">
        <div class="subject_content_inner" id="assesments_subjects">

          <div *ngFor="let data of model" class="col-lg-3 col-md-3 col-sm-12 col-xs-12 subject_item waves-effect waves-button waves-float {{data.addClass}}"
               id="sub_item" [style.background]="data.style" (click)="loadTestData(data)">
            <div class="loader_ white hide"></div>
            <div class="subject_{{data.subject_id}} inner_subcontent">
              <div class="head" [style.background]="data.stylebg">
                <h2>{{data.subject_name}}</h2>
                <div class="subject_img">
                  <img src="{{data.img_url}}" alt="" [style.background]="data.bg_color">
                </div>
              </div>
              <div class="body">
                <div class="skewed"></div>
                <button class="btn learnmore_btn" [style.background]="data.stylebg"><a href="javascript:void(0)">START ASSESSMENT</a></button>
              </div>

            </div>
          </div>

        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
</div>

<ng-template #mainModal>
  <div class="modal-header arrow_box" [style.background]="modelSub.color" [style.border-color]="modelSub.color">
    <button class="btn backn" data-dismiss="modal" (click)="backToMain();"><i class="icon-left-arrow"></i></button>
    <h2>{{modelSub.subject_name}}</h2>
  </div>
  <div class="modal-body">
    <div class="test_types_inner col-md-12 col-lg-12 block">
      <div class="load_tests">
        <div class="animated zoomIn block {{loaderClass}} {{modelSub.disabledsub}} {{modelSub.subject_name}} col-md-6 col-lg-6 col-sm-12 col-xs-12 subjectblock test_block"
          (click)="loadSubTest(modelSub)">
          <i class="icon-subject"></i><h2>Subject Test</h2>
        </div>
        <div class="animated zoomIn block {{loaderClass}} {{modelSub.disabledmodule}} {{modelSub.subject_name}}modules col-md-6 col-lg-6 col-sm-12 col-xs-12 moduleblock test_block"
            (click)="loadModuleResult(modelSub)">
          <i class="icon-module"></i><h2>Module Test</h2>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>

<ng-template #subModal>
  <div class="modal-header arrow_box" id="headerpanel" [style.background]="subColor" [style.border-color]="subColor">
    <button class="btn backn" data-dismiss="modal" (click)="backToMain();"><i class="icon-left-arrow"></i></button>
    <h2 id="headertitle">{{subject}}</h2>
  </div>
  <div class="modal-body">
    <div class="module_type col-md-12 col-lg-12 block">
      <div class="load_tests" id="moduleblock">
        <div *ngFor="let data of modelModule" class="animated zoomIn block materialize hvr-grow col-md-6 col-lg-6 col-sm-12 col-xs-12 moduletypes"
             (click)="loadModuleTest(data)">
          <i class="icon-module"></i><h2>{{data.module_name}}</h2>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</ng-template>


