<div class="col-lg-6 col-md-6  col-sm-6 col-xs-12 login-form ">
  <div class="login-form-midlle">
    <div class="login-form-midlle-block">
      <div class="loader hide"> </div>
      <h3>Log In</h3>
      <p>Choose one of the following Log In methods</p>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6"> <a href="#" onclick="fb_login();" class="btn btn-facebook btn-block"><i class="fa fa-fw fa-facebook"></i> Facebook</a> </div>
        <div class="col-xs-12 col-sm-6 col-md-6"> <a href="#" id="google_plus" class="btn btn-google-plus btn-block"><i class="fa fa-fw fa-google-plus"></i> Google</a> </div>
      </div>
      <div class="login-or">
        <hr class="hr-or"> <span class="span-or">or</span> </div>
      <form role="form" (ngSubmit)="login()" #f="ngForm" novalidate>

        <div class="error-message competition-message col-md-12 col-xs-12 margin0"></div>
        <div class="form-group">
          <input type="text" class="form-control form-control-middle" id="email_address" name="email_address" placeholder="Username or email" [(ngModel)]="model.email_address" #username="ngModel" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control form-control-middle" id="password"  name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required>
        </div>

        <button id="login_btn" class="btn btn btn-primary btn-defult"> Log In </button>

      </form>
      <div class="login-help"> <a routerLink="/sign-up">New User ?</a> <a routerLink="/pw-change"> Forgot Password</a> </div>
    </div>
  </div>
</div>


