<div class="container-fluid quiz_challenge" id="quiz_challenge">

  <div class="header_bg parallax-window" >
    <div class="container header_content">
      <div class="header_content_inner">
        <button-dashboard></button-dashboard>
        <h1>Quiz Challenge</h1>
      </div>
    </div>
  </div>
  <div class="container padding0 quiz_challenge_inner">
    <div class="body">
      <div class=" col-md-12 details_row">
        <div class="profile_details col-md-3 col-sm-4">
          <div class="profile_details_inner">
            <div class="profile_image" id="change_avatar" title="Change Your Avatar">
              <div class="overlayhover"></div>
              <span class="glyphicon glyphicon-camera edit-image" aria-hidden="true"></span>
            </div>
            <div class="user_stats row">
              <div class="title_bar">
                <h4 class="name"></h4>
                <div class="countryname"></div>
              </div>
              <div class="overall_stats">
                <ul>
                  <li>
                    <i class="icon-matches"></i>
                    <span class="numbers overall_count"></span>
                    <span class="wins">Matches</span>
                  </li>
                  <li>
                    <i class="icon icon-wins"></i>
                    <span class="numbers win_count"></span>
                    <span class="wins">Wins</span>
                  </li>
                  <li>
                    <i class="icon-losses"></i>
                    <span class="numbers lost_count"></span>
                    <span class="wins">Losses</span>
                  </li>
                  <li>
                    <i class="icon-draws"></i>
                    <span class="numbers draw_count"></span>
                    <span class="wins">Draws</span>
                  </li>
                </ul>
              </div>
              <div class="avg_stats">
                <ul>
                  <li>
										<span class="avg c_answer">
											<i>00</i>
										</span>
                    <span class="title">Avg Correct Answers</span>
                  </li>
                  <li>
										<span class="avg avg_time_per_answer">
											<i>00:00</i>
										</span>
                    <span class="title">Avg Time per Answer</span>
                  </li>
                  <li>
										<span class="avg b_win">
											<i>00</i>
										</span>
                    <span class="title">Biggest Win Streak</span>
                  </li>
                  <li>
										<span class="avg c_answer_inrow">
											<i>00</i>
										</span>
                    <span class="title">Correct Answers in a row</span>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-sm-8 quiz_details">
          <div class="quiz_details_inner">
            <ul class="nav nav-tabs" id="maintabview">
              <li class="active"><a data-toggle="tab" href="#challenge">Challenge</a></li>
              <li><a data-toggle="tab" href="#challenge" id="leaderbord_section">Leaderboard</a></li>
              <li><a data-toggle="tab" href="#challenge" id="history_section">History</a></li>
            </ul>

            <div class="tab-content">
              <div id="challenge" class="tab-pane fade in active">

                <div class="select_subject">

                  <div class="col-md-4 col-sm-4" id="all_subjects">
                    <div class="all_subjects subjects_block">
                      <div class="flipper">
                        <div class="front">
                          <h4>All Subjects</h4>

                        </div>
                        <div class="back_ ">
                          <div class="back_inner">
                            <button class="btn play_btn waves-effect waves-button waves-float" id="start_challenge">Play</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-2 orbtn">
                    <div class="or_inner">
                      <h3>OR</h3>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="row subject_list" id="subject_list">
                      <div *ngFor="let data of model" class="subject subjects_block" id="{{data.sub_id}}">
                        <div class="flipper">
                          <div class="front">
                            <h4>{{data.subject_name}}</h4>
                            <img src="{{data.img_url}}" alt="" [style.background]="data.color">
                          </div>
                          <div class="back_ ">
                            <div class="back_inner">
                              <button class="btn play_btn waves-effect waves-button waves-float" id="start_challenge">Play</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>

            <!--<ngb-tabset type="pills" id="maintabview">
              <ngb-tab title="Challenge">
                <ng-template ngbTabContent>
                  <div class="select_subject">
                    <div class="col-md-4 col-sm-4" id="all_subjects">
                      <div class="all_subjects subjects_block">
                        <div class="flipper">
                          <div class="front">
                            <h4>All Subjects</h4>

                          </div>
                          <div class="back_ ">
                            <div class="back_inner">
                              <button class="btn play_btn waves-effect waves-button waves-float" id="start_challenge">Play</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 orbtn">
                      <div class="or_inner">
                        <h3>OR</h3>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="row subject_list" id="subject_list"><div class="subject subjects_block" id="Mathssub">
                        <div class="flipper">
                          <div class="front">
                            <h4>Maths</h4>
                            <img src="assets/images/maths.png" alt="" style="background :#00aced">
                          </div>
                          <div class="back_ ">
                            <div class="back_inner">
                              <button class="btn play_btn waves-effect waves-button waves-float" id="start_challenge">Play</button>
                            </div>
                          </div>
                        </div>
                      </div><div class="subject subjects_block" id="Biologysub">
                        <div class="flipper" >
                          <div class="front">
                            <h4>Biology</h4>
                            <img src="assets/images/bio.png" alt="" style="background :#00ab8a">
                          </div>
                          <div class="back_ ">
                            <div class="back_inner">
                              <button class="btn play_btn waves-effect waves-button waves-float" id="start_challenge">Play</button>
                            </div>
                          </div>
                        </div>
                      </div><div class="subject subjects_block" id="Chemistrysub">
                        <div class="flipper">
                          <div class="front">
                            <h4>Chemistry</h4>
                            <img src="assets/images/chemistry.png" alt="" style="background :#fbb712">
                          </div>
                          <div class="back_ ">
                            <div class="back_inner">
                              <button class="btn play_btn waves-effect waves-button waves-float" id="start_challenge">Play</button>
                            </div>
                          </div>
                        </div>
                      </div><div class="subject subjects_block" id="Physicssub">
                        <div class="flipper" onclick="startChallenge('SUBJECT',2)">
                          <div class="front">
                            <h4>Physics</h4>
                            <img src="assets/images/physics.png" alt="" style="background :#ec4a49">
                          </div>
                          <div class="back_ ">
                            <div class="back_inner">
                              <button class="btn play_btn waves-effect waves-button waves-float" id="start_challenge">Play</button>
                            </div>
                          </div>
                        </div>
                      </div></div>
                    </div>

                  </div>

                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
                <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                  <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                    craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                    cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                    yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                    shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                    sint qui sapiente accusamus tattooed echo park.</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Disabled" [disabled]="true">
                <ng-template ngbTabContent>
                  <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>-->
          </div>

          <div id="startChallege" class="modal fade-scale" >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">

                  <div class="set_opponent">
                    <div class="col-md-6 col-sm-6 col-xs-6 me block">
                      <div class="wrapper">
                        <div class="inner">
                          <span class="avatar"></span>
                          <span class="name my"></span>
                          <div class="countryname user_country"></div>
                          <div class="overall_stats">
                            <ul>
                              <li>
                                <i class="icon icon-wins"></i>
                                <span class="numbers win_count"></span>
                                <!-- <span class="wins">Wins</span> -->
                              </li>
                              <li>
                                <i class="icon-losses"></i>
                                <span class="numbers lost_count"></span>
                                <!-- <span class="wins">Losses</span> -->
                              </li>
                              <li>
                                <i class="icon-draws"></i>
                                <span class="numbers draw_count"></span>
                                <!-- <span class="wins">Draws</span> -->
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <span class="vs">VS</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 opponent block">
                      <div class="wrapper searching_opponent">
                        <div class="inner">
                          <canvas id='globe' width='120' height='120' ></canvas>
                          <div class="loader">Searching Opponent <span>.</span><span>.</span><span>.</span></div>
                        </div>
                      </div>
                      <div class="wrapper  opponent_user hide">
                        <div class="inner opponentinner">
                          <span class="avatar"></span>
                          <span class="name dark">-</span>
                          <div class="countryname_op user_country"></div>
                          <div class="overall_stats">
                            <ul>
                              <li>
                                <i class="icon icon-wins"></i>
                                <span class="numbers win_count_op"></span>
                                <!-- <span class="wins">Wins</span> -->
                              </li>
                              <li>
                                <i class="icon-losses"></i>
                                <span class="numbers lost_count_op"></span>
                                <!-- <span class="wins">Losses</span> -->
                              </li>
                              <li>
                                <i class="icon-draws"></i>
                                <span class="numbers draw_count_op"></span>
                                <!-- <span class="wins">Draws</span> -->
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="changeAvatar" class="modal fade-scale fade" >
            <div class="modal-dialog modal-dialog-center ">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="profile_avatar"></div>
                  <button type="button" class="close" data-dismiss="modal" id="close_btn_model">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="false" id="Avatar_carousel" style="height:150px;">
                    <div class="loader_ hide" id="avatar_load"></div>
                    <div class="carousel-inner" id="avatar_slider"  style="visibility: visible; animation-delay: 3s; animation-name: fadeInUp;">

                    </div>
                  </div>
                  <div class="btn_section">
                    <button class="btn changeavatar">Change Avatar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
