@import '../../assets/sass/variables';

@mixin box_shadow() 										{ -webkit-box-shadow: 1px 1px 18px -5px rgba(0,0,0,0.75); -moz-box-shadow: 1px 1px 18px -5px rgba(0,0,0,0.75); box-shadow: 1px 1px 18px -5px rgba(0,0,0,0.75); }

#quiz_challenge 											{ padding:0; color: #fff;
  .quiz_challenge_inner 									{ position: relative; top: -70px;}
  .assessment_bg 											{ height: 100%; width: 100%;  background: #f1f1f1; position: fixed; z-index: -1; top: 0; left: 0;  }
  .header 												{ position: relative; float: none;
    button.btn 											{ background: #bfbfbf; position: absolute; top: 0;
      &:focus, &:hover 								{ background: darken($default_gray, 15%) }
    }
    h1 													{ text-align: center; width: 100%; color: $dark_blue;   }
    h2 													{ display: block; background: $dark_blue; color: #fff; padding: 15px; margin-bottom: 15px; font-size: $default_font_size+3;  }

  }


  .body													{
    .details_row 										{ display: flex; padding-top: 50px; padding-left: 15px;
      .profile_details 								{ background: #fff; @include box_shadow();  height: inherit; font-size: $default_font_size - 1  ;  font-family: Montserrat-light; border-radius: 4px;
        // .change_avatar							{ color:$dark_blue; position:absolute; top: 15px; right:150px; z-index:2; font-size:22px; background:#fff; width:20px; height:20px; border-radius:50%; cursor: pointer; @include box_shadow();
        // 	&.hover 							{ color: darken($dark_blue, 15%);}
        // }
        .profile_details_inner  					{
          .profile_image 							{ border-radius: 50%; width: 100px; height: 100px; border: 3px #fff solid; margin: auto; background: #f1f1f1; background-size: contain; left: 0; top: -50px; position: absolute; right: 0;
            .overlayhover 						{ position: absolute; top: -3px; left: -3px; border-radius: 50%; width: 100px; height: 100px; background: rgba(0, 0, 0, 0); transition: background 0.5s ease;}
            &:hover 							{ background-color: darken($default_gray, 5%); cursor: pointer;
              span.edit-image					{ opacity:1;}
              .overlayhover  					{ background: rgba(0, 0, 0, 0.6);}
            }
            span.edit-image						{ position: absolute; right: 38px; top: 45px; font-size: 18px; color: rgba(255, 255, 255, 0.5); opacity: 0; cursor: pointer;}
            span.edit-image:hover 				{ opacity:1;}
          }
          .user_stats 							{ color: #111; padding: 20px;  padding-top: 60px;
            .title_bar 							{ text-align: center;
              h4.name							{ font-family: Montserrat-Regular; font-size: $default_font_size - 1; margin-bottom: 7px; text-transform:uppercase; letter-spacing:0.05rem; font-weight:600;}
              .flag-icon 						{ margin-right:5px; font-size: $default_font_size - 2; }
              span 							{ font-size: $default_font_size - 3; color: #8a8a8a;
                &.age 						{ margin-right: 10px;  }
              }
            }
          }

          .overall_stats 							{ padding: 30px 0 15px 0;
            ul 									{ display: table; text-align: center; margin: auto;
              li 								{ display: table-cell; vertical-align: middle;  padding: 0 12px; color: $dark_blue;
                i 							{ margin-bottom: 8px; display: block;  font-size: $default_font_size + 11; }
                span 						{ display: block;  font-size: $default_font_size - 4; line-height: 15px;
                  &.numbers 				{ font-size: $default_font_size; font-family: Montserrat-Regular; }
                }
              }
            }
          }

          .avg_stats 								{ padding: 20px 0 20px 10px; padding-bottom: 0;
            ul 									{
              li 								{ width: 50%; display: block; align-items: center; float: left; margin-bottom: 25px;  font-size: $default_font_size - 2; line-height: 13px;
                span.avg 					{ width: 45px; height: 45px; display: table; border-radius: 50%; text-align: center; background: $dark_blue ; color: #fff; text-align: center; float: left; vertical-align: middle;
                  i 						{ display: table-cell; vertical-align: middle; font-style: normal; font-family: Montserrat-Regular;}
                }
                span.title 					{ @include calc( width, "100% - 45px"); float: left; padding: 0 10px; font-family: Montserrat-Regular; font-size: $default_font_size - 3; color:$dark_blue;}

              }
            }
          }

        }

      }

      .quiz_details 									{ display: block; padding-right: 0;
        .quiz_details_inner 						{ width: 100%; height: inherit;
          .nav-tabs 								{ border: 0;
            li 									{ text-transform: uppercase;
              &.active a 						{ border-color: #97a8af;  background: #97a8af; color: #fff; }
              a 								{ margin-bottom: 10px; border-radius: 20px; font-size: 12px; letter-spacing: 0.05rem; font-weight: 800; background: #fff; color: #111; margin-right: 10px; @include box_shadow();

              }
            }
          }
          .tab-content 							{ position: relative; width: 100%;  /* @include calc( min-height, "100% - 50px"); */ background: #fff; @include box_shadow();  color: #111; padding: 0; border-radius:4px;
            .head 								{ margin-bottom: 25px; color: $dark_blue; }
            .tab-pane 							{ /* min-height: 350px; */ }
            $block_height: 300px;
            .select_subject 					{ width: 100%; overflow: hidden; padding: 15px 0; display: block; align-items: center; }
            .orbtn 								{ text-align:center; padding:0; color: #014b70;
              .or_inner 						{ margin: 148px 0;}
            }
            #all_subjects 						{ padding-right:0;}
            .subjects_block 					{ perspective: 1000px; transform-style: preserve-3d;
              &:hover .flipper 				{ transform: rotateY(180deg); }
              .flipper 						{ transition: 0.6s; width: 100%; height: 100%; transform-style: preserve-3d; position: relative; background-color: #efefef; border: 1px #e6e6e6 solid; cursor:pointer; }
              .front, .back_	 				{ box-shadow: 1px 1px 18px -8px rgba(0,0,0,0.75); backface-visibility: hidden; transition: 0.6s; width: 100%; height: 100%; padding: 20px; transform-style: preserve-3d; position: absolute; top: 0; left: 0; }
              .front 							{ z-index: 2; transform: rotateY(0deg); }
              .back_ 							{ transform: rotateY(180deg); display:table;
                .back_inner 				{ width: inherit; height: inherit; display: block; align-items: center; display:table-cell; vertical-align:middle; cursor:pointer;
                  button.play_btn 		{ background: $dark_blue; width: 100%; border-radius: 20px;
                    &:hover 			{ color:#fff; background: darken($dark_blue, 5%)}
                  }
                }
              }

              h4 								{ margin-bottom: 15px; text-align: center; color: $dark_blue; }
              &.all_subjects 					{ height: $block_height + 15; width: 100%; padding-right:0;
                .front 						{ background-image: url($image-path +"all_subjects.png"); background-size: 150px; background-repeat: no-repeat; background-position: 50%;  }

              }
              &.subject 						{ @include calc( width, "50% - 15px"); height: $block_height / 2; float: left; margin-right: 15px; margin-bottom: 15px;
                &:nth-child(2n) 			{ margin-right: 0;}
              }
              img 							{ width: 80px; margin: auto; display: block; border-radius: 50%; }

            }

            .subject_list  						{ height: $block_height + 15; }

            #Chemistrysub , #Physicssub 		{
              &.subject 						{ @include calc( width, "50% - 15px"); height: $block_height / 2; float: left; margin-right: 15px; margin-bottom: 0;}
            }

            #history 							{
              .tab-history 					{ height:365px;}
              #overall						{ padding: 5px;
                .tablepanel 					{
                  p 							{ color: #cfd7da; text-align: center; padding: 150px 0; vertical-align: middle;}
                }
                .history-table					{ width: 100%;
                  th  						{ background-color: #97a8af; text-align:center; padding: 14px; font-size: 12px; font-weight:800;}
                  td  						{ text-align:center; font-size:12px; padding:20px;
                    img.image				{ border-radius: 50%; width: 43px; height: 43px; border: 3px #fff solid;background: #f1f1f1;  position: absolute; margin-top: -15px;}
                    i 						{ vertical-align:middle; font-size:18px; padding-right: 6px;}
                  }
                  tr td:last-child 			{ border-left: 1px solid #97a8af;
                    .gamelost 				{ transform:rotate(180deg); display:inline-block; padding-left: 6px;}
                  }
                  tr 							{ background:#cfd7da;}
                  .stname 					{ padding: 10px; text-align:left;
                    .profile_img			{ vertical-align:middle; border-radius: 50%; width: 28px; height: 28px; background: #f1f1f1; background-image: url($image-path +"child1.png"); background-size: contain; display:inline-block}
                    #section				{ vertical-align: middle; display: inline-block}
                  }
                  .spacer 					{ height:5px;}
                }
              }
            }
            #leaderboard1 						{
              .row 							{ margin:0;}
              #navfirst 						{
                li 							{ width:50%; text-align:center;
                  &.active a 				{ border: 0;  background: #97a8af; color: #fff; }
                  a 						{ border: 0; margin:0; margin-bottom: 10px; border-radius: 0; font-size: 13px;  background: #fff; color: #111; @include box_shadow(); letter-spacing:0.1rem; background:#cfd7da;}
                }
              }
              #leaderboard2 					{
                .dropdown 					{
                  .dropdown-menu 			{ padding:0;
                    li 					{
                      a 				{ margin-bottom: 0!important; margin:0; padding: 10px; text-align:left; line-height: 1em; border-bottom: 1px solid $dark_blue!important;
                        &:hover 	{ background: $dark_blue!important; color:#fff!important;}
                      }
                      &:last-child 	{
                        a 			{ border-bottom:0!important;}
                      }
                    }
                  }
                }
              }
              #leader_load 					{ left:0;}
              #tabsinner 						{ background:transparent; box-shadow:none; padding:0;
                #navsecond 					{ display: table; margin: auto;
                  li 						{ text-align:center;
                    &.active a 			{ border: 0; color: #014b70; background:none; box-shadow:none;}
                    a 					{ font-family: Montserrat-Regular; border: 0; margin:0; background:none;  margin-bottom: 10px; border-radius: 0; font-size: 11px; color: #97a8af; letter-spacing:0.07rem; box-shadow:none;  cursor: pointer;}
                  }
                }
                #tabledreamteam 			{ height: auto;}
                #dreamteam 					{
                  .dream_team_common 		{ margin-bottom: 20px;
                    #profile_image_dream_team{ width: 65px; height: 65px; background: #c5d2d8; border-radius: 50%; display: inline-block; vertical-align: middle; margin-right: 5px; cursor:pointer;}
                  }
                }
                .tablecontent 				{ background:transparent; box-shadow:none; padding:0; height: 275px;
                  .mylevel 				{ border:2px solid $dark_blue; color:$dark_blue;}
                  .tab-pane 				{ display:none;}
                  .in 					{ display:block;}
                  #overall 				{ padding:0 5px;
                    .leaderlist 		{ width:100%;
                      .leaderlistitem { padding:0; font-size:12px; background:#cfd7da;
                        td 			{ }
                        #section 	{ vertical-align:middle; display:inline-block; width:12px;}
                        i 			{ vertical-align:middle; font-size:30px;}
                        .place 		{ vertical-align:middle; background: #97a8af; font-size:20px; text-align:center; padding:10px; color:#111;}
                        .stname 	{ padding:10px;
                          .profile_img { vertical-align:middle; border-radius: 50%; width: 28px; height: 28px; background: #f1f1f1; background-image: url($image-path +"child1.png"); background-size: contain; display:inline-block}
                          #sections 	 { vertical-align:middle; display:inline-block;}
                          .direct_profile{ cursor:pointer;}
                        }
                        .wins , .draws , .losses { padding:10px; font-size:12px;}
                        #drws 		{ padding-right:15px;}
                        .starsmrk 	{ padding:10px; border-left:1px solid #97a8af;  text-align:center;
                          i 		{ vertical-align:middle; color:#FED000; font-size:25px;}
                          #sections { vertical-align:middle; display:inline-block;}
                        }
                      }
                      .spacer 		{ height:5px;}
                    }
                  }
                  #month 					{ padding:0 5px;
                    .leaderlist 		{ width:100%;
                      .leaderlistitem { padding:0; font-size:12px; background:#cfd7da;
                        td 			{ }
                        #section 	{ vertical-align:middle; display:inline-block; width:12px;}
                        i 			{ vertical-align:middle; font-size:30px;}
                        .place 		{ vertical-align:middle; background: #97a8af; font-size:20px; text-align:center; padding:10px; color:#111;}
                        .stname 	{ padding:10px;
                          .profile_img { vertical-align:middle; border-radius: 50%; width: 28px; height: 28px; background: #f1f1f1; background-image: url($image-path +"child1.png"); background-size: contain; display:inline-block}
                          #sections 	 { vertical-align:middle; display:inline-block;}
                          .direct_profile{ cursor:pointer;}
                        }
                        .wins , .draws , .losses { padding:10px; font-size:12px;}
                        #drws 		{ padding-right:15px;}
                        .starsmrk 	{ padding:10px; border-left:1px solid #97a8af;  text-align:center;
                          i 		{ vertical-align:middle; color:#FED000; font-size:25px;}
                          #sections { vertical-align:middle; display:inline-block;}
                        }
                      }
                      .spacer 		{ height:5px;}
                    }
                  }
                  #week 					{ padding:0 5px;
                    .leaderlist 		{ width:100%;
                      .leaderlistitem { padding:0; font-size:12px; background:#cfd7da;
                        td 			{ }
                        #section 	{ vertical-align:middle; display:inline-block; width:12px;}
                        i 			{ vertical-align:middle; font-size:30px;}
                        .place 		{ vertical-align:middle; background: #97a8af; font-size:20px; text-align:center; padding:10px; color:#111;}
                        .stname 	{ padding:10px;
                          .profile_img { vertical-align:middle; border-radius: 50%; width: 28px; height: 28px; background: #f1f1f1; background-image: url($image-path +"child1.png"); background-size: contain; display:inline-block}
                          #sections 	 { vertical-align:middle; display:inline-block;}
                          .direct_profile{ cursor:pointer;}
                        }
                        .wins , .draws , .losses { padding:10px; font-size:12px;}
                        #drws 		{ padding-right:15px;}
                        .starsmrk 	{ padding:10px; border-left:1px solid #97a8af;  text-align:center;
                          i 		{ vertical-align:middle; color:#FED000; font-size:25px;}
                          #sections { vertical-align:middle; display:inline-block;}
                        }
                      }
                      .spacer 		{ height:5px;}
                    }
                  }
                  #total, #maths, #biology, #chemistry, #physics{ padding:0 5px;
                    .leaderlisttotal 	{ width:100%;
                      .leaderlistitem { padding:0; font-size:12px; background:#cfd7da;
                        td 			{ }
                        #section 	{ vertical-align:middle; display:inline-block; width:12px;}
                        i 			{ vertical-align:middle; font-size:30px;}
                        .place 		{ vertical-align:middle; background: #97a8af; font-size:20px; text-align:center; padding:10px; color:#111;}
                        .stname 	{ padding:10px;
                          .profile_img { vertical-align:middle; border-radius: 50%; width: 28px; height: 28px; background: #f1f1f1; background-image: url($image-path +"child1.png"); background-size: contain; display:inline-block}
                          #sections 	 { vertical-align:middle; display:inline-block;}
                          .direct_profile{ cursor:pointer;}
                        }
                        .wins , .draws , .losses { padding:10px; font-size:12px;}
                        #drws 		{ padding-right:15px;}
                        .starsmrk 	{ padding:10px; border-left:1px solid #97a8af;  text-align:center;
                          i 		{ vertical-align:middle; color:#FED000; font-size:25px;}
                          #sections { vertical-align:middle; display:inline-block;}
                        }
                      }
                      .spacer 		{ height:5px;}
                    }
                  }
                  #global, #country, #city{ padding:0 5px;
                    .leaderlistgloble 	{ width:100%;
                      .leaderlistitem { padding:0; font-size:12px; background:#cfd7da;
                        td 			{ }
                        #section 	{ vertical-align:middle; display:inline-block; width:12px;}
                        i 			{ vertical-align:middle; font-size:30px;}
                        .place 		{ vertical-align:middle; background: #97a8af; font-size:20px; text-align:center; padding:10px;}
                        .stname 	{ padding:10px;
                          .profile_img { vertical-align:middle; border-radius: 50%; width: 28px; height: 28px; background: #f1f1f1; background-image: url($image-path +"child1.png"); background-size: contain; display:inline-block}
                          #sections 	 { vertical-align:middle; display:inline-block;}
                          .direct_profile{ cursor:pointer;}
                        }
                        .wins , .draws , .losses { padding:10px; font-size:12px;}
                        #drws 		{ padding-right:15px;}
                        .starsmrk 	{ padding:10px; border-left:1px solid #97a8af;  text-align:center;
                          i 		{ vertical-align:middle; color:#FED000; font-size:25px;}
                          #sections { vertical-align:middle; display:inline-block;}
                        }
                      }
                      .spacer 		{ height:5px;}
                    }
                  }
                }

              }
            }
          }
        }
      }

      .modal#startChallege 							{ padding: 0 !important;
        &.in 										{ margin: 6% 0; display: flex; align-items: center; }
        .modal-content 								{ box-shadow: none; border-radius: 0;
          .modal-body 							{ padding: 0;
            .set_opponent 						{ display: flex;
              span.vs 						{ padding: 18px 14px; background: #cfd7da; color: #014b70; border-radius: 50%; position: absolute; right: 0; width: 50px; height: 50px; right: -25px; @include calc( top, "50% - 25px"); }
              span.name 						{ font-size: 12px; margin-bottom: 7px; text-transform: uppercase; letter-spacing: 0.05rem;}
              .block 							{ position: relative;
                &.me 						{ background: $dark_blue; }
                .wrapper 					{ display: flex; align-items: center; min-height: 400px; width: 100%;
                  &.opponent_user, &.searching_opponent 		{ position: absolute; top: 0; left: 0; width: 100%; }
                  .inner 					{ display: table-cell; vertical-align: middle; width: 100%; height: 100%; text-align: center;
                    span.avatar 		{ border-radius: 50%; display: block; width: 90px; height: 90px; border: 3px #fff solid; margin: auto; margin-bottom: 15px; background: #f1f1f1; background-image: url($image-path +"child1.png"); background-size: cover;   }
                    span.name.dark 		{ color: $dark_blue; }
                    .user_country 		{ font-size: 11px; color: #8a8a8a; padding:5px;
                      .flag-icon 		{ margin:0 5px 0 0;}
                    }
                    .overall_stats 		{ padding: 15px 0;
                      ul 				{ display: table; text-align: center; margin: auto;
                        li 			{ display: table-cell; vertical-align: middle;  padding: 0 10px; color: #8a8a8a;
                          i 		{ margin-bottom: 8px; display: inline-block; vertical-align: middle; font-size: $default_font_size + 11; }
                          span 	{ font-size: $default_font_size - 4; line-height: 15px;
                            &.numbers { font-size: $default_font_size + 4; font-family: Montserrat-Regular; vertical-align: text-top;}
                          }
                        }
                      }
                    }
                    canvas 				{ display: block; margin: auto; margin-bottom: 15px }
                    .loader 			{ color: #014b70; padding: 0px 10px;
                      span 					{ animation-name: blink;  animation-duration: 1.4s;  animation-iteration-count: infinite;  animation-fill-mode: both; font-size: 26px;
                        &:nth-child(2) 		{ animation-delay: .2s; }
                        &:nth-child(3)  	{ animation-delay: .4s; }
                      }
                    }
                  }
                  .opponentinner 			{
                    .overall_stats 		{
                      ul 				{
                        li 			{ color: $dark_blue;}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .modal#changeAvatar 							{
        .modal-dialog-center                        { margin: 100px auto; width:700px;
          .modal-content 							{ box-shadow: none; border-radius: 0;
            .modal-header 						{ border:none; padding:0 10px;
              #close_btn_model 				{ display:block; color:$dark_blue; font-size:35px;}
              .profile_avatar   				{ border-radius: 50%; width: 90px; height: 90px; border: 3px #fff solid; margin: auto; background: #f1f1f1; background-size: contain; left: 0; top: -50px; position: absolute; right: 0;   }

            }
            .modal-body                 		{ color: #000; text-align:center; padding:20px 10px;
              #Avatar_carousel 				{ margin-top: 30px;
                .avatarlock 				{ color: #777; font-size:28px; position:absolute; top:78px;}
                .slick-slide				{
                  img 					{ border-radius: 50%; width: 110px; height: 110px; border: 3px #fff solid; margin: auto; background: #f1f1f1; padding:0; cursor: pointer; display: block;}
                  .overlayhover 			{ position: absolute; top:0px; margin-left:30px; border-radius: 50%; width: 110px; height: 110px; background: transparent; transition: background 0.5s ease; z-index:100;}
                  &:hover 				{ cursor: pointer;
                    img 				{ border:5px $dark_blue solid;}
                    .overlayhover  		{ background: rgba(255, 255, 255, 0.2);}
                  }

                }
              }
              .changeavatar 					{ background: $dark_blue; width: 30%; border-radius: 20px; margin:auto; font-size:14px;
                &:hover 					{ color:#fff; background: darken($dark_blue, 5%);}
              }
            }
          }
        }
      }
    }
  }
}

.confirm_box, .test_result_box								{ margin: 12% auto;
  .modal-content 											{ border-radius: 0;  background: #f2f2f2; border: 0; }
  .modal-dialog 											{ max-width: 450px; }
  .modal-header 											{ background: $dark_blue; color: #fff; border-radius: 0; padding: 10px 15px; text-transform: capitalize;  font-size: $default_font_size - 1; }
  .modal-header 											{ letter-spacing: 0.06rem; }
  .modal-body 											{ color: $dark_blue; font-size: $default_font_size - 1; line-height: 17px;
    input.form-control 									{ margin-top: 10px; border-radius: 0; border: 1px lighten($dark_blue, 0%) solid; color: $dark_blue; height: auto; padding: 3px 12px; outline: 0; box-shadow: none; }
    .radio 												{ margin-bottom: 20px; line-height: 20px; }
    ul 													{ margin-bottom: 10px;
      li 												{ }
    }
    p 													{ font-size: $default_font_size - 2; line-height: 15px; }
  }
  .modal-footer 											{ border: 0; padding-top: 0;
    button.btn 											{ font-size: $default_font_size - 2; padding: 10px 20px; letter-spacing: 0.06rem;  }
  }
}


.slick-prev,.slick-next 									{ font-size: 0; line-height: 0; position: absolute; top: 50%; display: block; width: 30px!important; height: 30px!important; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; z-index: 100; color: $dark_blue!important; border: none; outline: none; background: transparent; border-radius: 50%;}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus											{ color: $dark_blue!important; outline: none; background: transparent;}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before 									{ color: $dark_blue!important;}

.slick-prev:before,
.slick-next:before 											{ font-family: 'Glyphicons Halflings'!important; font-size: 25px; line-height: 1; opacity: 1; color: $dark_blue!important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; padding-left:2px;}

.slick-prev 												{ left: 0px!important;}
[dir='rtl'] .slick-prev 									{ right: 0px; left: auto;}
.slick-prev:before
{
  content: '\e079'!important;
}
[dir='rtl'] .slick-prev:before
{
  content: '\e079'!important;
}

.slick-next 												{ right: 0px!important;}
[dir='rtl'] .slick-next 									{ right: auto; left: 0px;
}
.slick-next:before
{
  content: '\e080'!important;
}
[dir='rtl'] .slick-next:before
{
  content: '\e080'!important;
}

.mCSB_dragger_bar 											{ background-color: rgba(0,0,0,0.5)!important;}
.mCSB_draggerRail 											{ background-color: rgba(255,255,255,0.8)!important;}
.mCSB_inside>.mCSB_container 								{ margin-right: 10px;}
@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}




//responsive

@mixin calc($key, $value)                           { #{$key}: -webkit-calc(#{$value}); #{$key}: -moz-calc(#{$value}); #{$key}: calc(#{$value}); }


@media only screen and (max-width: 460px) {
  #quiz_challenge_responsive 										{ display:block;
    .quiz_box_profile                 							{ padding:0;
      .quiz_box_profile_image         						{ width: 52px; height: 52px; background-size: contain; top: 17px; right: 0;}
      .quiz_profile_details  									{
        .quiz_name  										{ font-size: 10px!important;}
        .rank_number  										{
          h6 												{ font-size: 8px!important; padding: 7px!important;}
        }
      }
    }
    .quiz_boz_quiz 												{ margin-bottom: 20px;
      h4 														{ font-size:12px;}
      .quiz_boz_progress  									{
        .progress 											{ height: 15px;}
      }
    }
  }

}


@media only screen and (max-width: 767px) {




  #quiz_challenge 													{
    .header_bg 														{ height: 200px;
      .header_content												{
        .header_content_inner 									{
          button.backn 										{ margin-top: -5px; }
          h1 													{ margin-top: 0px; }

          #quiz_challenge_quiz_box 							{ display:block; padding: 15px; position: relative;
            .quiz_box_profile                 				{ padding:0; width: 50%; float: left; margin-top: 0; margin-bottom: 15px;
              .quiz_box_profile_image         			{ width: 40px; height: 40px; display: block; background-size: contain; top: 17px; right: 0;  }
              .quiz_profile_details  						{ padding: 0 5px; margin-top: 0; display: block; @include calc( width, "100% - 40px");
                .quiz_name  							{ font-size: 12px;  }
                .rank_number  							{
                  &.self 								{ text-align: left; }
                  &.oppo 								{ text-align: right; }
                  h6 									{ font-size: 21px; }
                }
              }
            }
            .quiz_box_quiz 									{ margin-bottom: 10px;
              &.top 										{ position: absolute; bottom: -30px; z-index: 900; width: 100%; left: 0; }
              h4 											{ font-size:12px;}
              .quiz_boz_progress  						{ margin-top: 0; padding: 0;
                .progress 								{ height: 15px;}
              }

              .circular_timer 							{ background: #FFF; border-radius: 50%; color: #014b70; border: 3px #FFF solid;
                .clockdiv 								{ top: 13px; font-size: 14px; }
              }
            }
          }
        }
      }
    }
    .quiz_challenge_inner                     					{
      .header 												{
        h1 													{ margin-top: 25px;  font-size: 20px; }
        button.btn 											{ position: relative; display: block; margin: auto; width: 100%; }
      }
      .body 													{
        .details_row 										{ display:block;
          .profile_details 								{ margin-bottom: 25px;}
          .quiz_details 									{ padding: 0px;
            .quiz_details_inner 						{
              #maintabview							{ width: 320px; margin:auto;
                li a								{ font-size:11px; padding: 8px 10px;}
              }
              .tab-content 							{ margin-top: 25px; width: 100%;
                .head								{ margin: 0px;}
                .select_subject 					{
                  .row 							{ padding-left: 15px;}
                  h3 								{ text-align: center; padding:10px;}
                  .orbtn							{
                    .or_inner					{ margin: 5px;}
                  }
                }
                #leaderboard1 						{
                  #navfirst						{
                    li a						{ box-shadow:none;}
                  }
                  #tabsinner 						{
                    #dreamteam 					{
                      .dream_team_common 		{
                        #profile_image_dream_team{ width: 60px; height: 60px;}
                      }
                    }
                    #tablecontent 				{
                      #overall 				{
                        .leaderlist 		{
                          .leaderlistitem {
                            #gameinfo 	{ padding: 4px; font-size: 9px;
                              i 		{ font-size:25px;}
                            }
                            .stname 	{ padding: 5px; font-size: 10px;

                            }
                          }
                        }
                      }
                      #global 				{
                        .leaderlistgloble 	{
                          .leaderlistitem {
                            #gameinfo 	{ padding: 4px; font-size: 9px;
                              i 		{ font-size:25px;}
                            }
                            .stname 	{ padding: 5px; font-size: 10px;

                            }
                          }
                        }
                      }
                    }
                  }
                }

                #history 						{
                  #overall					{
                    .tablepanel 			{ min-height: auto;}
                    .history-table			{
                      th  				{ padding: 10px; font-size: 10px;}
                      td  				{ font-size:10px; padding:4px;
                        img.image		{ width: 43px; height: 43px;}
                        i 				{ font-size:18px; padding-right: 3px;}
                      }
                      tr td:last-child 	{ padding: 0px;
                        .gamelost 		{ padding-left: 3px; }
                      }
                      tr 					{}
                      .stname 			{ padding: 5px;
                        .profile_img	{ width: 25px; height: 25px;}
                        #section		{}
                      }
                    }
                  }
                }
                .subjects_block.all_subjects		{ padding-right: 15px;}
              }
            }
          }
        }


        .quiz_challenge_quiz_middle 						{ margin-top: 0 !important;
          .answersblck 									{
            #answerblocks  								{ width:100%; height: auto; line-height: 19px;}
          }
        }

        .modal#startChallege 								{ padding-right:0;
          &.in 											{ display: block; margin:25% 0; }
          .modal-content 									{
            .modal-body 								{
              .set_opponent 							{
                .block 								{
                  .wrapper 						{ min-height: 300px;
                    .inner 						{
                      canvas#globe 			{ width: 90px; height: 90px; }
                      .loader 				{ line-height: 13px; }
                    }
                  }
                }
              }
            }
          }
        }
        .modal#changeAvatar 								{
          .modal-dialog-center                        	{ width:auto;
            .modal-content 								{
              .modal-header 							{
                #close_btn_model 					{ }
                .profile_avatar   					{ }

              }
              .modal-body                 			{
                #Avatar_carousel 					{
                  .avatarlock 					{ }
                  img 							{ width: 80px; height: 80px;}
                }
                .changeavatar 						{ width: auto;
                  &:hover 						{ color:#fff; background: darken($dark_blue, 5%);}
                }
              }
            }
          }
        }
      }
      .result_panel 											{
        #result_quiz_box  									{ padding: 10px 0;
          .challenge_btns 								{ margin: 10px 0;
            button 										{ font-size: 12px; padding: 11px; }
          }
          .result_box 									{
            #avatarmsg, #winner_img						{ width: 50px; height: 50px;}
            .innerpanel 								{
              .resultprof_details              		{ margin-top: 12px;
                .countryname 						{
                  h6 								{ font-size: 9px; }
                }
                h3                             		{ font-size:12px;}
              }
              .result_badge_wrapper  					{ top: -40px;
                .result_badge 						{ width: 100px;  height: 100px;
                  img 							{ width: 60px; margin-top: -15px; font-size: 16px; }
                  h3 								{ font-size: 16px; }
                }
              }
              .time_spent 							{ margin-top: 50px;
                #qz_marks 							{ font-size:16px; padding:20px 0; margin: 0; }
                p 									{ line-height:19px; font-size:12px;}
              }
            }
          }
        }
      }
    }

  }
  .confirm_box,.test_result_box,.quit_test_msgbox					{ margin: 50% auto;
    .modal-header 												{ padding:20px 15px;
      .modal-title 											{ text-align: center; letter-spacing: 0.1rem; font-size: 16px;}
    }
    .modal-footer 												{
      button.btn 												{ letter-spacing: 0.2rem; padding: 15px 20px; height:auto; font-size: 13px;}
    }
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  #quiz_challenge 													{
    .quiz_challenge_inner 											{
      .body 														{
        .quiz_challenge_quiz_box 								{
          .quiz_boz_quiz 										{
            #progressquiz 									{ width:40%; display:block; margin:auto; position:relative;}
          }
        }
      }
    }
  }

}


@media only screen and (min-width: 768px) and (max-width: 900px) {

  #quiz_challenge 													{
    .body 															{
      .details_row 												{
        .profile_details 										{
          .profile_details_inner 								{
            .avg_stats 										{
              ul 											{
                li 										{
                  span.title 							{ font-size: 11px; line-height: 12px;  }
                }
              }
            }
            .overall_stats 									{
              ul 											{ overflow: hidden;
                li 										{ padding: 0 10px;  }
              }
            }
            .user_stats 									{ padding: 10px; padding-top: 50px; }
          }
        }
        .quiz_details 											{
          .quiz_details_inner 								{
            .tab-content 									{
              .subjects_block								{
                &.all_subjects 							{
                  .front 								{ background-size: 120px; }
                }
                .front, .back_							{ padding: 20px 10px; }
                img 									{ width: 70px; }
              }
            }
          }
        }
      }
    }
  }

}




@media only screen and (min-width: 1024px) {


}
