<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 login-form">


  <div class="login-form-midlle">
    <div class="login-form-midlle-block sign_up_box">
      <div class="loader_ hide"> </div>
      <h3>Join Today</h3>
      <p>Choose one of the following Sign-up methods</p>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6  col-xs-12"> <a  onclick="fb_login();" href="#" class="btn btn-facebook btn-block"><i class="fa fa-fw fa-facebook"></i> Facebook</a> </div>
        <div class="col-xs-12 col-sm-6 col-md-6  col-xs-12"> <a id="google_plus" onclick="startApp();" href="#" class="btn btn-google-plus btn-block"><i class="fa fa-fw fa-google-plus"></i> Google</a> </div>
        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
      </div>
      <div class="login-or">
        <hr class="hr-or"> <span class="span-or">or</span>
      </div>
      <!-- <p>sign up using your email address</p> -->
      <form role="form">
        <div class="error-message competition-message col-md-12 col-xs-12 margin0"></div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control form-control-middle firstnameinput" id="first_name" placeholder="First Name">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control form-control-middle" id="last_name" placeholder="Last Name">
            </div>
          </div>

          <label ></label>
        </div>
        <div class="form-group">
          <input type="number" class="form-control form-control-middle no-spin" maxlength="16" id="mobile_no" placeholder="Mobile Number">
        </div>
        <div class="form-group">
          <input type="email" class="form-control form-control-middle" id="email_address" placeholder="Email Address">
        </div>
        <div class="form-group">
          <input type="email" class="form-control form-control-middle" id="veritfyEmail" placeholder="Verify Email Address">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <input type="password" class="form-control form-control-middle password" id="signup_password" placeholder="Password">
            </div>
            <div class="col-md-6">
              <input type="password" class="form-control form-control-middle" id="verifypassword" placeholder="Confirm Password">
            </div>
          </div>
        </div>
        <button id="signup_btn" class="btn btn btn-primary btn-defult"> Sign Up </button>

      </form>
      <div class="login-help" id="alreadyuser"> <a routerLink="/login">Already a User ?</a> </div>
    </div>


    <div class="login-form-midlle-block padding0 detail_panel hide" id="verify_code">
      <h3>Six Digit Code</h3>
      <p>Check your e-mail. We have sent you a six digit confirmation code. Enter it below to verify your email. </p>
      <div class="error-message"> </div>
      <div class="body">
        <div class="form-group col-md-12 padding0 margin0">
          <input type="number" maxlength="6" class="form-control form-control-middle confirm_code no-spin" id="verifypass_code" >
        </div>
        <div class="form-group col-md-12 padding0 margin0">
          <button type="button" class="btn btn btn-primary btn-defult" id="submit_code">Continue</button>
        </div>
      </div>
    </div>

    <div class="login-form-midlle-block success_join hide">
      <div class="body" id="joinsuccess">
        <div class="icontw">
          <img height="30%" width="auto" src="assets/images/Top_Bug.svg">
          <!-- <i class="icon-Top_Bug"></i> -->
        </div>
        <h4>Thank you for joining Top Bug Education!</h4>
        <p>We hope you enjoy your experience.</p>
        <div class="error-message"> </div>
        <div class="btncenter resetcon">
          <button type="button" id="backtologin" class="next_fp btn-defult action-button">Continue
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
</div>
