@import '../../../assets/sass/variables';





$default_blue : #00aeed;
$default_green : #00ae8d;
$default_yellow: #f9bf51;
$default_red: #ed4b49;
$dark_blue : #014b70;
$sign_up_box_color : #1e6980;
$sign_up_button_color : #87ccba;
$default_font_size: 14px;
$default_gray: #999999;
$box_height: 150px;
$login_btn_color : #9ab7c5;


@mixin boxShadow() 									{ -webkit-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); -moz-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); }
@mixin calc($key, $value) 							{ #{$key}: -webkit-calc(#{$value}); #{$key}: -moz-calc(#{$value}); #{$key}: calc(#{$value}); }
@mixin rotateAngle($angle) 							{ transform: rotate($angle); -ms-transform: rotate($angle); -webkit-transform: rotate($angle); -o-transform: rotate($angle); -moz-transform: rotate($angle); transform-origin: center center; -ms-transform-origin: center center; -webkit-transform-origin: center center ; -o-transform-origin: center center; -moz-transform-origin: center center; }
@mixin transitionEffect($to,$duration,$type) 		{ -webkit-transition: $to $duration $type; -moz-transition: $to $duration $type; transition: $to $duration $type; }
@mixin zoomScale($value) 							{ -webkit-transform: scale($value); -ms-transform: scale($value); -o-transform: scale($value); transform: scale($value); }
@mixin boxShadow() 									{ -webkit-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); -moz-box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); box-shadow: 1px 1px 18px -6px rgba(0,0,0,0.75); }
@mixin sign_up_bg() 								{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004c6e+0,31818c+100 */
  background: #004c6e; /* Old browsers */
  background: -moz-linear-gradient(top,  #004c6e 0%, #31818c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #004c6e 0%,#31818c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #004c6e 0%,#31818c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c6e', endColorstr='#31818c',GradientType=0 ); /* IE6-9 */

}


.vwport 											{ width: 100%; height: 100%; }
.full_container 									{  @extend .vwport; height: auto;  }
// button.btn 											{ position: relative; z-index: 1; border:0; border-radius: 0;  outline: 0 !important;  box-shadow: none; @include transitionEffect(0.4s,all,ease);  padding: 10px 20px; color: #fff; }
.modal-backdrop 									{ background-color: #00679a;
  &.in 											{ filter: alpha(opacity=50); opacity: 0.6; }
}
.loader_inner 										{ background-image: url($image-path +"loader.gif") !important; background-size: 18px !important; background-repeat: no-repeat !important; background-position: 50% !important; transition: all 0s ease !important; }
.tnc_content 										{
  .nav 											{
    &.nav-tabs 									{ margin-bottom: 0; border-bottom: 1px solid rgba(221, 221, 221, 0.15);}
    li 											{
      &.active 								{
        a 									{ color: #fff; background-color: #19586b; border: 0; }
        &:hover 							{ background: transparent; }
    }
      a 										{ padding: 5px 15px; border: 0; color: #fff; @include transitionEffect(0.4s, all, ease);
        &:hover 							{ background-color: rgba(255, 255, 255, 0.1); border: 0; }
    }
  }
}
  .tab-content 									{ padding: 15px; height: 350px; overflow-y: scroll; overflow-x: hidden; background: rgba(255, 255, 255, 0.08);
    h3 											{ margin-bottom: 10px; font-size: 15px;}
    p 											{ font-size: 11px; line-height:18px; font-family: Montserrat-light; letter-spacing: 0.05rem;}
    .enjoy 										{ text-align:center;}
    a 											{ font-size: 11px; color:#fff; text-decoration:underline;}
}
}
.terms_n_conditions 								{ color: darken( #8dcab8,10% );
  &:hover 										{ color: darken( #8dcab8,15% ); }
}
.navbar  											{ background: #fff; border: 0; margin-bottom: 0; @include boxShadow();
  a.navbar-brand 									{ padding: 10px 15px;
    img 										{ width: 90px; }
}

  .nav 											{
    li 											{
      &:nth-child(1) 							{
        a i 								{ font-weight: 400;  }
    }
      a 										{ font-size: 25px; padding: 0 15px; font-weight: 600; line-height: 50px; color: $default_green;
        i 									{ font-weight: 400; }
        &:hover, &:focus 					{ color: darken($default_green, 10%);}
    }
  }
}
}


.clock_wrapper 										{ min-height: 600px; display: table; width: 100%;
  .clock_wrapper_span  							{ display: table-cell; vertical-align: middle; width: 100%; @include calc(height, "100vh - 168px");  padding-bottom: 50px;
    h2 											{ font-size: 35px; text-align: center; margin-bottom: 50px; color: #fff; }
    .clock 										{ width: 620px; display: block; margin: auto; }
    .flip-clock-divider .flip-clock-label 		{ font-size: 14px; font-family: Montserrat-Regular; color: #002435; }
}
}
.loader_ 											{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1005; background-color: rgba(247, 247, 249, 0.9); background-position: 50% !important; }
#login 												{ @include sign_up_bg(); }
.login 												{ @extend .vwport; padding: 50px 0;
  .login_inner 									{ margin-top: 60px;

    form.login_form 							{ float: none; margin-bottom: 80px;
      &.forgot_password 						{
        .login_form_inner 					{ padding: 40px 50px ; }
        .form-group 						{
          .form-control 					{ margin-bottom: 0; }
      }
    }
      h1 										{ text-align: center; color: #fff; margin-bottom: 35px; font-size: 27px;  }
      .head 									{ padding: 15px 10px; background: $dark_blue; font-family: Montserrat-light;  color: #fff; font-size: 13px; text-align: center; margin-bottom: 15px}
      .login_form_inner 						{ background: $dark_blue; padding: 50px; @include boxShadow();  }
      .form-group 							{ position: relative;
        &.pwd_screen 						{ margin-bottom: 5px; }
        label 								{ font-family: Montserrat-light;  font-size: $default_font_size+2; color: #fff; margin-bottom: 5px;  letter-spacing: 0.06rem; position: absolute; top: 7px; left: 30px; @include transitionEffect(0.2s,all,linear);
          &.active 						{ top: -16px; left: 15px; font-size: $default_font_size - 2; }
      }
        .form-control 						{ background: #559c9e; border: 1px solid #004b6f; font-size: $default_font_size+1; font-size: $default_font_size+1 ; color: #fff; border: 0; outline: 0; box-shadow: none; border-radius:0; height: 30px; padding: 3px 12px; margin-bottom: 12px;
          &.email							{ background: $login_btn_color; }
          &.password						{ background: #5a8aa1; }
          &:hover, &:focus 				{   }
      }
        ul.additional_links 				{ position: relative; top: 5px;
          li 								{ display: inline-block; font-size: 12px; margin-right: 15px; font-family: Montserrat-light;
            a 							{ color: $login_btn_color; text-decoration: none; cursor: pointer; letter-spacing: 0.05rem; font-size: $default_font_size - 1;
              &:hover 				{ color: darken($login_btn_color, 10%); }
          }
        }
      }
    }
      .error-message 							{ color:#ec494a; font-size:13px; padding-top:10px; font-family: Montserrat-light; line-height: 16px; text-align:left;

    }
      .competition-message 					{ color:#ec494a; font-size:13px; padding-top:10px; font-family: Montserrat-light; line-height: 16px; text-align:left;}
      button.login_btn 						{ font-family: Montserrat-light; background: $login_btn_color; margin: 0;  font-size: $default_font_size+1; color: $dark_blue; padding: 6px 30px; line-height: normal; border: 0; border-radius: 0;
        &:hover, &:focus 					{ background: darken($login_btn_color, 10%); }
    }
  }
}
}



#sign_up 											{ @include sign_up_bg(); }
.signup-bg 											{ position:fixed; @extend .vwport; background: #004c6e; /* Old browsers */
													background: -moz-linear-gradient(top,  #004c6e 0%, #31818c 100%); /* FF3.6-15 */
													background: -webkit-linear-gradient(top,  #004c6e 0%,#31818c 100%); /* Chrome10-25,Safari5.1-6 */
													background: linear-gradient(to bottom,  #004c6e 0%,#31818c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
													filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c6e', endColorstr='#31818c',GradientType=0 ); /* IE6-9 */}
.sign_up 											{ @extend .vwport;   padding: 50px 0; @include sign_up_bg();
  .sign_up_inner 									{ height: 100%; display: table;
    #msform 	 								{ text-align: center; position: relative;
      fieldset 	 							{ background: #2b5678; border: 0 none;  @include boxShadow(); padding: 20px 30px; box-sizing: border-box;  position: absolute; left: 15px;  @include calc(width, "100% - 50px ");
        .loader_ 							{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1005; background-color: rgba(8, 84, 115, 0.95); background-position: 50% 42% !important;
          div 							{ width: 100%;  height: 100%;  display: table; padding: 25px;
            h3 							{ display: table-cell; vertical-align: middle;  text-align: center; color: white; background: transparent; font-size: 13px; line-height: 16px; font-family: Montserrat-light; letter-spacing: 0.05rem; }
        }
      }
        &:not(:first-of-type) 				{ display: none; }
        ul 									{ text-align: left; padding-left: 15px; margin-bottom: 15px;
          li 								{ line-height: 24px; font-size: 13px;
            .checkbox  					{ margin: 30px 0;  padding: 5px;
              &.error 				{
                label 				{ color: #fff;
                  a 				{ color: #fff; }
              }
            }
          }
            label 						{ color: #8dcab8; min-width: 150px; line-height: 16px; }
            span 						{ font-size: $default_font_size; font-family: Montserrat-Regular; }

        }
      }
    }
      .check-panel 							{ margin-bottom:50px;}
      .action-button 							{ width: 100px; background-color: $sign_up_button_color ; color: #2e7587; border: 0 none; border-radius: 1px; cursor: pointer;  margin: 0 5px; padding: 8px; font-size: 14px;
        &:hover, &:focus 					{ background: darken($sign_up_button_color, 10%); }
    }
      .fs-title 	 							{ font-size: 15px; text-transform: uppercase; color: #2C3E50; margin-bottom: 10px; }
      .fs-subtitle 	 						{ font-weight: normal; font-size: 13px; color: #666; margin-bottom: 20px; }
      #progressbar 	 						{ margin-bottom: 40px; counter-reset: step;
        li 	 								{ list-style-type: none; color: white; font-family: Montserrat-light; font-size: 11px;letter-spacing: 0.06rem; width: 33.33%; float: left; position: relative;
          &:before 						{ content: counter(step); counter-increment: step; width: 20px; line-height: 20px; display: block; font-size: 10px; color: #333; background: white; border-radius: 3px; margin: 0 auto 5px auto; border-radius: 50%; }
          &:after  						{ content: ''; width: 86%; height: 2px; background: white; position: absolute; left: -43%; top: 9px; z-index: 1; }
          &:first-child:after 			{  content: none; }
          &.active:before, &.active:after { background: #278fae; color: white; }
      }
    }
      .payment_method 						{ margin-bottom: 0; }
      #agree_tc 								{ padding: 10px 18px; margin-top: 0; font-size: $default_font_size - 2; line-height: 15px; text-align: left; }

  }
    .sign_up_box								{ color: #fff; margin-top: 0; /*display: table-cell; vertical-align: middle; float: none; */
			h1 										{ margin-bottom: 30px; color: #fff; }
			h3 										{ margin-bottom: 20px;  background: #2b5678; padding: 10px 20px; }

			form 									{ background: #2b5678; padding: 30px;  }
			.form-group 							{ position: relative;
				label 								{ font-family: Montserrat-light; font-size: $default_font_size + 1; color: #fff; letter-spacing: 0.06rem; margin-bottom: 5px; position: absolute; top:8px; left: 30px; @include transitionEffect(0.2s,all,linear); z-index: 1001;
					&.active 						{ top: -16px; left: 15px; font-size: $default_font_size - 2;   }
				}

				.radio 								{ text-align: left;
					label 							{ position: relative; left: 0; top: 0; width: 100%; font-family: Montserrat-Regular;
						span 						{ background: #559c9e; display: block; width: 100%; padding: 8px 10px; font-size: 13px; }
						img 						{ position: absolute; right: 10px; top: 4px; height: 22px; }
						input[type=radio] 			{ margin: 10px 0px 0; left: 0;  }
					}
				}
				select 								{ letter-spacing: 0.05em;
					option 							{ letter-spacing: 0.05em; }
				}
				.form-control 						{ background: #559c9e;  font-size: $default_font_size+1 ; color: #fff; border: 0; outline: 0; box-shadow: none; border-radius:0; height: 30px; padding: 3px 12px; margin-bottom: 12px;

					&:hover, &:focus 				{   }
				}
				.form-control:focus + label			{ opacity: 0; }
				button.sign_up_btn 					{ background:$sign_up_button_color; color: #2e7587; font-size: $default_font_size+1;
					&:hover, &:focus 				{ background: darken($sign_up_button_color, 10%); }
				}
				ul.payment_term_details 			{
					li 								{ font-size: 11px; float: left; margin-right: 26px; list-style-type: square; }
				}
			}
  }
}
}

#msform 	 								{ text-align: center; position: relative;
  .head 									{ color: #333; text-align: left; font-size: $default_font_size+1; font-family: Montserrat-light; letter-spacing: 0.08rem;
    .error-message 						{
      p 								{ text-align: left; }
  }
}
  .body 									{
    .text_content 						{ text-align: left; font-family: Montserrat-light; font-size: $default_font_size + 1; line-height: 19px;
      &.top 							{ margin-bottom: 35px; }
      &.bottom 						{ margin: 15px 0 25px 0; }
  }
    .msgbox 							{ @extend .text_content; }
    .resetmsg 							{ text-align: center; margin-bottom:50px;}
    .resetcon 							{ text-align: center; padding:0;}

    .cancel_button 						{ padding-right: 5px;  padding-left: 0px;}
    .submit_button 						{ padding-right: 0px;  padding-left: 5px;}
}

  fieldset 	 							{
    &:not(:first-of-type) 				{ display: none; }
    ul 									{ text-align: left; padding-left: 15px;
      li 								{ line-height: 22px; font-size: 13px;
        label 						{ color: #333; min-width: 150px; }
        span 						{  }

    }
  }
}
  #step2, #step3 							{
    $margin-right: 10px;
    .step2btn  							{ @include calc(width, "50% - "+$margin-right/2);
      &.step2btn_l 					{ margin-right: $margin-right;  float:none;}
      &.step2btn_r 					{ margin-right: 0;}
  }
    .step3btn  							{ @include calc(width, "50% - "+$margin-right/2);
      &.step3btn_l 					{ margin-right: 0; }
      &.step3btn_r 					{ margin-right: $margin-right; float:none;}
  }
}

  .action-button 							{ font-family: Montserrat-light; width: 100%; background: $dark_blue;  border: 0 none; border-radius: 1.48rem; cursor: pointer; padding: 10px 20px; font-size: 14px; float: right;
    &:hover, &:focus 					{ background: darken($dark_blue, 5%); }
    &.continue, &.previous_btn			{ width: 50%; }
    &.previous_btn						{ background: #2e789c; }
}
  .btn-cancel 							{ background: #2e789c; font-family: Montserrat-light; width: 100%; border: 0 none; border-radius: 1.48rem; cursor: pointer; padding: 10px 20px; font-size: 14px; float: right; color:#fff; text-decoration: none;}

  .conbtn 								{ margin-right:0;}
  .fs-title 	 							{ font-size: 15px; text-transform: uppercase; color: #2C3E50; margin-bottom: 10px; }
  .fs-subtitle 	 						{ font-weight: normal; font-size: 13px; color: #666; margin-bottom: 20px; }
  #progressbar 	 						{ margin-bottom: 30px; overflow: hidden;  counter-reset: step;
    li 	 								{ list-style-type: none; color: white; text-transform: uppercase; font-size: 9px;letter-spacing: 0.05rem; width: 33.33%; float: left; position: relative;
      &:before 						{ content: counter(step); counter-increment: step; width: 20px; line-height: 20px; display: block; font-size: 10px; color: #333; background: white; border-radius: 3px; margin: 0 auto 5px auto; border-radius: 50%; }
      &:after  						{ content: ''; width: 90%; height: 2px; background: white; position: absolute; left: -45%; top: 9px; z-index: 1; }
      &:first-child:after 			{  content: none; }
      &.active:before, &.active:after { background: #278fae; color: white; }
  }
}
}

.forgot_password_box						{ color: #fff;; /*  min-height: 450pxdisplay: table-cell; vertical-align: middle; float: none; */
			h1 										{ margin-bottom: 35px; color: #fff; font-size: $default_font_size+13;   }
			h3 										{ margin-bottom: 0px;  background: #2b5678; padding: 10px 20px;  }
			p 										{ font-size:14px;}
			.btncenter 								{ text-align:center;}
			form 									{ background: $dark_blue; padding: 30px;  }
			.form-group 							{ position: relative;
				// label 								{ font-family: Montserrat-light;  font-size: $default_font_size+2; letter-spacing: 0.08rem; color: #fff; margin-bottom: 5px; position: absolute; top: 7px; left: 30px; @include transitionEffect(0.2s,all,linear);
				// 	&.active 						{ top: -16px; left: 15px; font-size: $default_font_size - 2; }
				// }

				// .radio 								{ text-align: left; margin-bottom: 20px; margin-top:0;
				// 	label 							{ position: relative; font-size: 14px; line-height: 20px; padding-left: 10px;  left: 0; width: 100%;
				// 		span 						{ background: #559c9e; display: block; width: 100%; padding: 8px 10px; font-size: 13px; }
				// 		img 						{ position: absolute; right: 10px; top: 4px; height:22px; }
				// 		input[type=radio] 			{ margin: 10px 0px 0; left: 0;  }
				// 	}
				// }

				.form-control 						{ font-family: Montserrat-light; border: 1px solid #004b6f; font-size: $default_font_size ; outline: 0; box-shadow: none; border-radius:1.48rem; height: 30px; padding: 3px 12px; margin-bottom: 20px;
					&:hover, &:focus 				{ }
					&.email							{ }
					&.password						{ }
					&.confirm_code  				{ letter-spacing: 0.8em; margin-bottom: 20px; /* border-radius: 1.48rem; */}
				}
				.form-control:focus + label			{ opacity: 0; }
				button.sign_up_btn 					{ background:$login_btn_color; color: #2e7587; font-size: $default_font_size+1;
					&:hover, &:focus 				{ background: darken($login_btn_color, 10%); }
				}
			}
}


.modal-title 										{ letter-spacing: 0.06rem; font-size: 14px; }
.checkout_confirm_box   							{
  &.tnc 											{ margin: auto; }
  &.large_box  									{
    .modal-dialog 								{ max-width: 700px; margin: 5% auto; }
}

  &.thank_you_box  								{
    .modal-body 								{  font-size: 18px; line-height: 23px; text-align: center; }
}
  .loader_ 										{ background-color: rgba(10, 103, 142, 0.96); left: 0; top: 0; background-position: 50% 28% !important; background-size: 23px !important;
    div 										{ width: 100%;  height: 100%;  display: table; padding: 25px;
      h3 										{ display: table-cell; vertical-align: middle;  text-align: center; color: white;  font-size: 14px; line-height: 16px; }
  }
}
  .modal-content 									{ border-radius: 0; font-family: Montserrat-light; border: 0; }
  .modal-dialog 									{ max-width: 450px; margin: 12% auto; }
  .modal-header 									{ background: darken($sign_up_box_color, 5%); color: #fff; border-radius: 0; padding: 10px 15px; border: 0; }
  .modal-body 									{ color: #fff; font-size: $default_font_size - 2; background: $sign_up_box_color; font-size: $default_font_size - 1; line-height: 15px;
    * 											{ letter-spacing: 0.06rem;  font-size: $default_font_size - 2;; line-height: 16px;  }
    button 										{ letter-spacing: 0;  font-size: $default_font_size - 1; }
    ul 											{ margin-bottom: 15px; font-family: Montserrat-Regular;
      li 										{ margin-bottom: 3px; letter-spacing: 0.06rem; font-family: Montserrat-light; }
  }
}
  .modal-footer 									{ border: 0; background: $sign_up_box_color;
    button.btn 									{ font-size: $default_font_size - 1; background: $sign_up_button_color; color: $dark_blue; font-family: Montserrat-Regular; display: block; margin: auto; line-height: 16px; padding: 8px 20px;
      &:hover, &:focus 						{ background: darken($sign_up_button_color, 15% ); }
  }
}
}
.boot_window 										{
  .modal-dialog 									{ margin: 10% auto;
    .modal-footer 								{ text-align:center; padding-bottom: 20px;
      .bootbtn 								{ display:inline-block!important; margin:0 6px!important; width:100px; }
      .bootbtn:hover                     		{ background: #63bda5;color: #014b70;}
  }
}
}
.nostyle  											{ color:#fff;}
.nostyle:hover 										{ color:#fff; text-decoration:underline;}
.failbox 											{
  .modal-footer 									{ padding:0 0 15px 0!important;  }
}
.checkoutpop 										{
  .bootbox-body 									{
    ul  										{ margin-bottom: 0 !important;}
}
  .modal-footer 									{ text-align: center; padding-top: 0;
    button 										{ display: inline !important;  margin-left: 10px !important; }
}

}

.btn_inline 										{
  .modal-footer 									{ text-align: center; padding-top: 0;
    button 										{ display: inline !important;  margin-left: 10px !important; }
}

}

.dialog_payment 									{
  .modal-footer 									{ display: none; }
}
.gift_popup 										{ padding: 0 6px; padding-top:0;
  .giftcard_inbox 								{ background: #559c9e;color: #fff; border: 0; outline: 0; box-shadow: none; border-radius:0; height: 30px; width:100%; padding: 3px 12px; margin-bottom: 15px; font-size: 14px; letter-spacing: 0.09rem; }
}

.bootbox-body  										{
  .loader_ 										{ width: 100%; height: 200%; position: absolute; top: 0; left: 0; z-index: 1000; background-color: rgba(8, 84, 115, 0.6); background-position: 50% !important;}
}

#modal.modal 										{ border: 0;  border-radius: 0 !important;
  * 												{ border: 0; border-radius: 0; box-shadow: none;}
  .modal-header 									{ background: $dark_blue; color: #fff; border-radius: 0; padding: 10px 15px; }
  .modal-body 									{ padding-left: 0;
    .form-group 								{ position: relative;  }
    label 										{ position: absolute; font-size: 15px; top: 9px; left: 12px; font-family: Montserrat-Regular; color: #fff;  }
    input 										{ background: $dark_blue; color: #fff; padding-left: 70px; }
    input[type='text']:-moz-placeholder 			 	{ color: rgba(255, 255, 255, 0.28); }
    input[type='text']::-moz-placeholder 		 		{ color: rgba(255, 255, 255, 0.28); }
    input[type='text']:-ms-input-placeholder 	 		{ color: rgba(255, 255, 255, 0.28); }
    input[type='text']::-webkit-input-placeholder 		{ color: rgba(255, 255, 255, 0.28); }

    .color_box 									{
      .color_palate 							{ height: 150px; width: 150px; border: 1px #dcdcdc solid !important; float: right; }
  }
}
  button.btn 										{ font-size: $default_font_size - 1; }
}

#modal_note 										{
  * 												{ border: 0; border-radius: 0; box-shadow: none; }
  .modal-header 									{ background: $default_red; color: #fff; border-radius: 0; padding: 10px 15px; }
  .modal-body 									{
    form 										{ width: 100%;
      .form-group 							{ position: relative;
      .form-control 							{ border-bottom: 1px #eee solid;  color: $default_green;
        &:hover, &:focus 					{ border-bottom: 1px darken(#eee , 15%) solid; }
    }
      textarea 								{ width: 100%; height: 100%; font-size: $default_font_size - 1;  }
  }
  }
}
  .modal-footer 									{ border: 0;
    button.btn 									{ font-size: $default_font_size - 1;  }
}
}

#modal_view_note 									{
  * 												{ border: 0; border-radius: 0; box-shadow: none; }
  .modal-header 									{ background: $default_red; color: #fff; border-radius: 0; padding: 10px 15px;
    .form-group 								{ margin: 0;
      input.form-control						{ background: transparent; color: #fff; border-bottom: 1px rgba(255, 255, 255, 0.2) solid; padding: 2px 10px; height: auto; }
      .form-control[disabled] 				{ cursor: default; border: 0; }
  }
    button 									 	{ position: absolute; right: 15px; }
}
  .modal-body 									{
    .form-control 								{ border-bottom: 1px #e0e0e0  solid; }
    .form-control[disabled] 					{ cursor: default; color: $default_green; background: transparent; border: 0;  }
}
}

.confirm_box  										{
  .modal-content 									{ border-radius: 0; }
  .modal-dialog 									{ max-width: 450px; }
  .modal-header 									{ background: $dark_blue; color: #fff; border-radius: 0; padding: 10px 15px; }
  .modal-body 									{ color: $dark_blue; font-size: $default_font_size - 1; }
  .modal-footer 									{ border: 0;
    button.btn 									{ font-size: $default_font_size - 1;  }
}



}
.btn-check , .btn-cancl								{ font-size: 13px; background: #87ccba; color: #014b70; margin: 5px; padding: 8px 20px; border-radius:0; font-family: Montserrat-Regular;
  &:hover, &:focus								{ background: #63bda5;color: #014b70;}
}




.paymentgateway   									{
  &.tnc 											{ margin: auto; }
  &.large_box  									{
    .modal-dialog 								{ max-width: 700px; }
}

  &.thank_you_box  								{
    .modal-body 								{  font-size: 18px; line-height: 23px; text-align: center; }
}
  .modal-content 									{ border-radius: 0; font-family: Montserrat-light; }
  .modal-dialog 									{ max-width: 600px; margin: 12% auto; }
  .modal-header 									{ background: darken($sign_up_box_color, 5%); color: #fff; border-radius: 0; padding: 10px 15px; border: 0; }
  .modal-body 									{ color: #fff; font-size: $default_font_size - 1; background: $sign_up_box_color; font-size: $default_font_size - 1; line-height: 17px;
    ul 											{ margin-bottom: 15px; font-family: Montserrat-Regular;
      li 										{ font-size: 12px; line-height: 19px; letter-spacing: 0.05em; }
  }
}
  .modal-footer 									{ border: 0; background: $sign_up_box_color;
    button.btn 									{ font-size: $default_font_size - 1; background: $sign_up_button_color; color: $dark_blue; font-family: Montserrat-Regular; padding: 8px 20px;     margin-bottom: 0; }
}
}

.delete_panel 										{
  .jBox-container									{
    .jBox-content 								{ padding: 0;  overflow: hidden;  }
      ul li 									{ color: $default_blue; padding: 3px 15px; font-size:  $default_font_size - 1 ;  cursor: pointer;
      &:nth-child(1) 							{ border-bottom: 1px $default_blue solid; }
  }
}

}
.jBox-container										{
  .jBox-content 									{
    .header 									{ padding: 10px; background:  $dark_blue; color: #fff;  font-size: $default_font_size - 1; }
    .color_pic 									{ display: inline-block; width: 20px; height: 15px; cursor: pointer; margin-top: 5px; margin-right: 5px; }

}
}
.btn_green 											{ background: $default_green;
  &:hover, &:focus								{ background: darken($default_green, 5%); color: #fff;}
}
.btn_red 											{ background: $default_red;
  &:hover, &:focus								{ background: darken($default_red, 5%); color: #fff;}
}

.btn_gray 											{ background: $default_gray;
  &:hover, &:focus								{ background: darken($default_gray, 5%); color: #fff;}
}

#study_area											{ padding: 80px 0 50px 0; color: #fff; font-size: $default_font_size;
  .header 										{ position: relative;
    button.btn 									{ background: #bfbfbf; position: absolute; top: 0;
      &:focus, &:hover 						{ background: darken($default_gray, 15%) }
  }
    h1 											{ text-align: center; width: 100%; color: $dark_blue;   }
}
  .content_body  									{ width: 100%; position: relative;
    .bookmarks 									{ width: 100%; height: 100%; }

}
  .left_block 									{
    .title 										{ background: $default_green; padding: 15px; margin: 15px 0; }
    .card 										{ display: table; position: relative; cursor: pointer; background: $default_red; height: $box_height; width: $box_height; margin-right: 10px; margin-bottom: 10px; @include transitionEffect(0.4s,all,ease); float: left;
      .folder_icon 							{ display: table-cell; vertical-align: middle; text-align: center; font-size: 80px;  padding-bottom: 10px; }
      .action_btns 							{ position: absolute; right: 10px; top: 10px; cursor: pointer;
        ul.dropdown-menu 					{ right: 0; min-width: 50px; left: inherit; padding: 0;
          li 								{
            &:nth-child(1) 				{ border-bottom: 1px $default_blue solid; }
            a 							{ color: $default_blue; padding: 3px 15px; font-size: 12px;
              &:hover 	 			{ background: $default_blue; color: #fff;}
          }
        }
      }
    }
      .folder_name 							{ position: absolute; width: 100%; bottom: 10px; left:0; padding: 0 10px; font-size: 12px; text-align: center; }
      &:hover 								{ @include zoomScale(1.05);  }
  }

}

  .right_block 									{
    .search_box 								{ margin-top: 15px;
      .form-group 							{ position: relative;
        input 								{ background: $default_gray; color: #fff; border: 0; border-radius: 0; height: 44px; @include transitionEffect(0.4s,all,ease);
          &:focus 						{ background: darken($default_gray, 15%); }
      }
        i 									{ position: absolute; top: 12px; right: 10px; font-size: 21px; }

        input[type='text']:-moz-placeholder 			 	{ color: #fff; }
        input[type='text']::-moz-placeholder 		 		{ color: #fff; }
        input[type='text']:-ms-input-placeholder 	 		{ color: #fff; }
        input[type='text']::-webkit-input-placeholder 		{ color: #fff; }
    }
  }

    .action_box 								{
      .box 									{ background: $default_gray; text-align: center; height: 200px; cursor: pointer; width: 100%; margin-bottom: 10px; display: table; @include transitionEffect(0.4s,all,ease);
        .inner 								{ display: table-cell; vertical-align: middle;
          i 								{ margin-bottom: 10px; font-size: $default_font_size*6; display: block;  }

      }
        &:hover 							{ background: darken($default_gray, 15%); }

    }
  }
}

}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:none !important;
}
// .select2-container--default .select2-selection--single	{ border: 0;  border-radius: 0; height: 30px; background: #559c9e; text-align: left; font-size: 14px; }
// .select2-container--default .select2-selection--single .select2-selection__rendered { color: #fff;  line-height: 30px;  }
// .select2-container--default .select2-selection--single .select2-selection__arrow b 	{ border-color: #fff transparent transparent transparent }
// .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #fff transparent; }
// .select2-dropdown 										{ background-color: #559c9e; border: 1px solid rgba(255, 255, 255, 0); border-radius: 0; }
// .select2-results__option 								{ font-size: 13px;  color: #fff; letter-spacing: 0.05rem; font-family: Montserrat-light; }
// .select2-container--default .select2-results__option--highlighted[aria-selected],
// .select2-container--default .select2-results__option[aria-selected=true]  	{ background-color: #3b7e80; }
// .select2-container--default .select2-search--dropdown .select2-search__field{ border: 1px solid #fff; padding: 3px; color: #fff; background: transparent; }
// .select2-container 										{ width: 100% !important; }
// .select2-dropdown 										{ z-index: 10051; }
// .select2-search .select2-search--dropdown 				{ display: none; }
.tab-content::-webkit-scrollbar-track {
  background-color: #19586B;
} /* the new scrollbar will have a flat appearance with the set background color */

.tab-content::-webkit-scrollbar-thumb {
  background-color: lighten(#19586B, 3%);
} /* this will style the thumb, ignoring the track */

.tab-content::-webkit-scrollbar {
  width:  15px;
}


/*
* Dilan Styles
*/

html 														{height: 100%;}
/*
body 														{height: inherit; font-family: 'Montserrat', sans-serif; letter-spacing: 1px; font-size: 16px; background: #f6f7f8; }
*/

.login-form-image 											{ height: 100%; display: table; /* background: #004b6f; */}
.login-form-object 											{ width:100%; height: 100%; float: left; background-image: url($image-path +"vector-smart-object.png"); background-repeat: no-repeat; position: absolute; left:0;}
.login-form-background 										{ width: 100%; display: table-cell; vertical-align: middle;}
.login-form-background-middle 								{ width: 70%; margin: 0px auto 50px auto; vertical-align: middle; z-index: 10; position: relative;
  h1 														{ font-family: Montserrat-Regular; font-size: 30px; margin-top: 25px; color: #fff; }
  img 													{ display: block; margin: auto; width: 200px; }
}

.login-form 												{ height: 100%; display: table; background: #f6f7f8;
  @font-face {
    font-family: 'icomoon';
    src:  url($custom-icon-path +'/icomoon.eot?63o1ua');
    src:  url($custom-icon-path +'/icomoon.eot?63o1ua#iefix') format('embedded-opentype'),
    url($custom-icon-path +'/icomoon.ttf?63o1ua') format('truetype'),
    url($custom-icon-path + '/icomoon.woff?63o1ua') format('woff'),
    url($custom-icon-path +'/icomoon.svg?63o1ua#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



  .icon-tw:before {
    content: "\e900";
  }
  .icon-notification:before {
    content: "\e901";
  }
  .icon-message:before {
    content: "\e902";
  }

  a 															{color: #004b6f;}
  button 														{width: 100%; border-radius: 0px;}

  .login-form-midlle 									{ width: 70%; margin: auto; display: table-cell; vertical-align: middle; font-size: 14px; line-height: 16px;
    .login-form-midlle-block 						{ width: 60%; margin: auto;
    h3 	 											{ font-size: 27px; line-height: 30px; font-family: Montserrat-Regular; }
    h4 	 											{ font-size: 19px;  }
    .finalmsg 										{ text-align:center; margin-top:20px;
      .iconthumbs 								{ font-size:45px; color:$dark_blue;}
      p 											{ text-align:center; margin: 20px 0; font-size: $default_font_size+3; line-height:21px;}
  }
    .error-message 									{
      p 											{ line-height: 16px !important; margin-bottom: 15px; font-size: 13px; text-align: center; color: #e03113; margin-top:0!important;}
  }
    p 												{ line-height: 18px; margin: 15px 0; font-family: Montserrat-light; }
    .forgot_password_box 							{
      .emailbox 									{ margin-bottom:15px; font-family: Montserrat-light; border-radius: 1.48rem; font-size: 14px !important; border: 1px solid #004b6f; color: #004b6f !important; box-shadow: none;}
  }
    .confirm_code									{margin-bottom:15px;}
    #joinsuccess 									{ text-align:center;
      p 											{ margin: 20px 0; }
      .icontw 									{ margin-bottom:20px;}
      i											{ font-size:45px; color:$dark_blue;}
      h4 											{ font-family: Montserrat-light; font-weight:600; padding:15px;}
  }

}
}

  .login-or 												{position: relative; font-size: 18px; color: #aaa; margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px;}
  .span-or 												{display: block; position: absolute; left: 50%; top: -2px; margin-left: -25px;   background-color: #f6f7f8;  width: 50px; text-align: center;}
  .hr-or 													{background-color: #cdcdcd; height: 1px; margin-top: 0px !important; margin-bottom: 0px !important;}
  .btn 													{border-radius: 0px;}

  .form-control-middle 									{ font-family: Montserrat-light; border-radius: 0px; font-size: 14px !important; color: #004b6f !important; box-shadow: none; background-color: #cbd4d8; border-radius: 1.48rem;/* border: 1px solid #004b6f; */
    &.error 											{ border: 1px #ed4b49 solid; background: #fff !important;
      &:hover, &:focus								{ background-color: #fff; border: 1px solid darken(#ed4b49, 15%); outline: 0;  }
  }
    &:hover, &:focus									{color: #495057; background-color: #fff; border: 1px solid #1f82b1; outline: 0; }
}

  .btn-defult 											{font-family: Montserrat-light; color: #fff; background-color: #004b6f; border-color: #004b6f; line-height: 12px; border-radius: 1.48rem;
    &:hover 											{color: #fff; background-color: #043046; border-color: #043046;}
}

  .btn-facebook 											{border-radius: 1.48rem; color: #fff; background-color: #135096; line-height: 12px; border-color: #135096; padding: 12px; font-size: 14px; height: 38px; line-height: 12px;
    &:hover 											{ background-color: #134279; border-color: #134279;}
}


  .btn-google-plus 										{ border-radius: 1.48rem; color: #fff;  background-color: #d1432a; line-height: 12px; border-color: #d1432a; padding: 12px; font-size: 14px; height: 38px; line-height: 12px;
  &:hover 											{ background-color: #89231a; border-color: #89231a;}
}

  #alreadyuser 											{
    a 													{ padding:0; margin-top:15px;
      i 												{ font-size: 15px;}
  }

}

  #txt_email 												{ font-weight:800;}
  #resettitle  											{ margin:20px 0 15px 0;}
  #optionemail 											{ padding:0;}
  .choosemail 											{ padding:15px; margin-bottom:15px;}
  .chooseoption_radio 									{
    #resetmail                                         	{ margin-bottom:10px;
      input[type=radio]                               { visibility:visible; -webkit-appearance:none; width:15px; height:15px; border:2px solid $dark_blue; border-radius:50%; outline:none; box-shadow:none; }
      input[type='radio']:before                      { content:''; display:block; width:100%; height:100%; margin:0;  border-radius:50%;}
      input[type='radio']:checked:before              { background:$dark_blue;}
    }
}

  .login-help 											{ margin-top: 16px; text-align: center; font-size: 12px; color: #004b6f; padding: 2% 0px 0px; letter-spacing: 0px; font-weight: 500;
    a 													{ font-family: Montserrat-light;
      &:first-child 									{ padding: 0px 10px 0px 0px;}
      &:hover 										{ color: #207fad;}
  }
}

  .loader 												{ color: transparent; display: table; background-image: url($image-path +"loader.gif"); background-size: 30px; background-repeat: no-repeat; background-position: 50%; position: absolute; z-index: 1001; height: 100%; width: 100%; top: 0; left: 0; background: rgba(255, 255, 255, 0.92);
    .saving 											{ display: table-cell; vertical-align: middle;
      h3 												{ color: #004c71; font-size: 19px; text-align: center; }
      span 											{ animation-name: blink;  animation-duration: 1.4s;  animation-iteration-count: infinite;  animation-fill-mode: both; font-size: 26px;
        &:nth-child(2) 								{ animation-delay: .2s; }
        &:nth-child(3)  							{ animation-delay: .4s; }
    }
  }
}

}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
font-size:14px;
  font-family: Montserrat-light;
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $dark_blue;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid $dark_blue;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: $dark_blue;
  position: absolute;
  top: 6px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}


@keyframes blink {
/**
 * At the start of the animation the dot
 * has an opacity of .2
 */
0% {
opacity: .2;
}
/**
 * At 20% the dot is fully visible and
 * then fades out slowly
 */
20% {
opacity: 1;
}
/**
 * Until it reaches an opacity of .2 and
 * the animation can start again
 */
100% {
opacity: .2;
}
}






@media (min-width: 992px) {
body {height: inherit;}
}

@media (max-width: 992px) {
.form-container {width: 100%; margin: auto; height: 100%;}
.login-form-midlle-block {width: 80% !important;}
.btn-facebook {margin-bottom: 20px;}
}

/* @media (max-width: 767px) {
    .form-container 								{width: 100%; margin: auto; height: inherit; background-color:#42bcf4;
	 .information-screen							{
		.infor_img 									{margin-top: 41%; margin-left: 11%;
		  .img-responsive							{width: 277px;}
		}
	 }
    }

} */
