<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 login-form">
  <div class="login-form-midlle">
    <div class="login-form-midlle-block">
      <!-- <div class="loader"> </div> -->
      <h3 id="forgotpassword_title">Forgot Password</h3>

      <div class="row hide">
        <div class="col-xs-6 col-sm-6 col-md-6 col-xs-12"> <a href="#" onclick="fb_login();" class="btn btn-facebook btn-block"><i class="fa fa-fw fa-facebook"></i> Facebook</a> </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-xs-12"> <a href="#" id="google_plus" class="btn btn-google-plus btn-block"><i class="fa fa-fw fa-google-plus"></i> Google</a> </div>
      </div>

      <div class="login-or hide">
        <hr class="hr-or"> <span class="span-or">or</span>
      </div>

      <form id="msform" class="forgot_password_box" >

        <fieldset class="col-lg-12 col-md-12 padding0 detail_panel firstfl" id="reset_email">
          <div class="loader_ hide"></div>
          <div class="head">
            <p>To reset your password please provide your e-mail address to continue.</p>
            <div class="error-message"> </div>
          </div>

          <div class="body">
            <div class="margin0 password pass">
              <input type="email" class="form-control password emailbox" placeholder="Email Address" id="email_address" spellcheck="false">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 cancel_button">
              <a routerLink="/login" class="btn-cancel">Cancel</a>
            </div>
            <div class="form-group margin0 col-xs-6 col-sm-6 col-md-6 submit_button">
              <button type="button" class="next_fp action-button reset-btn col-xs-12 col-sm-6 col-md-6" id="action_btn">Submit</button>
            </div>

            <!-- <div class="form-group margin0">
                                     <button type="button" class="next_fp action-button reset-btn" id="action_btn">Submit</button>
                                   </div>  -->

            <div class="clearfix"></div>
          </div>
        </fieldset>

        <fieldset id="reset_type" class="col-lg-12 col-md-12 padding0 detail_panel scondfl" >
          <div class="loader_ hide"></div>
          <div class="head">
            <p id="resettitle">Reset your password?</p>
            <div class="error-message"> </div>
          </div>
          <div class="body">
            <div class="form-group col-md-12 padding0 margin0 password pass choosemail">
              <ul class="padding0" id="optionemail">
                <li>
                  <div class="radio chooseoption_radio">
                    <input type="radio" name="optradio" class="resetradio" id="resetmail" checked="checked"><label for="resetmail" class="resetopt">Email me a code to reset my password<div id="txt_email" >..</div></label>
                  </div>
                  <!-- <div class="radio">
                                            <input type="radio" name="optradio" class="resetradio" id="resetmobile"><label for="resetmobile" class="resetopt" >Text me a code to reset my password <div id="txt_tel" >..</div></label>
                                      </div> -->
                </li>
              </ul>

              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-12 padding0 margin0 btns" id="step2">
              <button type="button" class="col-xs-6 col-sm-6 col-md-6 step2btn_l previous_fp previous_btn action-button step2btn" id="action_btn">Previous</button>
              <button type="button" class="col-xs-6 col-sm-6 col-md-6 step2btn_r next_fp continue action-button step2btn" id="action_btn">Continue</button>
            </div>

            <div class="clearfix"></div>
          </div>
        </fieldset>

        <fieldset class="col-lg-12 col-md-12 padding0 detail_panel" id="mobile_validation">
          <div class="head">
            <p>Check your e-mail. We have sent you a six digit confirmation code. Enter it below to reset your password. </p>
            <div class="error-message"> </div>
          </div>
          <div class="body">
            <div class="form-group col-md-12 padding0 margin0">
              <input type="text" maxlength="6" class="form-control confirm_code" id="confirm_code" >
            </div>
            <!-- <div class="text_content bottom col-md-12">
                                  <p>We sent you *****8 </p>
                              </div> -->
            <div class="padding0 margin0" id="step3">
              <button type="button" class="next_fp conbtn continue step3btn_l step3btn action-button col-xs-12 col-sm-6 col-md-6" id="action_btn">Continue</button>
              <button type="button" class="previous_fp previous_btn step3btn_r step3btn action-button col-xs-12 col-sm-6 col-md-6" id="action_btn">Previous</button>
            </div>

            <div class="clearfix"></div>
          </div>
        </fieldset>

        <fieldset class="col-lg-12 col-md-12 padding0 detail_panel fourthfl" id="forgot_password">
          <div class="loader_ hide"></div>
          <div class="head">
            <p>Please submit your new password.</p>
            <div class="error-message"> </div>
          </div>
          <div class="body">
            <div class="form-group col-md-12 padding0 margin0 password form_password">
              <input type="password" class="form-control password" placeholder="New Password" id="new_password" >

              <input type="password" class="form-control password" placeholder="Retype New Password" id="retype_new_password" >

              <button type="button" class="next_fp resetsucess action-button con" id="action_btn">Continue</button>
              <!-- <button type="button" class="previous_fp action-button">Previous</button> -->
            </div>

            <div class="clearfix"></div>
          </div>
        </fieldset>

        <fieldset class="col-lg-12 col-md-12 padding0 detail_panel" id="sucess_msg">
          <div class="head">
            <div class="finalmsg">
              <span class="iconthumbs glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              <p>Your password has been successfully changed.</p>
              <div class="error-message"> </div>
            </div>
          </div>
          <div class="body">
            <div class="col-md-12 col-md-offset-12 margin0 btncenter resetcon">
              <button type="button" id="backtologin" class="next_fp action-button">Continue
              </button>
            </div>
            <div class="clearfix"></div>
          </div>
        </fieldset>

      </form>


      <div class="clearfix"></div>
      <!-- <div class="login-help" id="alreadyuser"> <a href="/login/"><i class="fa fa-angle-double-left"></i> Back</a></div> -->
    </div>
  </div>





</div>
